[2022-08-03 11:17] edewit commented on #2958
The problem is not the sub groups tab itself but the roles, this is a know issue that will need some server side changes to be fixed. I've created a PR that will fix the group tab by not rendering the sub tabs only on entering them.

[2022-08-03 11:38] MushroomSquad opened #3437 "Trying to setup authorization in next cloud by keycloak"
### Describe the bug

Trying to setup authorization in next cloud by keycloak.
can't generate normal new keys for clients
Get "keytool error: java.security.KeyStoreException: Unrecognized keystore format. Please load it with a specified type" errore when run:" keytool -list -rfc  -alias <alias> -keystore keystore.jks -storepass <pass> "
Also have that error with keystore explorer
![изображение](ht

[2022-08-03 12:17] edewit commented on #2727
I've checked this issue and it seems almost everything is fixed the extra field can be created in the admin ui, it shows up when registering the user and it can be saved the value of the fields can be seen in the admin ui and they can be edited.

One issue remains it's not view-able / edit-able in the account UI

[2022-08-03 12:20] mmadoo opened #3436 "Hosted Domain option for google identity provider is no more accessible with new admin console"
### Describe the bug

With old admin console there is the option "Hosted Domain"  for google identity provider
![image](https://user-images.githubusercontent.com/1867448/182605727-83222896-06fc-4064-9970-95121bf8addd.png)

With new admin console, I could not found this option
![image](https://user-images.githubusercontent.com/1867448/182605975-88abfd7d-f812-45c3-a2a9-a5fc638457dd.png)

### Version

[2022-08-03 13:26] edewit commented on #2953
Well @xianli123 it did work like this in the old console, that you can't remove English is only enforced in the new UI

[2022-08-03 13:35] ssilvert commented on #2953
Not having English as a choice for end users is definitely a valid use case.  We will need to fix this one way or another.

[2022-08-03 13:58] hmlnarik opened #3041 "Unable to Import Client with SAML XML Metadata"
### Describe the bug

Quoting [original post](https://keycloak.discourse.group/t/unable-to-import-client-with-saml-xml-metadata-19-0/16715/1):

This is a regression from legacy admin UI

### Version

19.0.1

### Expected behavior

Import new client works with SAML XML descriptors

### Actual behavior

SAML XML descriptors are not parsed

### How to Reproduce?

1. Go to Import client page
2. Upload

[2022-08-03 14:52] ikhomyn opened #3043 "Unable to remove multiple items in Clients -> Clients Scopes. Remove button doesn't work"
### Describe the bug

Having selected multiple items in Clients -> Client Details -> Clients Scopes. Unable to remove them, as the button doesn't perform any action. It is enabled but doesn't do anything.

![Screenshot from 2022-08-03 14-39-45](https://user-images.githubusercontent.com/89014675/182638577-0f96fc34-bae1-4617-a78a-57856b802d87.png)

### Version

19.0.1

### Expected behavior

_No res

[2022-08-03 15:03] ikhomyn opened #3044 "Getting page not found after changing to old keycloak theme."
### Describe the bug

Getting page not found page after changin back to old keycloak theme. Same error page appears if changing from keycloak to keycloak.2 theme.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Having keycloak.2 theme active.
1. Go to Realm Settings -> Themes
2. Set as below:
  Login theme -> keycloak
  Account

[2022-08-03 18:14] ssilvert commented on #2727
@edewit, Agi is working on a better implementation of this for new admin console.  It will automatically generate the proper fields on the User Details tab so you don't have to set them manually on the attributes tab.  It will also choose the component based on the attribute specifications.  For instance, an attribute might need a dropdown instead of a generic input field.

In fact, all User Profi

[2022-08-03 19:11] ssilvert commented on #3041
This should be relatively easy for us to implement.  There is a "client-description-converter" endpoint that processes the XML on the back end.  So it should be easy to do the same way the old console does it.

[2022-08-04 06:14] edewit commented on #3041
This functionality is still there you just need to throw the switch (use entity descriptor) to use the upload instead as the flow of this is a bit different now:
![image](https://user-images.githubusercontent.com/51133/182776077-1f5f8411-d7c8-4a4f-83b4-3745013dbfb9.png)

[2022-08-04 06:53] hmlnarik commented on #3041
@edewit The user wants to configure a client based on descriptor regardless of it being SAML or OIDC. When it was possible to do it in the previous admin console, why has a different, more complex approach, been taken in the new admin UI?

Per the original request, it leads to the confusion indicating that this functionality has been removed completely. This translates to a very bad user experienc

[2022-08-04 06:59] vpmuli opened #3048 ""Unexpected token u in JSON at position 0" error when opening identity provider mappers created in a previous Keycloak version"
### Describe the bug

The new admin UI displays "Unexpected token u in JSON at position 0" error when opening identity provider mappers created in a previous Keycloak version, for example 18.0.2. This prevents the user from viewing or editing the mapper.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

- Create an identity provi

[2022-08-04 08:06] ignaciostellino opened #3834 "Not getting credentials when calling users find()"

[2022-08-04 08:33] edewit commented on #1969
This is already done:
![image](https://user-images.githubusercontent.com/51133/182802123-1d1e8434-0694-4186-9ba2-81909c2638a3.png)

[2022-08-04 08:37] MarkusTStecher opened #3050 "Missing Options "Use PKCE" and "PKCE Method" in new Admin UI"
### Describe the bug

In new Admin UI the options "Use PKCE" and "PKCE Method" are missing when creating/editing an Identity provider of type "OpenID Connect v1.0". In old admin UI these options were available (see screenshots)

Old UI:
![Old_UI](https://user-images.githubusercontent.com/11982402/182802528-f8947cb3-b734-4a38-89bb-920024c84d52.png)

New UI:
![New_UI](https://user-images.githubuserc

[2022-08-04 09:00] edewit commented on #2983
I can't reproduce this, seems this has been fixed

[2022-08-04 09:03] #2949 closed

[2022-08-04 09:39] edewit commented on #3004
Right I guess it should be the other way around only the first field can't be deleted

[2022-08-04 09:42] edewit commented on #3004
That way you can always return to the initial state:
![image](https://user-images.githubusercontent.com/51133/182816444-a8e664ef-1e86-46b0-8849-e89eb7b6ebab.png)

[2022-08-04 09:52] edewit commented on #2816
There is no notion of bind type yet, this needs to be added to the server side first

[2022-08-04 10:10] #3029 closed

[2022-08-04 10:11] ShanaSkydancer commented on #2511
I'm using the latest version of KeyCloak and I'm sorry but I still don't see where you're meant to add the client mapper?

There is no proper documentation on this and the UI has changed a lot for answers I find from a year ago..

[2022-08-04 10:27] dominikkawka commented on #2983
Check #3053

[2022-08-04 11:08] #3041 closed

[2022-08-04 11:13] jonkoops commented on #2511
@andymunro Perhaps this is a feature that needs to have some improved documentation? See the comment above.

[2022-08-04 12:14] #2983 closed

[2022-08-04 15:03] dominikkawka commented on #2044
@xianli123
It seems to have been fixed, it won't let me go down to negative numbers

![image](https://user-images.githubusercontent.com/31955648/182880463-f8aad74b-e401-40a5-aa8b-80fff7cd5315.png)

[2022-08-04 15:15] jonkoops commented on #2044
@dominikkawka I can still change them to negative values by manually changing the value with the keyboard.

I have to say that the UX here is quite poor though, I would not expect this to be several numerical inputs. Instead I would expect two date-like inputs with fields horizontally.

[2022-08-04 15:18] #3003 closed

[2022-08-04 15:18] #3034 closed

[2022-08-04 18:34] andymunro commented on #2511
Hey, @ShanaSkydancer.   Sorry that it's not clear how to add the client mapper. Yes everything has changes. Anyway, here is the related section of the new documentation.  If it's not clear what to do, let me know and we will make some updates to clarify or improve it.

[2022-08-04 19:32] ssilvert commented on #3048
@vpmuli Thanks for reporting.

Note: You don't have to downgrade to 18.0.2 to see the bug.  You only need to create the mapper with the old console and then go to the new console and view it.

[2022-08-04 23:34] thomasdarimont opened #3057 "Homepage URL is wrong in Client list in ClientSection"
### Describe the bug

If a client configures a `rootUrl` and relative `baseUrl`, then the homepage URL in the client list is wrong.

With Keycloak running on `http://localhost:8080` and the following client configuration:
[code]

![image](https://user-images.githubusercontent.com/314690/182972669-07a1f33e-da21-42f6-b792-a1ceadfd2d96.png)

Yields the following url:

![image](https://user-images.git

[2022-08-04 23:43] thomasdarimont commented on #3057
I fixed it in the linked PR with a custom `cellRenderer: ClientHomePage`. However perhaps instead of showing the actual URL in the client list (which can get quite long), I'd propose to just render a `Go to client` link caption for the homepage link.

[2022-08-05 05:46] nxpthx opened #3434 "AuthenticatorConfig configuration broken in new admin UI"
### Describe the bug

When editing Authentication flows, the configuration of Authenticator is broken in the new admin UI

- not all properties defined in "getConfigProperties" are shown anymore
- the shown properties are stored upon creation
- when the config is edited the field contents are returned in a different json structure then the frontend expects it, therefore default values are shown in

[2022-08-05 08:24] mattiaspantzare opened #3061 "The new GUI does not support -http-relative-path"
### Describe the bug

When I use --http-relative-path /auth the new GUI makes calls to a path without /auth.

It makes this call (and fails):
http://localhost:9090/admin/realms/master/localization/en?useRealmDefaultLocaleFallback=true
it should probably be
http://localhost:9090/auth/admin/realms/master/localization/en?useRealmDefaultLocaleFallback=true

### Version

19.0.1

### Expected behavior

[2022-08-05 09:16] #3024 closed

[2022-08-05 09:16] #3004 closed

[2022-08-05 10:19] SebastianLng opened #3059 "User Storage Provider settings not visible in admin UI"
### Describe the bug

I am currently trying to migrate my User Storage SPI implementation to keycloak 19. I have a small test project where I tried to port the storage provider according to the migration guides first. This means, as I understand it, using the legacy packages and using the LegacyUserCredentialManager for the user class. The keycloak 19 storage provider seems to work in in principal

[2022-08-05 13:28] ssilvert commented on #3057
That's a good idea.  The downside is that the table will look a little weird with the same 'Go to client' link in every row.  And you might want to see the actual URL.

An alternative would be to render a shortened version of the URL with a "..." on the end.  Then you hover to see the full URL.

But either way, I'd prefer to just fix the broken part for now and do the enhancement later.

[2022-08-05 13:39] thomasdarimont commented on #3057
@ssilvert thanks for taking a look - I'm not sure I got all cases for the hompeage url rendering right. I'll give this another spin later.

[2022-08-05 13:47] #2988 closed

[2022-08-07 09:21] sventorben opened #3532 "New admin console looses (custom) config data on save IdP config"
### Describe the bug

I have implemented a custom authenticator which needs to store some config information per identity provider. When opening the identity provider configuration page, the custom config data is present in the response from the server.

![image](https://user-images.githubusercontent.com/12183470/183283616-86ad1bfd-7fd9-449c-a217-39480edce3b1.png)

When I save the identity provide

[2022-08-08 06:52] xianli123 commented on #1969
Oh, sorry, I got the SAML and OIDC mixed up. I will create a new issue for SAML advanced settings.

[2022-08-08 06:52] #1969 closed

[2022-08-08 07:09] horus commented on #3048
Almost the same here. I constantly got one of the following:
- `JSON Parse error: Unexpected identifier "undefined"` (Safari)
- `"undefined" is not valid JSON` (Chrome)
- `JSON.parse: unexpected character at line 1 column 1 of the JSON data` (Firefox)

The object with `config.claims` field defined still made the error show up.
In my case it was probably caused by the absent of `config.attributes`

[2022-08-08 07:36] edewit commented on #3059
fixed in https://github.com/keycloak/keycloak-admin-ui/pull/3042

[2022-08-08 07:36] #3059 closed

[2022-08-08 07:51] edewit commented on #3048
duplicate of #3022 addressed by #3035

[2022-08-08 07:52] edewit commented on #3044
Anybody an idea on how to solve this?

[2022-08-08 08:05] edewit commented on #2961
It's doing this when brute force detection is enabled it will show the status of the user in the list, this will be improved when the api is updated to return this together with the user query

[2022-08-08 08:35] xianli123 commented on #2044
Hi @jonkoops , It is a good idea, but the PF4 can't support that kind of component. I found the PF4 has a numerical inputs component that can fill in negative values, FYI https://www.patternfly.org/v4/components/number-input#varying-sizes. Could we use this component?

[2022-08-08 08:45] xianli123 commented on #2816
Yes, this issue can be taken into consideration in the 19.0 release. I will set this issue with the milestone "After initial launch". Thanks!

[2022-08-08 08:48] xianli123 commented on #3004
Hi @edewit @jonkoops I think it will be better if each value can be removed. What do you think?

[2022-08-08 08:51] ikhomyn commented on #3044
It seems themes urls need to be adjusted on login redirection.
Current realm settings theme url for each version is:
- keycloak:      http://localhost:8180/admin/master/console/#/realms/master/theme-settings
- keycloak.v2: http://localhost:8180/admin/master/console/#/master/realm-settings/themes

[2022-08-08 10:06] #3043 closed

[2022-08-08 10:29] edewit commented on #2044
Can't do a date component as we are not setting two date and time, but rather part of a date. For instance I could fill out only a month to make this policy apply only when in specified month. One could leave the other fields blank.

[2022-08-08 10:33] edewit commented on #2834
They where added because people couldn't get where these buttons where for

[2022-08-08 10:49] edewit commented on #1883
This is the behaviour we have everywhere, is this really something that we need to change? @xianli123 ?

[2022-08-08 10:51] edewit opened #3077 "Cancel button wrong variant"
### Describe the bug

Create client profile page has a cancel button with the wrong type it's `primary` instead of `link`

### Version

main

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-08 10:57] ghenadiibatalski opened #3533 "Admin Console 2: Multi-Valued User Attributes can not be edited well"
### Describe the bug

The ## syntax for multi-valued user attributes doesn't work any more. Instead, the desired attribute is listed multiple times. Which is fine. But if i add a new value and save it, the older values disappear and  only the new one value preserves. Could you please fix this behavior or explain, how to edit multi-valued user attributes properly with the new admin 2 console.

Many

[2022-08-08 10:59] #1718 closed

[2022-08-08 11:14] jonkoops commented on #2044
@edewit Yeah, what I mean is that I would expect the following:

- Two rows labelled 'From' and 'To' each containing the following fields in columns:
  - A drop-down filled with the names of the month (localized for user).
  - A drop-down filled with possible days of the month (not taking into account leap years).
  - A [time picker](https://www.patternfly.org/v4/components/time-picker) to select

[2022-08-08 13:08] xianli123 commented on #1883
OK. We can use the same interaction as the other places to keep the same experience.

[2022-08-08 13:27] ssilvert opened #3080 "OIDC Identity provider has ugly choices for `Client authentication`"
### Describe the bug

Dropdown choices are using internal values like, `clientAuthentications.client_secret_basic`.

The dropdown should show friendly choices like in the old console.  For instance, `Client secret sent as basic auth`.

### Version

20.0.0-SNAPSHOT

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_N

[2022-08-08 13:31] dominikkawka opened #3081 "There is no spacing between the table row and navigation."
### Describe the bug
There is no spacing between the table row and navigation

User -> User Details -> Credentials

![image](https://user-images.githubusercontent.com/31955648/183428467-8531734d-2ee8-4d2e-aef4-2cc2dd810bae.png)

### Version

19

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-08 21:43] #1883 closed

[2022-08-08 21:45] #3077 closed

[2022-08-08 21:46] #3050 closed

[2022-08-09 08:23] jonkoops commented on #3004
Can you log a new issue for it Kun?

[2022-08-09 08:27] #2953 closed

[2022-08-09 08:29] danielFesenmeyer opened #3082 "Identity provider "Sync Mode" not visible"
### Describe the bug

I tried to configure "Sync Mode" `force` for an Identity Provider. In the old admin UI, there was a combobox, where I could select one of the different modes (`force`, in my case).
In the new Admin UI, that combobox is hidden by the "save/revert" overlay and I can not access it (without dev tools).

### Version

19.0.1

### Expected behavior

The "Sync Mode" combobox should b

[2022-08-09 08:29] jonkoops commented on #1895
@xianli123 @dominikkawka can this issue be closed?

[2022-08-09 08:32] #3022 closed

[2022-08-09 08:36] jonkoops commented on #2044
I think it doesn't matter as you are still selecting a time either way.

[2022-08-09 08:39] rpahli opened #3083 "Google Identity Provider hosted Domain parameter not visible"
### Describe the bug

The `hostedDomain` parameter for google is not visible in he UI and cannot be configured.

### Version

19.0.1

### Expected behavior

for google IP the `hostedDomain` parameter should be visible.

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-09 09:30] ikhomyn commented on #3044
Hi @edewit , I been trying to find some solution for this.
And what I can see is before logout, in authenticationSession uri, is already set poiting to current place where the user is with current theme. And on next login it redirect to that uri, which no longer exists on different theme, as it differ from previous theme.

So I created this commit https://github.com/ikhomyn/keycloak/commit/8a75595

[2022-08-09 09:39] #3061 closed

[2022-08-09 10:09] kingluo opened #3433 "Failed to import Signing Key of SAML client"
### Describe the bug

In 19.0.1 version, when I import the signing key in jks format, keycloak does not report any error, but the Certificate textarea shows the old content, which is the original auto-generated version. I tried sereval times and cannot import the key.
And when I export the client profile to check again, I found the imported key is assigned to encrypt key (even if the encrypt optio

[2022-08-09 11:26] edewit commented on #3004
but @xianli123 when I remove the last field there will be nothing left? Is that what you want like this:
![image](https://user-images.githubusercontent.com/51133/183636177-8783f748-ee72-42f3-b46c-4dcce3f13312.png)

[2022-08-09 12:04] #3048 closed

[2022-08-09 18:40] ssilvert opened #3089 "Implement extension mechanism for social providers"
### Describe the bug

The old admin console has an extension mechanism for social providers.  This means that for those social providers that support extra attributes, the console dynamically adds those extra attributes to the form.

Looks like we left this out in the new console?

See Freemarker templates ending with `*-ext.html` in https://github.com/keycloak/keycloak/tree/main/themes/src/main/r

[2022-08-09 18:56] ssilvert commented on #3082
I'm on Chrome version Version 103.0.5060.134 (Official Build) (64-bit) and Sync Mode works fine.  It also seems to work ok on FireFox.

The dropdown appears above the field rather than below.  (The dropdown actually "drops up")

Can you try on a different browser to see what happens?

[2022-08-09 18:58] ssilvert commented on #3083
@rpahli Thanks for reporting.  I'm closing this as a duplicate of https://github.com/keycloak/keycloak-admin-ui/issues/3089

[2022-08-09 18:58] #3083 closed

[2022-08-09 19:24] neuromantik33 opened #3090 "Admin2: Fine Grained permissions/policies are ignored"
### Describe the bug

I've recently migrated from 16.x to 19.0.1 using the legacy wildly non-quarkus distribution provided using the legacy keycloak operator.
It seems that our fined grained permissions are no longer applicable when using the default admin2 web UI, as users can now list users in a group but not view their settings.
![screenshot](https://user-images.githubusercontent.com/19826274/1

[2022-08-09 21:48] ssilvert commented on #1104
Someone fixed this along the way.  Closing.

[2022-08-09 21:48] #1104 closed

[2022-08-09 21:49] ssilvert commented on #1103
Someone fixed this along the way.  Closing.

[2022-08-09 21:49] #1103 closed

[2022-08-10 02:17] xianli123 commented on #1895
@jonkoops yes, let me close it.

[2022-08-10 02:17] #1895 closed

[2022-08-10 04:40] xianli123 commented on #2044
The time picker can select a time. But how to select a period of time? What do you think? @jonkoops

[2022-08-10 04:45] xianli123 commented on #3004
Hi @edewit  No. We should allow users to delete one specific field(including the last one), not all fields.

[2022-08-10 05:42] #3081 closed

[2022-08-10 11:31] danielFesenmeyer commented on #3082
Checked it also on Firefox (103.0 (64-bit)) and with newer Chrome Version (Version 104.0.5112.79 (Official Build) (64-bit)).
In all cases the dropdown is hidden by the "save/revert"-overlay.

Btw, I'm using Ubuntu 20.04.2 LTS. And my screen resolution is 1920 x 1080.

[2022-08-10 16:09] cooper-lyt opened #3432 "Flow Item Config property setting Dialog UI error"
### Describe the bug

Any Flow item change config property value, after reopen config dialog, value display error.

### Version

19.0.1

### Expected behavior

show property value

### Actual behavior

value is empty

### How to Reproduce?

Authentication > Any Flow > Open any config Dialog > input value > save > reopen dialog > value is empty!

if input a new value then throw exception.

### Anyt

[2022-08-10 23:33] ssilvert commented on #3090
@neuromantik33 What roles are you assigning to the user?  I assume `query-users` only?

I believe it's a pretty simple one-line fix.  If you can build the app and run it yourself I can attach a diff and let you try it.  Just need to change access for that page from `view-users` to `query-users`.

Here is the diff in a zip file:
[user.zip](https://github.com/keycloak/keycloak-admin-ui/files/9305104

[2022-08-10 23:34] ssilvert commented on #3090
You can build and run using the instructions in the readme
https://github.com/keycloak/keycloak-admin-ui

[2022-08-11 08:40] edewit commented on #3082
fixed by https://github.com/keycloak/keycloak-admin-ui/pull/3053

[2022-08-11 08:40] #3082 closed

[2022-08-11 09:17] danielFesenmeyer commented on #3082
Thanks for the info :)

[2022-08-11 11:19] ikhomyn opened #3092 "Signing keys config & Encryption keys config are missing after they enabled."
### Describe the bug

I have enabled and generated keys for SAML client: "Signing keys config" & "Encryption keys config" but when navigating back to the Keys page (not using tabs) they are shown as disabled.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Go to Clients -> Create SAML client
2. Go to Clients -> Clients Detai

[2022-08-11 13:05] mposolda opened #3093 "LDAP provider: Buttons "Test connection" and "Test authentication" expects whole form to be filled"
### Description

In the old admin console, when I opened the page for creating new LDAP provider and filled the "Connection URL" and then pressed "Test connection" button, the old admin console was able to use the URL to test if the connection to LDAP server works.

However new admin console hassles that some fields in the form (EG. Bind DN, Bind Credentials) are not filled. IMO it should be possi

[2022-08-12 13:35] cfBrianMiller commented on #3022
@jonkoops When will a release deployed that includes the changes made in #3035 ?

[2022-08-13 10:14] jonkoops commented on #3022
We're expecting a patch release in the next couple of weeks.

[2022-08-13 13:53] jonkoops opened #3096 "The 'Root URL' hint text in the client details is missing"
![A screenshot showing the missing hint field](https://user-images.githubusercontent.com/695720/184497229-8d7c63bd-6293-4910-81c4-8cea1ceeb252.png)

[2022-08-13 13:55] jonkoops commented on #3096
@dominikkawka if you have some time could you look into this issue? The contents of the hint should be the same as in the old console.

[2022-08-14 13:17] chuegel opened #3097 "Realm Email doesn't default to port 25"
### Describe the bug

Email configuration of the realm doesen't use the default port:

![image](https://user-images.githubusercontent.com/6955465/183929263-e9eaeda7-7877-433f-bbd9-296b2780557f.png)

### Version

19.0.1

### Expected behavior

Emails should be able to be send with the default port 25 but it needs to be explicitly set

### Actual behavior

Keycloak tries to send mails without a port

[2022-08-15 07:21] tkucuk opened #3431 "TR localization does not work as expected"
### Describe the bug

Hi all,

keycloak admin UI does not render correctly if my session have this cookie KEYCLOAK_LOCALE: "tr".

All of these TR localization files throw 404 error(s). Please check the fiddler error log;

/auth/resources/dkh6s/admin/keycloak.v2/resources/tr/clients.json
/auth/resources/dkh6s/admin/keycloak.v2/resources/tr/clients-help.json
/auth/resources/dkh6s/admin/keycloak.v2/r

[2022-08-15 08:32] #2523 closed

[2022-08-15 08:42] dominikkawka commented on #3096
I've created a PR for this issue, #3107

[2022-08-15 09:41] pboehm opened #3108 "Realm and client role names are mangled in the page header"
### Describe the bug

Roles containing `:` are not displayed "as is" in the role page header which is confusing. For roles containing colons the header only contains the text after the first colon and all other colons are replaced with dots.

![image](https://user-images.githubusercontent.com/665684/184612094-2c9117e2-95fb-4c6c-9a3d-cfb47098cb3a.png)

### Version

19.0.1

### Expected behavior

Ro

[2022-08-15 10:19] #3096 closed

[2022-08-15 10:43] jonkoops commented on #2044
If you have two separate rows and add a label to the side with 'From' and 'To' I think it should be user-friendly enough to be understood.

[2022-08-15 10:44] jonkoops commented on #2044
@xianli123 Perhaps you can sketch something up so we can refine a design?

[2022-08-15 12:29] #2926 closed

[2022-08-15 13:37] xianli123 commented on #2044
Hi @jonkoops  I updated some pages of the time policy based on your suggestions, here is the link. FYI https://marvelapp.com/prototype/5f4da5a/section/1664888

[2022-08-15 13:38] dominikkawka commented on #3037
Looks like a part of this was mentioned in issue #1781

[2022-08-15 13:59] ssilvert commented on #3090
@neuromantik33 I've now submitted a PR which fixes your problem as I understand it.  This does fix an issue I found, but it would be great to get some verification.

[2022-08-15 14:03] dominikkawka commented on #1881
Seems to already have been fixed.
#3078 #3077
![image](https://user-images.githubusercontent.com/31955648/184649971-0d721588-020a-4f0a-bc25-56664832d136.png)

[2022-08-15 14:16] tkautenburger commented on #3090
@ssilvert Thanks for the PR. I think that change alone does not do it. It fixes the issue that a fine-grained admin with manage-members rights on the group can view, update, and delete the existing members of the group. It would also be cool, if that admin could add new members to the group. I tried to apply the same fix in Users.ts and AddUser.ts but without luck. The new admin console other than

[2022-08-15 14:26] jonkoops commented on #1881
Yeah this seems to have already been resolved, closing this issue.

[2022-08-15 14:26] #1881 closed

[2022-08-15 14:30] jonkoops commented on #2044
@xianli123 Nice, that looks a lot better already. However, from what I am seeing in this functionality we cannot use actual date fields as no year is ever really selected.

Perhaps we can replace them with two drop-downs, one with the name of the month and the other with the days of that month?

[2022-08-16 02:27] xianli123 commented on #3004
Yes. If there are multiple values, the first value can also be removed.

On Mon, Aug 15, 2022 at 8:31 PM Erik Jan de Wit ***@***.***>
wrote:

--

Xiankun Li

Interaction Designer (UXD Team)
<https://red.ht/sig>

[2022-08-16 02:55] xianli123 commented on #2044
Do you mean to choose the month and day together like the screenshot below?
<img width="619" alt="Screen Shot 2022-08-16 at 10 53 13" src="https://user-images.githubusercontent.com/53931519/184788307-7a058276-4bdf-41bf-bad1-74d2979755a9.png">

[2022-08-16 08:56] jonkoops commented on #2044
Exactly!

[2022-08-16 09:11] djairhogeuens commented on #2989
@ssilvert I'm a bit confused as I saw you changed the milestone for this issue to 20.0.0. Does this mean that it won't be included in a next patch release?

[2022-08-16 09:38] xianli123 commented on #2044
I think that would break the logic. If we choose both the month and the day, we can only choose one time period. In the old console, this was not the case.

For example, on the old console, the user could set it to be valid from March to May, and only from the 10th to the 20th of each of the three months. This allows users to set the months to March through May and the days to 10 through 20.

If t

[2022-08-16 09:58] jonkoops commented on #2989
Most likely we will include all the work on `main` in a patch release as we landed a lot of important fixes. The milestone is only a placeholder for what will be prioritized next.

[2022-08-16 10:35] neuromantik33 commented on #3090
@ssilvert Sorry for the delay (holiday weekend here in France).. I'll try to test within the week.. However as @tkautenburger pointed out, our multitenancy uses groups and fine-grained authz and if our users are unable to create users but just assign them roles, the new reactive UI will be a showstopper for that as well. But I'll try to deploy your fix (I still need to build keycloak and package i

[2022-08-16 10:54] #3080 closed

[2022-08-16 12:17] edewit opened #3128 "Create tests for home page url rendering"
### Description

See #3058 create a unit test for the function introduced by that PR

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-08-16 12:18] #3057 closed

[2022-08-16 13:37] jonkoops commented on #1756
Fixed in #3116

[2022-08-16 13:37] jonkoops commented on #1754
Fixed in #3116

[2022-08-16 13:37] #1754 closed

[2022-08-16 13:37] jonkoops commented on #1753
Fixed in #3116

[2022-08-16 13:37] #1753 closed

[2022-08-16 13:44] #3090 closed

[2022-08-16 16:23] nathmo commented on #3059
hey @SebastianLng  did you try with the old theme ? i had a similar issue and it turned out to be the theme that was set to keycloak.v2 instead of keycloak

[2022-08-16 18:32] sls89 commented on #3097
I can verify this issue. I had a quick look into the code and in `EmailTab.tsx` the serverSettings will not be validated, so if "port" is not set, it will be set to 0.

I added a check if the port is 0, but I'm sure there are better solutions to this (just as a hint for the one who is going to fix that)

[code]

[2022-08-16 19:34] ssilvert commented on #3097
@chuegel Can you check my PR #3129 to see if it works for you?

[2022-08-17 07:15] valentin-ok opened #3241 "Keycloak.v2 theme User Federation - LDAP provider Sync Registration Missing"
### Describe the bug

In the keycloak.v2 theme the toggle for "Sync Registrations" in the LDAP Provider setup page is missing.

It's listed as a feature and configuration option in the documentation for version 19.
https://www.keycloak.org/docs/latest/server_admin/#other-configuration-options

With best regards
Valentin

### Version

Quarkus 19.0.1

### Expected behavior

version: 17

![gAX77](htt

[2022-08-17 07:24] juanjoi-empathy opened #3130 "Hidden roles editing a policy"
### Describe the bug

When trying to edit an existing role policy, the roles already assigned are not visible in the interface.

### Version

19.0.1

### Expected behavior

The list of roles assigned to an existing policy should be listed in the edit view, in order to be able to remove them, or just know that those roles are there.

### Actual behavior

In the edit view of an existing policy, you

[2022-08-17 08:33] ikhomyn commented on #1786
Hi, @yih-wang
This one it seems to be fixed. Currently span element with the text has: --pf-global--FontSize--md. Which is 1rem.

[2022-08-17 08:39] ikhomyn commented on #1784
Hi,
I tried to reproduce this one, but currently seems it is working as expected
![Untitled](https://user-images.githubusercontent.com/89014675/185074237-983cc40d-e87c-458d-a482-6367a0da223b.png)

[2022-08-17 09:17] chuegel commented on #3097
Can't check as Keycloak is running in K8s in an production environment. For now, we set the port manually

[2022-08-17 12:28] ssilvert commented on #3097
That's OK.  I've verified that the new admin console sends the same request as the old console.  That should be enough.

Thanks for reporting this, btw.

[2022-08-17 13:00] benzitohhh opened #3430 "pagination / search conflict"
### Describe the bug

In the Keycloak admin UI...

When showing lists of items (i.e. Users, Roles, Groups), searchbox only works if we are in the first page.

For example, suppose page size is 10.

If we are in the first page (results 1-10), we can enter a filter in the search box, and get results ok.

But if we move to the second page (11-20), and then type in the search box...

* Either no resul

[2022-08-17 13:09] Vespasian opened #3131 "User search in the authorization evaluation UI is broken"
### Describe the bug

When I search for users in the Authorization evaluation screen the query is ignored and only the first (alphabetically sorted) users are returned.

![Screenshot from 2022-08-17 15-04-03](https://user-images.githubusercontent.com/7491275/185141853-099c5efe-13c4-4948-b82b-6f5261fdfb5a.png)

In the Network View I can see that the "correct" query is sent by the frontend but the r

[2022-08-17 14:13] benzitohhh opened #3429 "Weird descriptions (${...}) for roles"
### Describe the bug

In Keycloak admin UI "Realm roles" page...

The default role for our realm (Cipher) has a weird description:
[code]
<img width="1495" alt="185155988-92bd4b42-a6bb-480b-aa98-79530d7fecd6" src="https://user-images.githubusercontent.com/861758/185162208-7972ef2d-1e63-464a-8dba-5f10bcfa5846.png">

Also various other role descriptions are rendered in this way, for example here via

[2022-08-17 16:59] #3097 closed

[2022-08-18 06:59] edewit commented on #3059
@nathmo right that is what the issue is about that it didn't work in keycloak.v2, but it's fixed now

[2022-08-18 07:25] edewit commented on #3044
Right that would be a way to fix that, nice

[2022-08-18 09:02] ikhomyn opened #3135 "Unable to set Client consent screen text in Client Settings"
### Describe the bug

When both options are enabled **Consent required** & **Display client on screen** , **Client consent screen text** input is disabled making impossible to set value.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Go to Clients -> Clients Details -> Settings tab
2. Enable **Consent required** & **Display

[2022-08-18 10:28] jonkoops commented on #3108
Fixed by #3127

[2022-08-18 10:28] #3108 closed

[2022-08-18 10:54] ikhomyn opened #3138 "Getting error page when policy name is empty"
### Describe the bug

If delete Policy Name input in [Realm settings] -> [Client policies] -> Policy details it will bring you to error page with error:
```Danger alert:Expected "policyName" to match "[^\/]+?", but received ""```

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Go to [Realm settings] -> [Client policies] -> P

[2022-08-18 12:21] dominikkawka commented on #3135
I'll take a quick look into this

[2022-08-18 15:44] tkautenburger opened #3141 "Better fine-grained permission support"
### Description

GIVEN I am an administrator that has access to the new Keycloak-Admin-UI
AND I have fine-grained permissions assigned to manage-members of sub-group /OU/ABC
AND I have fine-grained permissions assigned to manage-memberships of sub-group /OU/ABC
WHEN I access the user overview table page
AND press the "Add User"
THEN I want to see and use the User Details View to enter my user data

[2022-08-18 15:47] tkautenburger commented on #3090
Created new issue here:  #3141

[2022-08-18 18:09] ssilvert commented on #3141
@tkautenburger Thanks for the detailed description.  That is extremely helpful.

[2022-08-18 19:39] ssilvert commented on #3141
@tkautenburger I see the error, but I want to make sure my configuration is the same as yours.

Which `realm-management` roles do you have assigned to the user?
I'm assuming that you only give it `query-users` and `query-groups`?

[2022-08-18 20:39] tkautenburger commented on #3141
@ssilvert Yes that is correct. The "user admin" has a `query-users` and `query-groups` roles for the `realm-management` client. For the fine-grained permissions the following scope-based permissions are set on a manageable group resource:

- `manage-members`
- `manage-memberships`
- `view`

In the classic interface user admins could either choose to manage users from the user table or look into th

[2022-08-19 04:33] hongquyen196 opened #3180 "Cannot update user on new Keycloak Administration Console theme"
### Describe the bug

Hi guys,
I am using Keycloak 19 for my project to manage users. I found the bug that the user's firstname, and lastname unable to update.

Let's see the below video:

[Keycloak Administration Console.webm](https://user-images.githubusercontent.com/25485764/185541335-bb9ecaf3-8ea5-40de-acaa-9e488e06f9a8.webm)
![Keycloak Administration Console](https://user-images.githubusercon

[2022-08-19 06:58] drsmile1001 opened #3161 "Admin console "supported locales" dropdown doesn't show custom added language."
### Describe the bug

By following [Server Developer Guid](https://www.keycloak.org/docs/latest/server_development/#adding-a-language-to-a-realm), I added "zh-TW" (Traditional Chinese or 正體中文) to my custom theme.

The new language doesn't show up in dropdown menu.
![圖片](https://user-images.githubusercontent.com/11384864/185559264-f841832b-8cf9-49e9-848b-95115d29676b.png)

I add "zh-TW" by directly

[2022-08-19 07:56] xianli123 commented on #2044
Hi @jonkoops , what do you think of the new design?

[2022-08-19 09:15] #1889 closed

[2022-08-19 11:57] #3092 closed

[2022-08-19 12:12] edewit commented on #2748
So I guess we can close this issue?

[2022-08-19 12:14] edewit commented on #2958
new PR #3095 will also fix the loading of the roles

[2022-08-19 14:26] ikhomyn commented on #2748
Hi @edewit,

I just added here an example of that issue reproduced here. It is weird that it allows to add user and saying it was added but actually it was not. Not sure if we can close? let me know WDYT?

![Peek 2022-08-19 16-21](https://user-images.githubusercontent.com/89014675/185639635-6b1b1d21-95bc-4095-9101-ea2b33c8b5e7.gif)

[2022-08-20 08:10] #2986 closed

[2022-08-21 00:27] rmoqpd5t opened #3162 "Clicking on SAML mapper in new Admin console results in error "Unexpected token u in JSON at position 0""

[2022-08-22 06:33] xianli123 opened #3154 "[UX Review] Right arrow will lead to an empty page"
### Describe the bug

There is an error as shown in the screenshot below. When clicking the right arrow of the pagination to the next page, it will get an empty page. It doesn't make sense, because there should be some data to display.

<img width="1146" alt="Screen Shot 2022-08-22 at 13 10 56" src="https://user-images.githubusercontent.com/53931519/185845138-731538e4-0d57-458a-bd7f-52c51ed15e0c.p

[2022-08-22 10:03] Ekouyoja opened #3428 "Can't add Annotations in user profile attributes"
### Describe the bug

In User profile tab -> choose attributes -> Button "Add an attribute" is hidden by the footer page (save - cancel)
If you hide the footer div then you can see the button "Add an attribute"

### Version

19.0.1

### Expected behavior

![image](https://user-images.githubusercontent.com/16814142/185894865-e7641a42-6976-483d-811d-c3e038a4585e.png)

### Actual behavior

![image](h

[2022-08-22 11:06] ikhomyn commented on #1346
![Screenshot from 2022-08-22 13-02-40](https://user-images.githubusercontent.com/89014675/185906283-89c40286-5d9e-4ff4-9772-a901b5fe528c.png)

![Screenshot from 2022-08-22 13-02-47](https://user-images.githubusercontent.com/89014675/185906278-517dd1b1-8de9-4bb4-b0cb-bee016d9de11.png)

Hi Stan,
I tried to reproduce it but for me it works using tab navigation + hit Enter key. I tried with Chrome & F

[2022-08-22 11:27] ikhomyn opened #3156 "Idp OIDC header name is empty after tab navigation"
### Describe the bug

When navigating between the tabs is [Identity providers] -> Provider details. Header idp name is showing empty.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Go to **Identity providers**
2. Add **Keycloak OpenID Connect** provider
3. In order to add just disable **User discovery point**. And set for e

[2022-08-22 11:51] ikhomyn opened #3157 "Removing all associated roles will navigate to empty page."
### Describe the bug

After all associated roles are removed, it will lead to empty page, as the tab **Associated Roles** is not longer available.

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Go to Realm Roles -> Role list -> Create role
2.  Put any name and Save
3. Actions -> Add associated roles
![Screenshot from 2022-0

[2022-08-22 14:01] #3138 closed

[2022-08-22 15:09] #3128 closed

[2022-08-22 15:43] jonkoops commented on #3041
@cesdperez could you log a separate issue for this? It helps us keep track of these kind of issues.

[2022-08-22 16:07] jonkoops commented on #2958
@edewit since that PR has been merged, can this issue be closed?

[2022-08-22 16:08] jonkoops commented on #2044
@xianli123 let's do a call tomorrow, or perhaps we can discuss this during the team meeting?

[2022-08-22 16:10] jonkoops commented on #1784
Since this is working as expected I am closing this issue.

[2022-08-22 16:10] #1784 closed

[2022-08-22 16:11] jonkoops commented on #1786
Can confirm this seems to be fixed, closing the issue.

[2022-08-22 16:11] #1786 closed

[2022-08-22 18:51] ssilvert commented on #1346
Looks like this is working now for the "Leave" link.  Closing.

[2022-08-22 18:51] #1346 closed

[2022-08-22 20:09] ssilvert opened #3163 "Group search endpoints don't return access."
### Describe the bug

When we search for groups, the returned group entities do not include the `access` attribute.

So the only way to see the fine-grained access is to do a GET on the single group like this:
`http://localhost:8180/admin/realms/test/groups/1cc6a85b-0c4d-4911-8fb4-bc3debf4b1b4`

This returns the fine-grained access attribute, which looks like this:
`"access":{"view":true,"manage":

[2022-08-22 20:19] ssilvert opened #3164 "Group search is confusing"
### Describe the bug

On the Groups page, there is a search box.  However, this really isn't a search for groups.  It's really a filter for the search that was already returned.

To do an actual search of all the groups, you have to go to the Action menu.  And worse, it is named `Search group` instead of `Search for groups`.

First, we need to make it clear that the initial page is showing a view

[2022-08-23 04:43] xianli123 commented on #3154
@ikhomyn Awesome. Thanks for providing such elaborate details.

[2022-08-23 04:47] xianli123 commented on #2044
Ok, we can discuss it in the UI team meeting.

[2022-08-23 08:42] edewit commented on #2958
Can we keep it open as I'm not 100% sure that it's fixed I would like to know from @christopheblin that the fixes we added actually fix this problem as my data set is not optimal

[2022-08-23 09:43] christopheblin commented on #2958
Unfortunately, I will not be able to test KC 19 before some time (we have not completed our migration to 18 yet so I suppose we wont use KC 19 at all)

feel free to close this issue if you think that the fixes should be enough, I'll reopen new issues if needed

[2022-08-23 09:53] jonkoops opened #3168 "Add tests for custom identity providers"
Tests will need to be added for the custom fields introduced for identity providers under #3167.

[2022-08-23 09:55] #3135 closed

[2022-08-23 10:30] edewit commented on #3041
@cesdperez I can not reproduce this would it be possible for you to attach the file that you used to test this with?

[2022-08-23 10:46] agagancarczyk opened #3171 "Accessibility/Screen Recorder: Missing/undetected labels for toolbar items"
### Describe the bug

The screen recorder is not detecting the following items in the toolbar (as per the image):
1. Hamburger img
2. Keycloak img
3. Question mark icon

![Screenshot 2022-08-23 at 11 36 37](https://user-images.githubusercontent.com/4890675/186138551-788738aa-be7c-4fc2-9c65-cc34d15e2574.png)

### Version

19.0.0

### Expected behavior

The screen reader reads items in the toolbar.

[2022-08-23 10:56] agagancarczyk opened #3172 "Accessibility: Zooming in on the resolution opens a side panel/menu obscuring the content"
### Describe the bug

This bug is present when a user is trying to zoom in on the resolution using (ctrl ++) and the side panel/menu opens covering the content the user is trying to read.

### Version

19.0.0

### Expected behavior

The side panel/menu shouldn't cover the content the user is trying to read.

### Actual behavior

The side panel/menu covers the content the user is trying to read.

#

[2022-08-23 11:30] agagancarczyk opened #3173 "Accessibility/Tabbed Navigation/Up-Down Arrow: Not able to access all dropdown items"
### Describe the bug

If a separator exists in a menu, (realm switcher, the user menu) it is not possible to reach the items after it in forms mode e. g. using the down arrow. Does not however happen for the actions menu in the Realm settings.

Affected dropdowns as per attached img.
![Screenshot 2022-08-23 at 12 14 18](https://user-images.githubusercontent.com/4890675/186144720-48bee397-c1db-4f62

[2022-08-23 13:01] edewit opened #3174 "Time policy in authorisation is broken"
### Describe the bug

Trying to create a time based policy with repeat on doesn't work I get a `unkown_error`. Also if I create a Time based policy in the old console with "repeat" on it will not be shown as such in the new ui.

### Version

main

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-23 13:34] agagancarczyk opened #3176 "Accessibility/Alerts: Making alerts read automatically"
### Description

The alerts (success, error etc.) are for a screen reader at the bottom of the page and would be useful if read automatically, e. g. had some `aria-live` attribute or something along these lines.

### Discussion

_No response_

### Motivation

This enhancement was reported by a tester testing Admin UI accessibility in v 19.0.0.

### Details

_No response_

[2022-08-23 14:10] #3171 closed

[2022-08-23 14:33] jonkoops opened #3178 "Enable skipped tests in `clients_test.spec.ts`"
Some tests for the clients have been skipped due to instability or are just plain broken. Someone needs to go through them and re-enable the skipped tests, fixing them in the process.

[2022-08-23 14:34] jonkoops commented on #3178
@Aboullos @ikhomyn could one of you take a look at this?

[2022-08-23 14:37] #3157 closed

[2022-08-23 18:40] ssilvert commented on #3089
@jonkoops I just remembered that we need to go ahead and add the extra attribute for LinkedIn as shown in https://github.com/keycloak/keycloak/pull/13429.

I didn't see it in your PR so I'm reopening.

[2022-08-23 19:47] ssilvert commented on #3141
@tkautenburger I think the PR I just submitted should get you back to being able to add users with a permitted group.  Please try it out if you can.

Like you said, there is still some more work to do in the group section.  We are implementing some back end changes so I can make that a little nicer.

[2022-08-24 04:29] rmoqpd5t commented on #3162
This issue was resolved for me in Keycloak - Version 999-SNAPSHOT. Appreciated. Thank-you.

[2022-08-24 05:20] edewit commented on #3176
But they already have this:
![image](https://user-images.githubusercontent.com/51133/186335349-78f6c677-839b-4eef-aab2-c0cb820d08c6.png)

[2022-08-24 07:07] edewit commented on #2958
Okay then we will close this issue, I've tested it with a lot of groups, don't know for sure but if not we can always revisit this

[2022-08-24 07:07] #2958 closed

[2022-08-24 07:16] hongquyen196 commented on #3180
Hi @pedroigor, I do not enable the User Profile on Realm settings. I am using the default.
You can see in my Admin events:
1. 2 events of user representation:
![image](https://user-images.githubusercontent.com/25485764/186354141-4f3c2cbf-a994-4f52-8342-fa830a0bdec7.png)
2. The first event to update firstName, lastName is successful:
![image](https://user-images.githubusercontent.com/25485764/18635

[2022-08-24 07:53] tkautenburger commented on #3141
@ssilvert : I checked it out and can confirm that it works as expected. Thank you very much for the fix!

[2022-08-24 08:41] #3172 closed

[2022-08-24 10:20] matumot opened #3264 "Empty files in downloaded zip for Mod Auth Mellon file with keycloak 19.0.1 (Quarks)"
### Describe the bug

To use SAML with Mod Auth Mellon,
I tried to download zip file which contain idp-metadata.xml, sp-metadata.xml

thorugh keycloak management web for SAML client,
Action -> Download adaptor configs --> Format option, Mod Auth Mellon files

But when I checked the contents in download zip files,
I found empty files for idp-metadata.xml and sp-metadata.xml.

I found this phenomena

[2022-08-24 12:45] ssilvert commented on #1877
This now appears to be fixed.  Closing.

[2022-08-24 12:45] #1877 closed

[2022-08-24 12:45] agagancarczyk opened #3182 "Accessibility: Removing `aria-label` set to empty string in all switches and an issue with announcing labels when moving using arrow keys"
### Describe the bug

Reported issue details: The enabled checkbox has an empty aria-label (e. g. explicitly set to an empty string) and an aria-labelledby attribute. No idea whether that is the reason for the behavior, but the label is not announced in Firefox when moving using the arrow keys in browse mode, but is announced when moving using the tab key in whatever mode. This behavior unfortunat

[2022-08-24 13:31] agagancarczyk opened #3185 "Accessibility/Realms-Settings: Enhancing label for "Require SSL" field"
### Description

Reported issue details: For the Require SSL option, the button which expands the menu is announced only as "Options menu", e. g. the user must expand the menu before he can determine the value of the setting.

(Tested on Windows 10, build 19044.1889, Firefox 103.0.2 or Microsoft Edge 104.0.1293.54)

Note: I have checked this and it seems to behave correctly, but we can enhance the

[2022-08-24 16:47] #1785 closed

[2022-08-24 18:27] ssilvert opened #3188 "Dynamic rendering of User details"
### Description

The user details screen should be dynamically rendered based on the attributes defined in User Profile.

For each attribute, it should take all attribute settings into account when deciding which component to use for rendering.  For instance, if an attribute uses an `options validator` it would only allow the user to choose the specified options.

It should also render help text i

[2022-08-25 07:02] #3180 closed

[2022-08-25 08:00] jbman commented on #3188
Could be two steps towards a fully editable profile:

1. Display all readable attributes read-only. (This doesn't need custom input elements controlled by attribute annotation.)
Have an edit button which executes the authorization process with VERIFY_PROFILE action.
2. Have an edit button which will display an editable view of the attributes.

[2022-08-25 09:00] NMBprogrammer opened #3427 "Identity Provider Mapper - 'User attribute' field not saved"
### Describe the bug

I created an identity provider based on OpenID Connect / SAML,
and added an 'Identity Provider Mapper' of type 'Hardcoded Attribute'
The value set in  'User Attribute' field is not saved,
instead [object Object] is displayed in the field.

![image](https://user-images.githubusercontent.com/102484255/186768148-d8001746-8b76-4610-a36c-8eb483b5e1e3.png)

### Version

19

### Exp

[2022-08-25 20:25] #3141 closed

[2022-08-26 08:50] dlechevalier opened #3196 "Sync mode field hidden behind save/revert menu during identity provider creation/update"
### Describe the bug

Hi!
I'm testing KC19. During identity provider creation, i can't see and modify sync mode because it's hidden behind the save/revert menu on screen bottom:
![image](https://user-images.githubusercontent.com/56594777/186860671-9ab08e9a-784e-4104-82d5-2c1f448c3fb2.png)
I only can view it during Post login flow selection, but cant edit it:
![image](https://user-images.githubuser

[2022-08-26 20:44] ssilvert commented on #3196
Thanks for the feedback.  This one is already fixed: https://github.com/keycloak/keycloak-ui/issues/3082

[2022-08-26 20:44] #3196 closed

[2022-08-27 00:43] ssilvert opened #3200 "User profile attribute inconsistencies with old console"
### Describe the bug

@pedroigor and I discussed a few issues with the attributes in User Profile.  It seems to make sense to group the bugs in this one issue and fix all at once.

`username` and `email` attributes should not have `Enabled when` section.
`username` and `email` attributes should not have `Required` switch.
`username` and `email` attributes should not have `Permission` section.

`En

[2022-08-27 14:55] guilhermearpassos opened #3201 "prompt=unspecified causing errors in external Idp"
### Describe the bug

When creating a new Idp within keycloak, using advanced option prompt="unspecified" makes it so external (at least azure) Idp rejects user logons since it doesn't recognize this value for this option. In previous Keycloak versions (we're migrating from v13) keycloak didn't send "&prompt=unspecified" to external Idp. We believe it to be a bug in the UI saving the value "unspec

[2022-08-27 19:53] agaman1792 opened #3426 "Custom Identity Provider UI not being displayed when using the new admin interface"
### Describe the bug

Greetings,

I am attempting to add a new identity provider to keycloak (which does not support oidc).
I am using this project as a reference https://github.com/intricate/keycloak-twitch/tree/master/keycloak-twitch-idp.

I added the Provider and the ProviderFactory, as well as added the **_src/main/resources/META-INF/services entry_**.
Also, I added the html template (for the

[2022-08-29 07:22] dlechevalier commented on #3196
Thanks for your answer

[2022-08-29 08:48] danielFesenmeyer opened #3212 "Empty ACR-LOA map is stored as array"
### Describe the bug

An empty ACR-LOA map is stored as JSON array "[]" (instead of JSON object "{}").
This happens when the _Realm Settings_ are saved.

The behavior leads to frequent warnings like this (on every login to the affected realm):
`2022-08-29 09:37:27,067 WARN  [org.keycloak.protocol.oidc.utils.AcrUtils] (executor-thread-5) Invalid realm configuration (ACR-LOA map)`

### Version

19.0

[2022-08-29 08:50] agagancarczyk opened #3213 "Accessibility/Authentication: Unable to move the required actions in the auth settings using the keyboard"
### Describe the bug

The user can't move the required actions in the auth settings using the keyboard. This should work the same as the Flows which are accessible via tabs + arrows.

Tested on Windows 10, build 19044.1889, Firefox 103.0.2 or Microsoft Edge 104.0.1293.54

Note: I have also checked this issue and it's present in Chrome.

### Version

19.0.0

### Expected behavior

The user can move

[2022-08-29 09:09] agagancarczyk opened #3215 "Accessibility/User federation: Unable to select a provider using keyboard"
### Describe the bug

Users can't select a provider using the keyboard.

It was tested in Chrome using Chromevox.

### Version

19.0.0

### Expected behavior

Users should be able to use tabs/arrows to select the provider.

### Actual behavior

Users can't select a provider using the keyboard.

### How to Reproduce?

- Go to User federation from the left-side menu
- Try to select any provider usin

[2022-08-29 09:17] agagancarczyk opened #3216 "Accessibility/User federation: Incorrect aria-label in Managed Priorities dialog"
### Describe the bug

The drag button has the following, likely incorrect, label: "manageOrderItemAria"

### Version

19.0.0

### Expected behavior

Readable label is expected.The readable

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-29 10:30] pedroigor commented on #3200
Now it is possible to configure permissions to the `email` attribute. In a nutshell, we need the admin console with the old for differences in how both `username` and `email` can be set.

[2022-08-29 10:48] agagancarczyk opened #3218 "Accessibility/Realm-Settings: Screen reader is not reading form field name in the Export Dialog"
### Describe the bug

In the export dialog, the A11Y labels for the checkboxes are just On, which is not helpful, e. g. the option label would be a better fit.

Tested on Windows 10, build 19044.1889, Firefox 103.0.2, or Microsoft Edge 104.0.1293.54

NOTE: This is also appearing in Chrome.

### Version

19.0.0

### Expected behavior

A screen reader is reading form field names in the Export Dialog

[2022-08-29 11:02] agagancarczyk opened #3219 "Accessibility: Navigating using arrow keys is not reading header items"
### Describe the bug

Reported issue: Completely missing tooltips - so I have no idea what will happen before I click on the button with 3 horizontal lines, the Keycloak logo. This doesn't seem to be an issue when using tabs (needs to be double-checked).

Tested on Windows 10, build 19044.1889, Firefox 103.0.2 or Microsoft Edge 104.0.1293.54
Accessibility tool: NVDA Alpha 26228

Note: I have check

[2022-08-29 11:11] agagancarczyk opened #3220 "Accessibility: Issue with tabs that are links"
### Describe the bug

On Windows, it is not possible to switch the tabs, it works with Orca, on Fedora 36. Applies only for the tabs which have inside the li element a link, the ones with a button inside work. Note that after some time they magically fixed itself in Firefox, no idea why or how.

This issue is not related to Clients only, but all other places where we are using tabs as links.

Test

[2022-08-29 11:23] agagancarczyk opened #3221 "Accessibility/Clients: Uses the broken tab control"
### Describe the bug

NVDA (tool for Windows) is reporting that the control using links is broken (tab not selected using arrow keys). Control using buttons is fine. Probably a duplicate of #3220 but needs investigation.

This issue is likely happening in other parts of the application.

Tested on Windows 10, build 19044.1889, Firefox 103.0.2 or Microsoft Edge 104.0.1293.54
Accessibility tool: NVD

[2022-08-29 11:36] agagancarczyk opened #3222 "Accessibility/Identity Providers: User unable to select options from dropdown and options not read using tabs/arrows"
### Describe the bug

The user is not able to select options from the dropdown and options are not read when using tabs/arrows.

This is not an issue for `Add  New Provider` in the User federation.

Tested on MacBook, Chrome browser using Chromevox.

### Version

19.0.0

### Expected behavior

All dropdown options should be accessible and read so that the user knows what they are before selecting.

[2022-08-29 12:40] #2833 closed

[2022-08-29 13:07] ssilvert commented on #3200
@agagancarczyk Another thing that Pedro brought up is that there could be hundreds or even thousands of scopes.  At the very least, we should not fetch the list of scopes until `Scopes are requested` is selected.  This change could be done as a different issue if you want to break it up.

[2022-08-29 13:09] agagancarczyk commented on #3200
No problem @ssilvert yes, let's break it up and create a new issue assigned to me. Thanks

[2022-08-29 15:19] agagancarczyk opened #3226 "User profile: Not fetching scopes until the `Scopes are requested` is selected"
### Description

There could be hundreds or even thousands of scopes. At the very least, we should not fetch the list of scopes until Scopes are requested is selected.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-08-29 19:00] ssilvert commented on #1888
Closed due to inactivity.

[2022-08-29 19:07] #1830 closed

[2022-08-29 19:07] #1859 closed

[2022-08-29 19:07] #1970 closed

[2022-08-29 19:07] #1971 closed

[2022-08-29 19:07] #1973 closed

[2022-08-29 19:07] #1989 closed

[2022-08-29 19:07] #1994 closed

[2022-08-29 19:07] #2022 closed

[2022-08-29 19:07] #2059 closed

[2022-08-29 19:07] #2118 closed

[2022-08-29 19:30] ssilvert opened #3228 "Assign roles filter causes crash"
### Describe the bug

1. Go to Users --> User --> Role mapping
2. Click on `Assign role`
3. Click on `Filter by roles` dropdown
4. Click on `Filter by clients`
5. Observe 404 error in the console

### Version

20.0.0-SNAPSHOT

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-29 23:36] ssilvert commented on #1975
I think I have come up with a reasonable compromise.  I found that if `Edit username` is off and you go ahead and let the user try to change it, nothing bad will happen.  Other changes in the submission will go through, but it won't change the user name.

So in the rare case where a user doesn't have `view-realm` access, we can just allow the username field to be editable.  That way, the field is

[2022-08-30 06:35] edewit commented on #1994
This is something the browser does, I think that atm `ß` is not valid in a domain name.

[2022-08-30 08:50] jonkoops commented on #3162
Thanks for checking @rmoqpd5t!

[2022-08-30 11:17] ssilvert commented on #2058
I think this is fixed?

[2022-08-30 11:27] #3216 closed

[2022-08-30 11:32] ssilvert commented on #1973
I think this is fixed?

[2022-08-30 12:13] ssilvert commented on #2118
Already fixed?

[2022-08-30 12:13] edewit commented on #3228
Did you use a fresh nightly build to test this? Roles by client are now queried through a new endpoint.

[2022-08-30 12:22] ssilvert commented on #2073
This needs to be fixed in a general way.  We see this all over the application.

[2022-08-30 12:37] ssilvert commented on #2050
Probably a back end issue.

[2022-08-30 12:51] ikhomyn commented on #2037
1. Go to Realm Settings -> Client policies -> Profiles tab
2. Create client profile -> type _Client profile name:_ **testPolicy** and Save.
3. On same Page, click Add executor -> Select **consent-required** and click Add
4. Update _Client profile name_ to any other and Save
5. Observe executors have disappeared.  It seems the reason is due to that they were fetched with previous old name.
6. Navig

[2022-08-30 13:04] ssilvert commented on #2812
Already fixed.

[2022-08-30 13:04] #2812 closed

[2022-08-30 13:06] ssilvert commented on #3228
Just need to use updated Keycloak server.

[2022-08-30 13:06] #3228 closed

[2022-08-30 13:07] #3182 closed

[2022-08-30 13:17] agagancarczyk commented on #3218
Fixed in  #3234

[2022-08-30 13:17] #3218 closed

[2022-08-30 14:13] DAHAG-ArisNourbakhsh opened #3425 "New Admin UI Toggle/Switch elements defaults to true position for non defined properties/options"
### Describe the bug

In the new Admin UI the switch toggle defaults to the true/"On" position for options that are undefined and have no value.

### Version

19.0.1

### Expected behavior

Keycloak internally treats non defined properties as false and the UI should reflect that by showing toggles as "Off" for that. (The old Admin UI correctly handles the display of how it should work.)

For examp

[2022-08-31 03:18] xianli123 commented on #2118
I checked the latest UI. This issue has been fixed.

[2022-08-31 08:11] #1827 closed

[2022-08-31 09:31] agagancarczyk commented on #2117
hi @ssilvert I'm closing this request as our KeyckloakDataTable is not supporting adding HelpItem to the column name. It's also this one place where we want to have it.

[2022-08-31 09:31] #2117 closed

[2022-08-31 10:16] #3168 closed

[2022-08-31 10:28] #2042 closed

[2022-08-31 10:48] #1850 closed

[2022-08-31 11:03] agagancarczyk commented on #1904
@ssilvert I'm closing this issue as it looks fixed in v19.0.0.

[2022-08-31 11:03] #1904 closed

[2022-08-31 12:20] agagancarczyk commented on #2073
I have investigated this issue. It really depends on how far we want to go with this. Every form in the app has this issue which is due to the patternfly .--pf-c-form--m-horizontal__group-label--md--GridColumnWidth set to `10.375rem` globally.

I can fix this particular issue, however, `Authorization details` in the `Clients > Client details > Authorization > Export` is not the longest form field

[2022-08-31 12:26] ssilvert commented on #2073
@agagancarczyk So are you saying that PatternFly has chosen its default value poorly?  If so, we should consult with the PatternFly team instead of overriding in our code.

[2022-08-31 12:33] agagancarczyk commented on #2073
Thanks @ssilvert . I think they should at least give an option to change it somehow without a need to override it. I'll double-check this with the patternfly team. Thanks for the suggestion Stan.

[2022-08-31 13:27] edewit commented on #3164
@xianli123 didn't you say there are more people facing this? What do you think of Stan's suggestions?

[2022-08-31 14:10] agagancarczyk commented on #2073
hi @jenny-s51 could I ask you for a small piece of advice? I'm trying to solve this issue we have with all long form field names which don't fit well in the column pushing the question mark icon to the next line.

It seems that patternfly is setting the column with to a fixed value `.pf-c-form {    --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 9.375rem;}` - screenshot also attached.

[2022-08-31 14:53] cnwaldron opened #3251 "New AdminUI doesn't show Authenticator Config Text Type"
### Describe the bug

I have a custom authentication spi that has some configurations that use ProviderConfigProperty.TEXT_TYPE. When viewing the settings of this custom authentication spi the fields that use the TEXT_TYPE are completely missing in the new Admin Console. Once I switch the Admin Console to the old theme the fields are visible again.

### Version

19.0.1

### Expected behavior

All

[2022-08-31 15:45] jenny-s51 commented on #2073
Hi @agagancarczyk ! Thank you for reaching out - this is a really good question... There needs to be a way to keep the icon on the same line as the last word of the form label, and Patternfly currently doesn't support this with its current Form styling.

I brought this issue to the attention of our PF core developers during our monthly Patternfly Office Hours meeting, and based on the discussion t

[2022-08-31 16:22] agagancarczyk commented on #2073
Thank you @jenny-s51 ! I have now created an issue in Patternfly's repo. https://github.com/patternfly/patternfly/issues/5063

[2022-08-31 19:52] jsorah opened #3252 "New Admin Console adds "Keycloak OIDC" Identity Provider as regular "OIDC" Identity Provider"
### Describe the bug

In Keycloak 18.0.1, I can add an Identity Provider as a "Keycloak OpenID Connect" provider (provider = `keycloak-oidc`).  I can then set this up with another Keycloak instance (which I'll call the broker) to map broker roles to local Keycloak roles I choose, using mappers to map from `realm_access.roles`.

In Keycloak 19+ and current nightly releases, choosing "Keycloak OpenI

[2022-08-31 20:26] Redhat-Alice opened #3253 "Add toggle for exact search on group name"
### Description

The ability to search for groups by exact name is a feature enhancement being added by https://github.com/keycloak/keycloak/issues/13973

A toggle can be added to support this functionality in the UI in addition to the REST API

### Discussion

_No response_

### Motivation

Allow for better searching on groups that returns exact matches (searching "orange" will only return groups

[2022-08-31 21:00] ssilvert commented on #3253
@xianli123 Can you look into a modification to the group search design that will support this change when it is ready?

[2022-09-01 00:06] #3163 closed

[2022-09-01 00:10] ssilvert opened #3254 "Improve working with groups for users with fine-grained access"
### Description

Complete the work needed in #3141 using the access object returned with groups via #

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-01 08:04] xianli123 commented on #3164
@edewit @ssilvert I have interviewed seven novice users. With regard to the search bar in the parent group or child group, they all think that the search bar on the toolbar can support global search. Can we move the "Search groups" from the "Action" menu and support the global search in the toolbar?

There is a rough design as shown below. What do you think?

<img width="958" alt="Screen Shot 2022

[2022-09-01 08:43] yelhouti opened #3256 "Unable to configure execution X509/Validate Username Form"
### Describe the bug

When I try to configure an execution created manually of type: X509/Validate Username Form
I get an error in chrome console: Cannot convert undefined or null to object

### Version

latest

### Expected behavior

It should work

### Actual behavior

It fails with: Cannot convert undefined or null to object

### How to Reproduce?

- duplicate authentication browser
- add execu

[2022-09-01 09:07] xianli123 commented on #3164
@edewit @ssilvert I updated the design of this part. Here is the link for your reference. https://marvelapp.com/prototype/2g71766g/screen/88560799

In this design, I remove the "Search group" from the Action menu and make the toolbar support global search. Please take a look and leave your comments if you have any suggestions.

[2022-09-01 09:21] #2101 closed

[2022-09-01 12:26] pedroigor opened #3257 "Add a max_age option to OpenID Connect Brokers"
### Description

This is a follow-up for https://github.com/keycloak/keycloak/pull/8183.

Basically, we need to add an OpenID Connect Brokers similar to https://github.com/keycloak/keycloak/pull/8183/files#diff-130bf8b2ddaf9ec808fa3f763d7812e1ecbc02bc20a5fe6c056d629d27c1cdab.

### Discussion

https://github.com/keycloak/keycloak/pull/8183

### Motivation

Align old and new account consoles.

### D

[2022-09-01 14:02] rejinka commented on #3201
I can confirm this issue. Also deleting the config "prompt" in the table IDENTITY_PROVIDER_CONFIG (and restarting the server) results in the desired behavior.

[2022-09-01 14:24] ikcalB commented on #2989
@edewit it looks like a fix has been merged - but not yet published as a patch release?

we are on 19.0.1 and it seems this bug is still present. if so, when do you plan to release the next patch set?

[2022-09-02 07:41] dominikkawka opened #3261 "Change button colour from grey to blue"
### Description

Button colour is grey, it can be hard to read/ realise that the button is enabled

![image](https://user-images.githubusercontent.com/31955648/188084616-d1c9ef65-fe94-41da-8d27-5144950b0c36.png)

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-02 09:01] edewit commented on #2989
Soon

[2022-09-02 09:14] stefanodemartini opened #3354 "Admin UI states Feature Docker is enabled but itsn't."
### Describe the bug

Running in Docker container, if the "docker" feature is explicity enabled, the admin UI doesn't show "docker" as enabled features. For instance, if you enable "token-exchange" AND "docker" only the former is reported. The odd is that that feature is effectively enabled but you can't see it in the UI.
Otherwise if you do not explicity enable the "docker" feature, which should

[2022-09-02 09:23] stefanodemartini opened #3353 "Zip corrupted while downloading adaptor config"
### Describe the bug

On previous version 15.00 (legacy) you can create a new client type docker-v2 and download the adaptor configs as ZIP file. The zip file contains yaml file & certs for docker registry authentication. If you try to do this on latest version 19.0.1 the zip is corrupted
![image](https://user-images.githubusercontent.com/31214217/188107877-75e4334a-d808-4930-abe4-99f10052fe1f.png

[2022-09-02 11:21] JonasPrimbs opened #3424 "Adding RSA Key Provider fails"
### Describe the bug

I cannot import an RSA Private Key file in Keycloak 19.0.1.
It worked in Keycloak 18.0.

### Version

19.0.1

### Expected behavior

Keycloak should import the private key.

### Actual behavior

I get the error message "Error saving provider: unknown_error" in the Web UI.

The logs say:
[code]

### How to Reproduce?

I am using the Docker image `quay.io/keycloak/keycloak:19.0

[2022-09-02 19:27] ssilvert opened #3265 "Expiration for Admin Events"
### Description

Implement UI for https://github.com/keycloak/keycloak/issues/12476

There is a PR for this that implements it for the old admin console.
https://github.com/keycloak/keycloak/pull/12501

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-03 11:03] kris2kris opened #3266 "Pagination is not working when assign client role to user"
### Describe the bug

When I try to set a client role to a user, I filter by client name and if I have more roles than page size I cannot go to next page to chose them.
I am not sure if it is only a front problem or also a bug in backend because it seems that API returns always 11 results event if I have 12 roles on client.

### Version

19.0.1

### Expected behavior

When I try to assign a client

[2022-09-05 08:46] #3261 closed

[2022-09-05 10:10] alexagc opened #3352 "Create realm in keycloak v2 templates ignores id"
### Describe the bug

when i create a realm in the new v2 admin templates ignores the id in the rest call so in db the backend autogenerated an id

old rest call:

<img width="696" alt="image" src="https://user-images.githubusercontent.com/16854770/188424931-0e6102dd-dc7c-44e3-a0f2-ad79ec73644a.png">

new rest call:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/16854

[2022-09-05 13:38] edewit commented on #3265
@ssilvert shouldn't we wait until that PR is merged?

[2022-09-05 13:52] edewit commented on #3213
This page uses the new Composable table that seems not to support keyboards see the issue: https://github.com/patternfly/patternfly-react/issues/5936

[2022-09-05 21:29] #2735 closed

[2022-09-05 21:30] #1888 closed

[2022-09-05 21:31] #2037 closed

[2022-09-05 21:33] #1975 closed

[2022-09-06 12:09] ssilvert commented on #2167
This will be difficult to implement.  Team decided not to do it.

[2022-09-06 12:09] #2167 closed

[2022-09-06 16:23] kris2kris commented on #3266
Hi @edewit,
I tried your fix and if I filter by a client name I'm still blocked on first page.

[2022-09-06 16:52] #3212 closed

[2022-09-06 19:29] hmlnarik commented on #3265
@ssilvert The upstream issue has been merged

[2022-09-07 05:30] edewit commented on #3266
yes I've noticed that as well and create #3267 for that

[2022-09-07 06:35] edewit commented on #3266
@kris2kris how did you test? I've also changed the backend this is how I do it:

1. on the keycloak-admin-ui project I run a:
[code]
1. then on the keycloak project I run a:
[code]
then I should have a keycloak with the changes running on port 8180

[2022-09-07 12:09] mortenjoenby commented on #3022
Hi.
This is a critical issue to us as we are supporting several hundred realms across several Keycloak cluster, which we have just upgraded to 19.0.1 ...!
When can we expect 19.0.2 to be released - assuming this will contain the fix?
Is it an option to run with the old Admin Console until then?

Thanks,
Morten

[2022-09-07 12:21] ssilvert commented on #3022
I am expecting 19.0.2 very soon.  Hopefully before the end of the week.

Note that you can revert to the old console.
1. Go to Ream settings --> Themes
2. Select "keycloak" for Admin console theme.
3. Refresh your browser

[2022-09-07 12:33] mortenjoenby commented on #3022
Thanks @ssilvert !
Much appreciated. We will use the old theme until we have patched 19.0.2.
We are also awaiting that to fix the issue with /health/live endpoint making our pods die when setting http-relative-path.

[2022-09-07 12:53] #3266 closed

[2022-09-07 15:50] kris2kris commented on #3266
@edewit I tested with the npm command from readme to start keycloak server

[2022-09-08 10:05] #3256 closed

[2022-09-08 10:20] sinannoureddine commented on #3041
will this UI fix be updated in the distribution from the website? I tried downloading Keycloak from the website and it has the same issue

[2022-09-08 10:36] stianst opened #3289 "Testing running on release branches"
### Description

On push to release branches (for example 19.0) we need at least Cypress testing to run, using Keycloak built from the applicable release branch (for example 19.0) instead of main.

This will allow us to verify that a release branch of the admin-ui works against a release branch of Keycloak, so we know if we can do a patch release from the release branch or not.

### Discussion

_N

[2022-09-08 10:37] stianst commented on #3289
@ssilvert this is fairly high priority as right now we do not know if Admin UI 19.0.2 for example will work with Keycloak 19.0.2.

[2022-09-08 11:55] edewit commented on #3041
@sinannoureddine yes, in the 19.0.2 release, but it's not released yet. You can change to the old ui as a workaround for now.

[2022-09-08 13:53] lhanusov opened #3292 "UI Realm/Clients/Client details/Client scopes/Evaluate - Generated access token - User search area doesn't recognize 1 letter user names."
### Describe the bug

When requesting Clients/Client details/Client scopes/Evaluate generate access token function and selecting user with the name c, the result is: No results found

![image](https://user-images.githubusercontent.com/61745358/189138678-c2cb3e87-bfcd-4830-bbc3-291d209bfff2.png)

### Version

999-SNAPSHOT

### Expected behavior

User: c
Any active user must be available in the sear

[2022-09-08 14:02] lhanusov opened #3293 "UI Realm/Groups/Group details/Permissions Permissions enabled Off - not possible to enable it."
### Describe the bug

Group fine grained permissions are permanently disabled, not possible to enable it.

![image](https://user-images.githubusercontent.com/61745358/189141253-f9f579d3-ad82-4144-a5f7-19fbc5d705f8.png)

### Version

999-SNAPSHOT

### Expected behavior

Group fine grained permissions enabled - Permissions enabled: On

### Actual behavior

Group fine grained permissions disabled - P

[2022-09-08 18:06] ssilvert commented on #3293
This works fine for me.  You say you are running a snapshot build?  I tried it with the nightly from a couple of days ago and it is working.

[2022-09-08 18:31] #3265 closed

[2022-09-09 13:14] edewit commented on #3292
Isn't this the same behaviour as in the old console though?

[2022-09-09 13:52] edewit commented on #3292
oh just found out it's not, removed the restriction

[2022-09-11 13:37] makettner opened #3295 "Not able to create custom ClientAuthentication flow"
### Describe the bug

Since version 19 it's not possible to bind a custom client authentication flow. This behavior is possible in version 17 and/or 18.

### Version

19.0.1

### Expected behavior

To have a 'Bind flow' option in the copy of the clients flow, so that the 'Used by' 'Client authentication flow' is moved from the 'Clients' flow to the copy of the clients flow.

### Actual behavior

T

[2022-09-11 20:39] ssilvert commented on #3289
@jonkoops I looks like we got past this issue for 19.0.2 with a manual test run.  But I'm assigning to you so we can come up with a permanent solution for next time.

[2022-09-11 22:09] fischer7 opened #3296 "After deleting all resources, from Authorization under Clients. You lose the create option"
### Describe the bug

Describe the bug
I was making a new setup to Keycloak, so I've downloaded the last version with docker-compose:
image: bitnami/keycloak

After deleting the sample resource, to create my own, I couldn't proceed:
![image](https://user-images.githubusercontent.com/26326537/189550863-4085bc9b-aaa2-4cc6-8bdb-85a77538a7db.png)

Anyway, importing from another confg., I was good to g

[2022-09-12 07:13] tvelingkar commented on #3201
I am also facing same issue, newly created provider works fine but once you change something and click on save it gives above error.

[2022-09-12 08:33] lhanusov commented on #3293
@ssilvert Hi Stan, it's installed via keycloak-operator (nightly build) using K8S yml file: https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/refs/tags/nightly/kubernetes/kubernetes.yml, I've even tried it with Firefox or Chrome, it didn't work. Is there any UI restriction? Thank you

[2022-09-12 13:29] #3292 closed

[2022-09-12 13:30] #3264 closed

[2022-09-12 13:35] #3174 closed

[2022-09-12 15:46] Aboullos opened #3308 "Revert button on Fine grain OpenID Connect configuration doesn't work"
### Describe the bug

When going to a client, "Advanced" tab and to the "Fine grain OpenID Connect configuration" section, the "Revert" button doesn't work.

### Version

999-SNAPSHOT

### Expected behavior

The input goes back to its previous value

### Actual behavior

Nothing happens

### How to Reproduce?

- Go to a client
- Go to "Advanced" tab
- Go to the section "Fine grain OpenID Connect c

[2022-09-12 18:00] ssilvert opened #3309 "Finish Admin Console Test Suite"
### Description

We need to get to 100% of basic Cypress coverage for the admin console.

See Test Coverage tab here for details: https://docs.google.com/spreadsheets/d/1eCngdn3wmMeQ0u5u-eKYJo1XdT2fHvi7ki51mrcu-Ys/edit#gid=1613790516

### Discussion

Discussed in UI Team Meetings

### Issues

_No response_

### Motivation

_No response_

[2022-09-12 18:08] ssilvert opened #3310 "Mono-repo Infrastructure"
### Description

Move all javascript projects under keycloak-ui repo.

- All javascript projects for Keycloak should be moved or rewritten in the keycloak-ui repo.
- We will need tooling to manage multiple projects.
- The repo has been refactored to accomodate.

### Discussion

Discussed in UI Team Meetings

### Issues

_No response_

### Motivation

_No response_

[2022-09-12 18:43] ssilvert opened #3311 "Project Masthead"
### Description

"Project Masthead" is a meta-project that follows from the need to share UI components between the Keycloak admin console and the account console.  According to [PatternFly Masthead documentation](https://www.patternfly.org/v4/components/masthead/), "A masthead contains global properties such as logotype, navigation and settings in an organized fashion and it is accessible from al

[2022-09-12 20:43] #2041 closed

[2022-09-13 00:15] ssilvert opened #3313 "Research simpler fine-grained authorization"
### Description

We need to figure out a simpler way to configure fine-grained authorization.

Currently, authorization is a combination of roles and permissions.  Once set, it is often unclear to the administrator what effect roles and permissions will have on the UI and REST API's.

Often, the UI can not determine a priori if a user has rights to perform some action.  This results in a "Forbidde

[2022-09-13 10:14] ahus1 opened #3316 "When creating a new realm, can't upload file via "Browse...""
### Describe the bug

When creating a new realm via the UI and using a file picked via "Browse...".

It seems to me that it worked last week / some days ago.

Workaround: <strike>Copy the file contents manually to the input field.</strike> (content pasted doesn't make it to the server AKA is missing in the request)

Tested on Fedora 36 with Chrome 105.0.5195.102

![image](https://user-images.githu

[2022-09-13 10:15] ahus1 commented on #3316
@jonkoops - I see that you've recently worked on FileUpload.tsx, and this might be related. Please let me know if you need more information.

[2022-09-13 10:51] jonkoops commented on #3316
Yeah, seems like the changes might be related to that. We'll do some investigation.

[2022-09-13 10:56] edewit commented on #3316
@ahus1 how did you test this? where is `keycloak-admin-ui-999-20220913.041401-171.jar` coming from?

[2022-09-13 10:57] ahus1 commented on #3316
@edewit - I ran this from the main branch of Keycloak, and that one uses the a snapshot of the UI via a Maven repository.

The file name above is the name of the snapshot build.

[2022-09-13 11:27] xgp commented on #1219
Hi @edewit . Checking in on this enhancement now that the new admin console is default. I know a few Keycloak extension authors that are eager to port the admin portion of their extensions to the new console.

Per your comment:

Can you share if there has been any more discussion on this topic, or if you have come to a decision about how plugins/extensions to the admin console might be achieved?

[2022-09-13 11:58] #3178 closed

[2022-09-13 12:05] Aboullos commented on #3308
Unskip "Advanced tab -> Fine grain OpenID connect configuration" test when fixed

[2022-09-13 12:33] #2171 closed

[2022-09-14 06:29] stianst opened #3323 "Release failed due to missing javadoc and sources jar"
### Describe the bug

Nexus requires both javadoc and source jars to be included when deploying an artifact. As these add to the Maven build time they should be wrapped in a release profile.

### Version

main

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-09-14 09:55] #3308 closed

[2022-09-14 11:12] dasniko commented on #2989
I'm afraid this is not yet finally fixed with `19.0.2` and should be re-opened (or should I create a new issue for it?).

While the dynamic fields are now properly rendered and filled with data, it's not possible to edit and submit data to the server. There is an exception thrown:
[code]

When comparing the payload which is sent from the UI to the server between old and new UI, I get the following

[2022-09-14 12:22] rhryciuk opened #3334 "New Admin Console Role Based Policy"
### Describe the bug

Role based policies are not displayed and validated properly.
After adding a realm based role list is empty after refresh.
User can add multiple time the same role which backed persists but UI does not show.

### Version

19.0.1

### Expected behavior

Role is displayed on a list of relam roles.
Change is persisted. The list is the same after refresh.

### Actual behavior

Af

[2022-09-15 05:55] edewit commented on #1219
In the end we didn't build anything to help you with extending the UI. The path for extending it is fork our repo and then build your stuff against it. Then if you use quarkus you can build an `jar` en move it into you distribution.

[2022-09-15 07:09] edewit commented on #3130
duplicate of #3334 fixed with #3337

[2022-09-15 09:34] jonkoops commented on #3130
Duplicate of #3334

[2022-09-15 09:34] #3130 closed

[2022-09-15 09:40] jonkoops opened #3341 "Fix serialisation of UserStorageProvider config"
I'm afraid this is not yet finally fixed with `19.0.2` and should be re-opened (or should I create a new issue for it?).

While the dynamic fields are now properly rendered and filled with data, it's not possible to edit and submit data to the server. There is an exception thrown:
[code]

When comparing the payload which is sent from the UI to the server between old and new UI, I get the following

[2022-09-15 09:44] #3252 closed

[2022-09-15 09:49] jonkoops commented on #3289
The manual run is not enough to resolve this issue?

[2022-09-15 09:56] jonkoops commented on #3213
@edewit since this is an upstream issue should we close this one?

[2022-09-15 10:44] stianst commented on #3289
We need two things here to resolve this issue:

* Test PRs to 19.0 branch against 19.0 branch in keycloak/keycloak
* Continuous testing integration of keycloak/keycloak:19.0 with keycloak/keycloak-ui:19.0. For now a nightly run is sufficient, but long term we may want something better than that.

[2022-09-15 11:12] jonkoops commented on #2058
@xianli123 ?

[2022-09-15 11:14] Captain-P-Goldfish opened #3342 "Positioning of client mappers"
### Description

we just had some troubles finding the client mappers within the new keycloak admin console. We managed to find them but its pretty not really obvious. May it be possible to place the mappers back in the outliner of the client next to the client scopes item?

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-15 11:16] jonkoops commented on #1973
@xianli123 ?

[2022-09-15 11:18] jonkoops commented on #2050
@ssilvert why was this re-opened?

[2022-09-15 11:33] Aboullos commented on #2050
I think we talked that, even though by backend when you send the information for a new Client Policy (if the policy already exists) it updates it instead of giving error because it already exists. The problem is still that by front end there isn't any check to see if the Client Policy already exists, so popping out an error message.

An user could make a mistake naming a new policy as another one,

[2022-09-15 12:22] xgp commented on #1219
@edewit Thanks for the response. That's too bad, as I know there are extension authors that would like to port extensions to the new console. cc @sventorben @Captain-P-Goldfish

Is there an appetite for accepting a contribution in this regard? One of the people I work with has an idea of how to create a simple plugin interface, such that extensions could be added as jars without forking the repo.

[2022-09-15 13:21] Captain-P-Goldfish commented on #1219
I lso asked for this already here: https://github.com/keycloak/keycloak/discussions/14327#discussioncomment-3621008

[2022-09-15 13:40] nisha-ns commented on #3341
When this is planned to be fixed?

[2022-09-15 13:58] jonkoops commented on #1219
Absolutely. If there are idea's on what kind of interface plugins would need to work then we are totally open for suggestions.

[2022-09-15 15:39] jbman opened #3343 "Client mapper configuration"
### Description

The old Admin console has a tab "Mappers" at the client screen. Can't find it in new console.
Also didn't find an existing issue.

Admin Console version 19.0.1 doesn't has the tab.
Will this tab be provided in the new admin console?

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-15 15:43] jbman opened #3344 "Client Scope Mappings configuration"
### Description

The old admin console has a tab at the client view called "Scope". It allows to define a set of roles which could be used by the client on behalf of the user. By default a client has "Full scope allowed", so that all of the user's roles could end up in the access token.

Admin Console version 19.0.1 doesn't has the tab.
Will this tab be provided in the new admin console?

### Disc

[2022-09-15 16:08] jbman opened #3345 "OIDC Identity Provider Mapper configuration looses configuration value and displays [object Object]"
### Describe the bug

When configuring an OIDC Idp Mapper, configured settings are displayed as [object Object] after saving the initial configuiation.
The actual value gets lost.

Tested with mappers:
- Hardcoded User Session Attribute - _User Session Attribute_ displayed as [object Object]
- Claim to Role - _Claim_ displayed as [object Object]

### Version

19.0.1

### Expected behavior

The act

[2022-09-15 16:10] jbman commented on #3345
Example "Hardcoded User Session Attribute" Mapper:
![image](https://user-images.githubusercontent.com/789496/190453976-0f52e184-33c0-4503-9763-b4e882275cc5.png)

[2022-09-15 16:20] jbman commented on #3345
"Hardcoded User Session Attribute" mappers works in 19.0.2. I close this issue.

[2022-09-15 16:20] #3345 closed

[2022-09-15 16:26] jbman opened #3346 "OpenID COnnect Identity Provide mapper configuration "Advanced Claim to Group" and "Advanced Claim to Role" don't store "claim" setting"
### Describe the bug

For OIDC Mappers _Advanced Claim to Group_ and _Advanced Claim to Role_ the claims can not be configured

### Version

19.0.2

### Expected behavior

A claim key/value pair can be added and is strored.

### Actual behavior

After saving the configuration many empty key/value pairs are displayed

### How to Reproduce?

Create an Identity Provider of type "OpenID Connect v1.0"

[2022-09-15 16:28] jbman commented on #3346
After entering values:
![image](https://user-images.githubusercontent.com/789496/190457884-37504187-536d-4fd3-b7c5-833323815e38.png)

After saving an initial "Advanced Claim to Role" mapper configuration:
![image](https://user-images.githubusercontent.com/789496/190457645-cdb11709-68c6-4f36-9785-0f4d3187c77b.png)

[2022-09-15 18:13] jonkoops commented on #2050
Thanks for the info @Aboullos!

[2022-09-16 05:31] edewit commented on #3213
yeah let's close this

[2022-09-16 05:31] #3213 closed

[2022-09-16 08:56] jonkoops opened #3348 "Error on Groups page and Authentication page"
Locally when testing things out in the dev environment, I'm getting the followings errors when I attempt to go to the Groups page and Authentication page, respectively (all other pages seem fine).

![Group page console](https://user-images.githubusercontent.com/70952936/190242401-cabdde52-7859-4ce7-b0f0-7baecf65a5a0.png)

![Authentication page console](https://user-images.githubusercontent.com/709

[2022-09-16 08:57] #3257 closed

[2022-09-16 08:58] #3131 closed

[2022-09-16 08:58] #3093 closed

[2022-09-16 08:58] #3241 closed

[2022-09-16 08:58] #3154 closed

[2022-09-16 09:01] edewit commented on #2656
This is tracked in the testing spreadsheet... closing

[2022-09-16 09:01] #2656 closed

[2022-09-16 10:03] jonkoops opened #3833 "Re-enable skipped tests"

[2022-09-16 11:17] #2961 closed

[2022-09-16 12:45] infl00p opened #3355 "OIDC Identity Provider Client Authentication Wrong Name/Value stored from UI"
### Describe the bug

Hello all,
In Keycloak 19.0.2 the Keycloak UI stores the wrong name or value to the Client Authentication setting.
In 19.0.2 the name of the UI setting is clientAuthentications and the values is client_secret_basic (wrong name, correct value)
In 19.0.1 the name of the UI setting is clientAuthMethod and the value is client clientAuth_Basic (correct name, wrong value)

The name

[2022-09-16 13:16] nodje opened #3356 "Clicking on any Identity Provider produces a JS Error 'missing ) in parenthetical' with Firefox 104.x"
### Describe the bug

Clicking on any Identity Provider produces a JS Error 'missing ) in parenthetical' with Firefox 104.x

### Version

19.0.2

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-09-16 19:34] ssilvert commented on #3161
@drsmile1001 Does the language show up if you switch to the old admin console?

To switch:
1. Go to Realm Settings --> Themes
2. Change Admin Console theme to `keycloak`

[2022-09-16 20:07] ssilvert commented on #3343
This has been moved in the new console.

Go to the `Client scopes` tab and you will see a hyperlinked scope called `<client name>-dedicated`.  From there you can set up mappers.

I know this is a bit confusing and someone has already opened this enhancement request for it: https://github.com/keycloak/keycloak-ui/issues/3342

So I'm going to go ahead and close this issue.

[2022-09-16 20:07] #3343 closed

[2022-09-16 20:09] ssilvert commented on #3344
Closing.  See #3343

[2022-09-16 20:09] #3344 closed

[2022-09-17 04:40] douglaspalmer opened #3357 "Enabling Internationalization gives an error"
### Describe the bug

Enabling Internationalization gives the following error:

undefined is not an object (evaluating 'U.login[0].locales.map')

### Version

999-SNAPSHOT

### Expected behavior

Internationalization should be enabled and supported locales should be editable.

### Actual behavior

undefined is not an object (evaluating 'U.login[0].locales.map')

### How to Reproduce?

Launch Keycl

[2022-09-17 10:38] JonasSchubert opened #3423 "Failed to open details for authentication flow (missing } after property list)"
### Describe the bug

I want to edit one of my authentication flows.
When trying to open one following error occurs:

`missing } after property list`

![image](https://user-images.githubusercontent.com/21952813/190852410-b417fc59-4c63-4c29-8083-034b527d55bd.png)

console output:
[code]

This happens to self defined flows and predefined flows and I have to completely reload the page to be able to k

[2022-09-17 16:52] fuomag9 commented on #3022
Not fixed in 19.0.2

[2022-09-17 20:08] ssilvert commented on #3356
@nodje Thanks for reporting.  Does this cause any operational issues?  I'm wondering if it needs to be higher priority.

[2022-09-17 20:14] ssilvert commented on #3357
Hi @douglaspalmer.  I tried this on the latest nightly build and I don't see the error.  How old is your build?

[2022-09-18 17:06] nodje commented on #3356
Checking again, I realize it works now.
I'm not sure what happened, sorry about it.

[2022-09-18 17:06] #3356 closed

[2022-09-19 00:39] drsmile1001 commented on #3161
Yes

![圖片](https://user-images.githubusercontent.com/11384864/190934944-fdbd1b4e-4b8b-43fc-ae7d-7f902c7b7d4f.png)

[2022-09-19 02:35] xianli123 commented on #2058
@jonkoops Could you please check that page on your side? I found the issue was still there, like the screenshot below.
<img width="1144" alt="Screen Shot 2022-09-19 at 10 35 00" src="https://user-images.githubusercontent.com/53931519/190941406-396fe1fb-670a-426e-9774-c84e35657f39.png">

[2022-09-19 02:39] xianli123 commented on #1973
@jonkoops yes. It's fixed. Thanks.

[2022-09-19 08:58] santicastro opened #3422 "Client keys export button is not working in new UI"
### Describe the bug

Export certificate button in `Clients > [client] > keys > Signing keys config` does nothing in new UI, I have to enable legacy UI to export the certificate

### Version

19.0.2

### Expected behavior

Show export modal

### Actual behavior

Does nothing

### How to Reproduce?

In any client with "client signature required", click "export" button.

### Anything else?

_No resp

[2022-09-19 09:09] #2768 closed

[2022-09-19 09:11] jbman commented on #3342
It would be really good to have tab "Mappers" and there all mappers listed which are applied, including their source client scope where they are managed. This would give a nice overview of all the mappers which are applied for the client.

The tab would look like this, but as a client tab
![image](https://user-images.githubusercontent.com/789496/190985150-b224bf5b-6fa2-47e3-a179-00e98a9887b6.png)

[2022-09-19 09:11] jonkoops commented on #2058
Yeah, I am still seeing this is an issue. Re-opening.

[2022-09-19 09:56] #3334 closed

[2022-09-19 12:32] merimamu opened #3421 "Not possible to add a generated key pair"
### Describe the bug

It is not possible to add a generated key pair as described in [Adding a generated keypair](https://www.keycloak.org/docs/latest/server_admin/index.html#realm_keys.). It says 'Error saving provider: unknown_error'. Here is a screenshot:
![adding certificate - error](https://user-images.githubusercontent.com/104715103/191016024-2a76686f-d91b-498d-94cf-8961c9f691b8.PNG)

This e

[2022-09-19 14:07] fuomag9 commented on #3022
When trying to click on the wheel to edit the recaptcha
![image](https://user-images.githubusercontent.com/1580624/191036682-abac568a-9daf-4989-a465-a26d63635535.png)

[2022-09-19 14:10] jsarem opened #3362 "Authorization scopes renders scope IDs instead of names"
### Describe the bug

Searching of authorization scopes on permission details page removes names of other scopes. This occurs when UI fetches scopes from API and scopes currently rendered on the page are not in returned results. The problem also occurs when name of the scope is not in top results of scopes API response when page is loaded.

The image below shows two scopes listed: "Scope A" (rende

[2022-09-19 14:40] zakariae-lebriq opened #3375 "Bug when configuring an authenticator"
### Describe the bug

I'm trying to test the 19.0.2 version, I started a simple container, but it seems there is a bug when trying to add configuration to an authenticator.

For instance when I want to add an IDP name to the Identity provider redirector I get this Error message : Cannot convert undefined or null to object

Let me underline that I get this error only when using Keycloak.V2 admin th

[2022-09-19 15:02] edewit commented on #3022
this issue is about `Hardcoded Attribute` on the Identity Provider could you create a new issue for this specific one?

[2022-09-19 19:11] ssilvert commented on #3362
Thanks for reporting this @jsarem

[2022-09-20 03:11] douglaspalmer commented on #3357
I had a fresh rebase of Keycloak/main. I can check tomorrow to make sure it isn’t cause by my changes.

[2022-09-20 05:26] edewit commented on #3355
yep sorry found this fixed with https://github.com/keycloak/keycloak-ui/pull/3336

[2022-09-20 05:26] #3355 closed

[2022-09-20 06:30] antikalk opened #3364 "Add possibility to import custom styles by extending the theme"
### Description

At the moment there is no possibility to import custom styles by extending from the admin keycloak.v2 theme, like there is with the account theme.

### Discussion

_No response_

### Motivation

It would be nice to have an easy way of customizing some basic styles of the admin ui.

### Details

In the v2 account theme there is an import of styles implemented in the index.ftl file:

[2022-09-20 07:12] edewit commented on #2989
duplicate: #3341

[2022-09-20 07:12] #2989 closed

[2022-09-20 07:17] edewit commented on #3316
I can't reproduce this

[2022-09-20 08:08] edewit commented on #3352
what I find strange is that the old UI does that, but also why it would be an issue?

[2022-09-20 08:11] edewit commented on #3352
what is I import a realm with json should the `id` in the json be overwritten by what is in the `realm` name?

[2022-09-20 08:25] edewit commented on #3353
that is right @lexcao and it was fixed with e84a9b4b3068cc3718141873472622a75fd5636c

[2022-09-20 08:25] #3353 closed

[2022-09-20 10:07] edewit commented on #3348
this is due to the fact that the server side is not build / installed correctly. you can try again with a fresh nightly build or do a maven install and copy the jar file into keycloak:
[code]

[2022-09-20 11:25] edewit commented on #3357
I can't reproduce this, there are tests for this as well are you sure this isn't something on your end?

[2022-09-20 11:27] edewit commented on #3309
can we close this issue? as it's is tracked in the linked document

[2022-09-20 11:39] edewit commented on #2987
With the introduction of the new backend services this should be resolved

[2022-09-20 11:39] #2987 closed

[2022-09-20 12:11] #2473 closed

[2022-09-20 12:13] #2318 closed

[2022-09-20 12:22] ssilvert commented on #1995
The way to fix this is probably to go back where you started the login flow.  But we can't fix it without server side changes.  So I'm moving to keycloak/keycloak repo.

[2022-09-20 20:01] douglaspalmer commented on #3357
I tried this on Safari and Chrome on OSX. Same error on both.

I’m running from HEAD of main.

mvn clean install -Pdistribution -DskipTests
mvn exec:java -Pkeycloak-server $* -f testsuite/utils/pom.xml

[2022-09-20 20:15] ssilvert commented on #3357
@douglaspalmer Are you running the new admin console ( `keycloak.v2` theme)?

[2022-09-20 20:26] ssilvert commented on #3309
@edewit This is an Epic.  There is a JIRA that links to this.  It needs to be here for reporting purposes.  So we can't close it until we finish the test suite.

[2022-09-20 20:45] douglaspalmer commented on #3357
The new admin console appears to be the default now.

[2022-09-21 13:45] jonkoops commented on #2873
Note that this would only affect our styling and not the styling we're importing from PatternFly. I think we should proceed with CSS modules rather than Styled Components as we have very little custom styling and it would prevent adding another runtime dependency.

[2022-09-21 13:46] jonkoops commented on #2873
@edewit @agagancarczyk @ssilvert can we commit to the above as a team?

[2022-09-21 14:27] #3296 closed

[2022-09-21 14:39] jonkoops commented on #3357
@douglaspalmer could you attempt to reproduce this with the latest development version of the Admin UI? You can the latest nightly here: https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-09-21 14:46] #3156 closed

[2022-09-21 14:48] jonkoops commented on #3348
Ahh, then I am closing this issue. @thatblindgeye FYI, you can clear the `server` directory to re-download the latest nightly.

[2022-09-21 14:49] #3362 closed

[2022-09-21 14:50] #3201 closed

[2022-09-21 14:52] #3346 closed

[2022-09-21 14:56] jonkoops commented on #3354
I believe we might have already fixed this issue in 19.0.2. @stefanodemartini could you verify this problem still exists in the latest version?

[2022-09-21 15:55] santicastro opened #3376 "Client keys export button is not working in new UI"
### Describe the bug

Export certificate button in `Clients > [client] > keys > Signing keys config` does nothing in new UI, I have to enable legacy UI to export the certificate

### Version

19.0.2

### Expected behavior

Show export modal

### Actual behavior

Does nothing

### How to Reproduce?

In any client with "client signature required", click "export" button

### Anything else?

_No respo

[2022-09-21 16:18] jonkoops commented on #3376
@santicastro can you confirm this is still an issue for 19.0.2?

[2022-09-21 16:22] nxadm opened #3377 "admin2 broken for Idp/mappers and Client scopes"
### Describe the bug

The new admin interface gives errors when trying to access Identity Providers / Mappers (`"undefined" is not valid JSON`) and Client Scopes / Client Scopes details ( `Expected "type" to be defined`).

The previous admin console does not have the problems. Disabling on 19.0.1 and 19.0.2 is a workaround.

### Version

19.0.2

### Expected behavior

Being able to edit mappers an

[2022-09-21 16:46] santicastro commented on #3376
Yes, I have updated and it is still not working

[2022-09-21 18:18] ssilvert commented on #3357
@douglaspalmer @jonkoops I'm pretty sure this has something to do with the way it is being run from testsuite.

This is how the keycloak readme says to run for developers of keycloak.  But none of us on the UI team do it that way.

@douglaspalmer Unless you are otherwise unable to get any work done, I'm going to set this as medium priority.

[2022-09-21 20:21] ssilvert commented on #2873
I have some serious questions:
How hard would it be to get rid of our custom styling?
Are we using custom styling in places where we could accomplish the same thing with PatternFly's CSS?
To the extent that PatternFly doesn't supply what we need, should we get the PatternFly team to address it?

I hate the idea that a customer who wants to theme our consoles requires him to deal with both our CSS

[2022-09-22 02:34] xianli123 commented on #3342
Thanks @jonkoops @jbman @Captain-P-Goldfish , I took a look at this issue. I remember this design is a compromise. In the future, the Scopes and Mappers may be removed from clients. We could involve @stianst to discuss it. What do you think? @stianst

[2022-09-22 07:42] jbman opened #3378 "Show expiration date of realm keys"
### Description

The realm keys are currently listed like this:
[code]

It would be helpful to also provide "valid from" and "valid to" information and the thumbprint value of the key.

### Discussion

_No response_

### Motivation

It is important to see when a key will expire.

### Details

Keycloak Admin API Backend needs to provide additional data like _from_, _to_, _thumbprint_ with the /keys

[2022-09-22 09:31] jonkoops commented on #3376
Thanks for checking, I'm going to see if I can reproduce this issue.

[2022-09-22 09:36] jonkoops commented on #3376
Looks like indeed this button has not been implemented yet, this functionality was missed during our porting.

[2022-09-22 11:46] edewit commented on #3375
this was fixed with https://github.com/keycloak/keycloak-ui/pull/3268

[2022-09-22 11:46] #3375 closed

[2022-09-22 11:56] wisebaldone commented on #3374
@jonkoops thanks :)

[2022-09-22 13:04] edewit commented on #3251
fixed by 736c821ef569df8c617414eabea5815b7250b96d

[2022-09-22 13:04] #3251 closed

[2022-09-22 14:31] klunk66 opened #3420 "Error accessing events page"
### Describe the bug

When accessing the events page, the following error is returned.

![image](https://user-images.githubusercontent.com/37509723/191774960-5d88e296-d467-4f98-854a-d971774608f1.png)

### Version

19.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-09-22 17:04] ltricarique opened #3383 "Child group does not display assigned roles"
### Describe the bug

When listing the assigned roles of a child group, previously assigned roles are not displayed. It only allows assigning the remaining unassigned roles by viewing the legend: "No roles for this group. You haven't created any roles for this group. Create a role to get started."

### Version

19.0.2

### Expected behavior

After assigning roles to a child group, the GUI should d

[2022-09-22 19:55] jonkoops commented on #3164
@ssilvert why was this re-opened?

[2022-09-22 23:47] ssilvert opened #3382 "Use the user profile feature to dynamically render user details in admin and account console"
### Description

Use the User Profile feature to dynamically render user details in admin and account console

### Discussion

Discussed in UI Team Meetings and with management

### Issues

- https://github.com/keycloak/keycloak/issues/11668

### Motivation

_No response_

[2022-09-22 23:49] ssilvert commented on #3382
@agagancarczyk Note that this is an Epic and not an issue.  You can add issues to the description above if you like.  I have added a related issue that should be closed when your work is done on this.

[2022-09-22 23:58] ssilvert commented on #3164
@jonkoops Because group search is still confusing.  :-)

@xianli123 is updating the design.  Also discussed with @edewit.  Major thing we are doing is to put tree navigation on lefthand side and display both views at once.

It will look something like this old design: https://marvelapp.com/prototype/ecia04e/screen/70067216

[2022-09-23 07:42] Romain7495 opened #3384 "Cannot list client roles specified in authorization policy (UI bug in 19.0.1 and 19.0.2)"
### Describe the bug

When we create Confidential client, with authorization enabled, we can specify role that can acess a specific policy. The issue is that after the role is assigned to this policy, you cannot list it in the policy description. cf screenshot above

![Screenshot from 2022-09-21 10-03-48](https://user-images.githubusercontent.com/15386726/191451387-716596c6-d614-45d2-9257-111bd78e

[2022-09-23 18:28] douglaspalmer commented on #3357
Is it still possible to run the v1 console?

[2022-09-23 19:55] ssilvert commented on #3357
@douglaspalmer Yes.  Just go to Realm settings --> Themes.  Then change admin theme to `keycloak` and refresh your browser.

[2022-09-24 13:20] Daryes opened #3386 "Keycloak Admin.v2 - Minified React error #306 when opening a client"
### Describe the bug

On the admin console, in any realm, select the clients panel to view the list of all clients
Click on one of the client, to view or edit it : the page will load and show : Error: Minified React error #306;
Full error in the browser debug:
[code]

### Version

19.0.2

### Expected behavior

opening a client and being able to view or edit its configuration

### Actual behavior

[2022-09-24 14:28] fischer7 opened #3387 "Unable to configure a validator inside Authentication -> Flows"
### Describe the bug

Using Master Realm:
On Authentication > Duplicate "browser" flow (or just edit it)

Editing the new flow, add the Step "X509/Validate Username Form" then click on the engine button "Settings" for this step (or any other step that has a settings button).
![image](https://user-images.githubusercontent.com/26326537/192103165-413db13e-1f66-43dc-924a-d30d691fd85f.png)

A error pop

[2022-09-25 13:05] BoBeR182 opened #3419 "Once a User Client Role Client ID field is set, it cannot be unset."
### Describe the bug

After a Client ID is set in the User Client Role mapper of a Client Scope
It cannot be unset unless the whole role is deleted and recreated.

### Version

Keycloak 19.0.2 on JVM (powered by Quarkus 2.7.6.Final)

### Expected behavior

Unset the Client ID

### Actual behavior

Cannot be unset, only changed to another one.

### How to Reproduce?

Set a Client ID, and try to uns

[2022-09-26 04:50] edewit commented on #3383
Already fixed with the last group update

[2022-09-26 04:53] #3383 closed

[2022-09-26 05:20] edewit commented on #3161
I tried to reproduce this but for me it does show up when I add the locale to the `theme.properties` locales:
![image](https://user-images.githubusercontent.com/51133/192198898-fd244841-a0fe-4e01-ac54-7dc6f70754c6.png)
You right we no longer uses the display names in the resource bundle, but instead use the names that the browser uses. So for `zh-TW` that is `中文（台灣）` and for `zh-CH` it's `中文（中国）`

[2022-09-26 05:25] edewit commented on #3161
wait I do see a problem here, we don't use all the `supported locales` properties, just the one for admin console... let me fix that

[2022-09-26 09:24] ikhomyn commented on #3316
I just tried to reproduce it using the provided steps and got same typeError result
![Screenshot from 2022-09-26 11-23-31](https://user-images.githubusercontent.com/89014675/192241481-07ee9e0f-0bae-4908-8573-12ccc8c9dc52.png)

[2022-09-26 09:34] ikhomyn commented on #3316
Bu using Firefox it works fine, seems is Chrome affected.
![Screenshot from 2022-09-26 11-33-38](https://user-images.githubusercontent.com/89014675/192243580-db0285a5-c68a-4ec7-95f6-0903c544ec89.png)

[2022-09-26 10:46] jonkoops commented on #3316
Yeah, I'm seeing the same. Not reproducible in Firefox, but it breaks in Chrome.

[2022-09-26 14:18] gunpuz opened #3399 "Evaluation for client Authorization UI error"
### Describe the bug

If resources does not have client scopes associated to the resource, then explain section throws ui error:
![image](https://user-images.githubusercontent.com/39419120/192299478-d08dd2f1-4da2-49b0-89cc-d6e918d14031.png)

Error after expanding explain section:
![image](https://user-images.githubusercontent.com/39419120/192299592-795a8899-75b4-4745-94ba-824671b5f88d.png)

### Ve

[2022-09-26 14:24] chuegel opened #3417 "missing name after . operator"
### Describe the bug

Since the last upgrade to 19.0.2 we can't access any clients configured in the realm. Page displays the error:
`missing name after . operator`
Unfortunately there are no logs from the keycloak pod to narrow down the problem

### Version

19.0.2

### Expected behavior

To be able to edit/update configured clients

### Actual behavior

![grafik](https://user-images.githubuserco

[2022-09-26 15:33] bass3l opened #3400 "The form of 'Fine Grain SAML Endpoint Configuration' is resetting 'Logout Service Redirect Binding URL' upon clicking save"
### Describe the bug

Hi, and thanks for your continuous efforts.

Try to edit the 'Logout Service Redirect Binding URL' property of the 'Fine Grain SAML Endpoint Configuration' form, and then click 'Save', the mentioned property will get reset. I have inspected the `PUT` request being sent and its indeed having the property as empty.

Please check the following:

![keycloak-2022-8-26](https://use

[2022-09-26 16:08] edewit commented on #3400
@bass3l we will fix this, but you can workaround this by switching to the old console in the realm settings

[2022-09-26 17:21] #3295 closed

[2022-09-26 22:50] ArminRadmueller opened #3403 "SAML Signature Key Name change value"
### Describe the bug

I would have to change Signature Key Name to "KEY_ID" instead of "CERT_SUBJECT". However, I cannot find this menu item in the current 19.0.2 version. How can I change the value anyway?

### Version

19.0.2

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-09-27 02:34] matumot commented on #3264
thank you!  #3284  fix seems not to be included in keycloak 19.0.2 yet. I try to check this for newer keycloak version. https://www.keycloak.org/2022/09/keycloak-1902-released

[2022-09-27 06:55] foliengriller commented on #3387
I have the same problem, but with the recaptcha-execution.

[2022-09-27 08:58] #3316 closed

[2022-09-27 08:59] #3364 closed

[2022-09-27 09:49] edewit commented on #3400
fixed with #3326

[2022-09-27 09:49] #3400 closed

[2022-09-27 11:45] jbman opened #3404 "User role mapping tab: Show effective client roles for a user"
### Description

In the old admin console it is possible to view effective client roles of a user.

The new admin console (version 19.0.2) has a filter flag "Hide inherited roles", but when inactive it only only shows effective realm roles and doesn't include any client roles which are inherited (child of a composite role which is assigned).

Existing role mapping tab:
![image](https://user-images

[2022-09-27 12:09] #2664 closed

[2022-09-27 12:16] #2644 closed

[2022-09-27 12:24] #2591 closed

[2022-09-27 12:25] #2590 closed

[2022-09-27 12:26] #2588 closed

[2022-09-27 12:32] ikhomyn commented on #2748
Closed as is not longer reproducible

[2022-09-27 12:32] #2748 closed

[2022-09-27 12:33] #2500 closed

[2022-09-27 12:39] ssilvert commented on #2319
Not a bug.  Working as designed.

[2022-09-27 12:39] #2319 closed

[2022-09-27 12:49] #2533 closed

[2022-09-27 12:52] #1894 closed

[2022-09-27 12:57] #2062 closed

[2022-09-27 14:03] Neeya123 commented on #3341
I see this issue is fixed. Will this fix be released sooner?

[2022-09-27 15:01] mbikl opened #3415 "Associated roles shows only 11 records"
### Describe the bug

Hello,

I installed version 19.0.2. If I want to add new associated role to existing role a found only 11 records of roles. But there is **a lot of roles.**

![Roles](https://user-images.githubusercontent.com/15977094/192563057-8b235b8b-aadd-4cf8-a693-9102e8d343dc.png)

Request URL:
https://msmtvyvidm01.cca.cz/admin/realms/msmt_realm/roles?first=0&id=3854c769-3b9a-4691-a195-2

[2022-09-27 17:40] stianst opened #3406 "Missing ":type" param when navigating away from client scope mapper"
### Describe the bug

![image](https://user-images.githubusercontent.com/2271511/192597396-cbc67e67-9646-4d5f-8f7c-c5d4a71928f9.png)

[code]

### Version

main

### Expected behavior

Shows client scope details

### Actual behavior

Admin console broken, and have to refresh the page

### How to Reproduce?

1. Go to `Client scopes`
2. Select a client scope
3. Select a mappers
4. Select a mapper
6.

[2022-09-27 17:57] stianst opened #3407 "Error message when deleting client scopes from a client"
### Describe the bug

![image](https://user-images.githubusercontent.com/2271511/192600840-0a559659-5b18-42f3-b153-bf5208ee2c64.png)

### Version

main

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Create a client
2. Open the client
3. Open Client scopes
4. Select all client scopes
5. Click on `Remove` from the kebab menu

It seems it's the `d

[2022-09-27 18:36] ssilvert commented on #3404
I made this high impact because it is missing functionality that was there in the old console.

[2022-09-27 20:13] Romain7495 commented on #3384
up ?

[2022-09-28 00:35] ssilvert commented on #3377
Hi @nxadm.  I cannot reproduce this.  Maybe it's already fixed?

Please try out the latest nightly build at https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-09-28 05:02] stianst opened #3408 "Casing on realm-name is not ideal"
### Describe the bug

In the realm selector the realm name has the first character upper-cases:

![image](https://user-images.githubusercontent.com/2271511/192691396-aad59abf-39be-4497-9879-5e825aeb8fa5.png)

Then on the welcome page for the realm it's not:

![image](https://user-images.githubusercontent.com/2271511/192691453-24c6f914-3f71-4b37-bc45-4dff10759b6f.png)

But, then for the master real

[2022-09-28 05:06] stianst opened #3409 "Keycloak logo displayed on realm page is not generated properly"
### Describe the bug

There are a grey outlines in the Keycloak logo shown on realm welcome pages that shouldn't be there:

![image](https://user-images.githubusercontent.com/2271511/192691708-8e317acd-96e9-4c46-85aa-3a8c33a211f0.png)

Looks like perhaps there's been some issues when converting from SVG to PNG.

### Version

main

### Expected behavior

_No response_

### Actual behavior

_No resp

[2022-09-28 05:58] edewit commented on #3341
It will be part of the next release

[2022-09-28 07:29] Neeya123 commented on #3341
When is next release? Sorry we are waiting for this.

[2022-09-28 07:48] edewit commented on #3387
closed by: #3268

[2022-09-28 07:48] #3387 closed

[2022-09-28 08:53] edewit commented on #3408
@xianli123 we have had this discussion before and because of this we have this inconsistency. I feel that we should remove the whole convert first letter to uppercase stuff from the console as it brings more confusion then anything else, WDYT?

[2022-09-28 09:03] edewit commented on #3408
btw @stianst we have a nice copy button on the realm name if you want to copy and paste it on a url:
![image](https://user-images.githubusercontent.com/51133/192737681-72f0179c-662e-414d-9b55-59071db7916a.png)

[2022-09-28 09:10] edewit commented on #3409
I'll replace it with the svg, but there are lines in the gray on that one as well:
https://design.jboss.org/keycloak/logo/images/keycloak_icon_256px.svg

[2022-09-28 09:13] stianst commented on #3409
Looking through the images there looks like quite a few have issues with them :/

This one looks fine though https://design.jboss.org/keycloak/logo/images/keycloak_logo_450px.svg. Perhaps we can just crop out what we need from that one?

[2022-09-28 09:57] edewit commented on #3409
when I cut the image from that logo I get the same result as the icon I downloaded

[2022-09-28 11:02] chuegel opened #3414 "Client scope doesn't show up"
### Describe the bug

A newly created OIDC client scope cannot be selected in the client scope configuration

### Version

19.0.2

### Expected behavior

To be able to select the created client under "Clients -> OIDC Client > Client Scopes"

### Actual behavior

The created scope doesn't show up thus cannot be selected for the particular OIDC client

### How to Reproduce?

1. Create a new Client s

[2022-09-28 11:22] ahweis opened #3413 "Client roles not shown on groups role mapping"
### Describe the bug

In Keycloak 18 i have assigned a number of client roles to groups, but when normally navigating Keycloak 19 the client roles are not shown under "Role mapping" on a selected group, but they are present in the API response from the "groups" endpoint.

If I then refresh (F5) on the group and navigate to "Role mapping" they are shown as expected.

After the client roles are show

[2022-09-28 12:00] ahweis opened #3416 "Include sub-groups users not always visible"
### Describe the bug

The feature of showing sub groups members under the "Members" tab is really nice, but it requires minimum one user to be member of the group to display sub-group members.

### Version

19.0.2

### Expected behavior

The option to see all sub-group members should always be possible.

### Actual behavior

It is only possible to see sub group members when the parent group has mi

[2022-09-28 12:31] edewit commented on #3416
I'm not quite sure what the problem is, do you mean that you want to see the user in the parent group members of tab because he is a member of the subgroup?

[2022-09-28 12:44] ahweis commented on #3416
On any group i would like to be able to see members of sub groups, at any time.

Right now i can only see members of subgroups, when the group i am on have a member, as the check box is first visible when a user is assigned the group.

[2022-09-28 12:51] edewit commented on #3429
In the delete dialog should be the name of the role, this has been fixed you can try it in the [nightly build](https://github.com/keycloak/keycloak/releases/tag/nightly).

As for the role descriptions that are the default values ( I think these are used for translating )

[2022-09-28 12:55] benzitohhh commented on #3429
@edewit Cool thanks for looking at this

[2022-09-28 13:01] edewit commented on #3430
I'm sorry but I can't reproduce this, this might be due to the fact that this has been fixed could you give it a try in the latest [nightly build](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-09-28 13:12] edewit commented on #3437
this has been fixed, you can verify that with the [latest build](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-09-28 13:15] ssilvert commented on #3437
@MushroomSquad  Please let us know that you verified it is fixed.

[2022-09-28 13:15] edewit commented on #3414
You mean when you click the button "Add client scope" it's not shown?

[2022-09-28 13:18] edewit commented on #3415
This has been fixed in the latest version, could you verify this in the [nightly build](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-09-28 13:18] ssilvert commented on #3436
Thanks @mmadoo.  I will close the issue.

[2022-09-28 13:18] #3436 closed

[2022-09-28 13:26] edewit commented on #3417
could you open the console and see the requests and console log?

[2022-09-28 13:29] edewit commented on #3430
Thanks for verifying closing...

[2022-09-28 13:29] #3430 closed

[2022-09-28 13:32] #3432 closed

[2022-09-28 13:34] edewit commented on #3416
I'm not sure if we can do it like that, making it hierarchical querying all child groups members

[2022-09-28 13:35] ssilvert commented on #3429
@benzitohhh Please let us know if you are OK with closing this issue.  Thaks.

[2022-09-28 13:41] ssilvert commented on #3426
Thanks @lexcao.  Closing as duplicate of #3089.

[2022-09-28 13:41] #3426 closed

[2022-09-28 13:42] 0xpr03 commented on #3433
There is another issue: If you import your own key via the above method, keycloak looses the certificate again when you change the Name ID Format..

[2022-09-28 13:43] orcunozbay opened #3439 "Frontend white zone after resource deleting"
### Describe the bug

I deleted default resource and then I couldnt see any add button.

### Version

19.0.2

### Expected behavior

create resource button for first

### Actual behavior

White zone

### How to Reproduce?

Create a client and check authorization. and then delete default resource.

### Anything else?

![Ekran Resmi 2022-09-28 16 41 12](https://user-images.githubusercontent.com/5327

[2022-09-28 13:46] ssilvert commented on #3425
Note: Whoever works on this, make sure we have a universal solution.

[2022-09-28 13:50] edewit commented on #3413
This has been solved, you could verify this in the [nightly build](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-09-28 13:51] ssilvert commented on #3421
This may be the same issue reported in #3424

[2022-09-28 13:52] benzitohhh commented on #3429
@ssilvert @edewit Ok I just tested the nightly build.

The delete dialog is fixed.

But weird descriptions with curly braces are still there for default roles the Realm Roles list - both for the Master realm, but also our own custom realm ("Cipher").

See screenshots below:

<img width="1376" alt="Screenshot 2022-09-28 at 14 48 58" src="https://user-images.githubusercontent.com/861758/192796938-75

[2022-09-28 13:58] ssilvert commented on #3429
@benzitohhh This is as designed.  It works the same way as in the old console.  Using ${some-l18n-key} is for localization in account console and login.

I'm going to close this issue but feel free to comment or open a new issue if you have concerns.

[2022-09-28 13:58] #3429 closed

[2022-09-28 14:01] ssilvert commented on #3293
I'm going to close as unable to reproduce.  Feel free to comment or reopen if you have further concerns.

[2022-09-28 14:03] benzitohhh commented on #3429
@ssilvert Ah ok, good to know.

Actually yeah that's true, same behaviour in the old Keycloak.

Ok thanks for checking...

[2022-09-28 14:04] ssilvert commented on #3423
@JonasSchubert If it is related to https://github.com/keycloak/keycloak/issues/14425 then it should be fixed.  Can you verify that this is fixed in the latest nightly build?  Please let us know.  Thanks.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-09-28 14:41] chuegel commented on #3414
@edewit ahhrgh .My bad ..sure I had the impression the cluster scopes were realm wide and you only have to chose them from the list but those are are already assigned scopes.
Sorry for the noise

[2022-09-28 14:41] #3414 closed

[2022-09-28 14:44] DanielScholte commented on #3432
Was this supposed to be fixed in `19.0.2` as described in the linked issue?
I'm currently running `19.0.2` and still experiencing errors when using `MULTIVALUED_STRING_TYPE` for the configuration of an authentication flow step.

I get a notification:
![image](https://user-images.githubusercontent.com/22204349/192809136-82ddfafa-dc9e-4288-89bf-8eae97fec814.png)

And the API throws the following sta

[2022-09-28 16:52] jbman commented on #3404
@edewit I think it's ok to have the inherited roles initially hidden. It's just important to provide at least a way to drill down to the effective roles. At least for a specific client as it was with old admin console. From supporting multiple Keycloak instances, realms and their admins, I know that this is an essential feature.

As stated, a better solution shows the complete set of effective rol

[2022-09-28 17:11] ahweis commented on #3416
The feature is already present in the UI it is just not usable as it is now. Let me try to illustrate.

I have created two groups, first group "parent-group" with a sub group "child-group".

I then assign "user1@example.org" to my "child-group".

Then i navigate to the "parent-group" and look at the "Members" tab, and is shown a page saying "no users found".

If i then add "user2@example.org" as a

[2022-09-28 17:18] MushroomSquad commented on #3437
Sorry
forgot to mention

[2022-09-28 17:18] #3437 closed

[2022-09-28 18:17] ssilvert commented on #3422
I'm closing this as a duplicate of https://github.com/keycloak/keycloak-ui/issues/3376

[2022-09-28 18:17] #3422 closed

[2022-09-28 18:21] ssilvert commented on #3420
I don't see this either so I'm closing.  @klunk66 if you want to post steps to reproduce we can revisit this one.

[2022-09-28 18:21] #3420 closed

[2022-09-28 18:31] ssilvert commented on #3386
@Daryes I don't see this on my end but I don't have an LDAP set up.  Anything you can do to give more specific steps to reproduce will help us find a resolution a lot faster.  Maybe you can verify that it does have something to do with LDAP and the extra mapper you were talking about?

[2022-09-28 20:56] ssilvert commented on #3439
Hi @orcunozbay.  I could not reproduce this.  I get a default screen with a "Create resource" button.

Perhaps it is already fixed?  Please try the latest nightly build and let us know if you still see the problem.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-09-28 21:06] ssilvert commented on #3413
@ahweis Please let us know if you are able to verify with the nightly build.

[2022-09-28 22:20] orcunozbay commented on #3439
Hi I will try tomorrow. Please check the attachment.
Also I am using as docker container.

https://user-images.githubusercontent.com/5327418/192898765-538c6f55-7f4e-454b-8eba-b74527f3045d.mov

[2022-09-28 23:52] ssilvert commented on #3384
Hi @Romain7495.  This is working for me.

Can you give it a try with the latest nightly build and let us know what you find?  Thanks.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-09-29 05:14] edewit commented on #3416
Okay, sorry now I get it, sorry for being so slow, yeah for sure we can fix that

[2022-09-29 06:04] ahweis commented on #3413
Hi,

I just tested with `Admin UI version a6e3e6c212b1814a21018bda772d277b738d1007` and i have the same issue.

It also looks as if i first get the client roles shown they are cashed, so when i navigate to another group, and view the "Role mapping" it is the old client roles of the previous group i see.

[2022-09-29 09:37] foliengriller opened #3442 "Make CSS-links absolute instead of relative to prevent PRSSI attacks"
### Description

We use a security-scanner to automatically detect security-problems.
The scanner complained about the following:
Relative URLs can be dangerous since browser may not determine the correct directory. If the HTML uses path-relative CSS links, it may be susceptible to path-relative stylesheet import (PRSSI) vulnerabilities. This could allow an attacker to take advantage of CSS import

[2022-09-29 09:42] jonkoops commented on #3442
Would this attack vector not already mean that the attacker has access to the system? At that point they could pretty much already load arbitrary code from anywhere.

[2022-09-29 09:52] lhanusov commented on #3293
@ssilvert As I can see it's a tech-preview feature: https://www.keycloak.org/docs/latest/server_admin/#_fine_grain_permissions, I would rather hide the group permissions tab or add there a hint, why it's blocked. From the usability perspective it's unclear why it behaves so. What do you think?

[2022-09-29 09:52] foliengriller commented on #3442
If I understand the linked examples correctly, the security-problem can only occur in combination with other vulnerabilities like XSS. I am also pretty sure that it is not very likely this can be exploited in the wild.
But it would make my (and probably some others) life easier, if these scanners would not complain about such "problems". And I hope that it is not that complicated to use absolute U

[2022-09-29 11:07] #3403 closed

[2022-09-29 11:07] #2398 closed

[2022-09-29 12:24] marek-surek opened #3535 "Users are not suggesting in client-authorization-evaluate"
### Describe the bug

Realm -> Clients -> someClient -> Authorization -> Evaluate
There is a field "Users" with autocomplete, but despite of input string(username), it is listing still only the first x users in realm so we are not able to evaluate against other users.

### Version

19.0.2

### Expected behavior

According to input, it should suggest usernames.

### Actual behavior

It is only show

[2022-09-29 12:28] ssilvert commented on #3442
We do need to make the scanners happy if we can.  Also, I'll pass this on to the security team for evaluation.

[2022-09-29 12:48] marek-surek opened #3444 "Triming values in keycloak console"
### Description

1. If you are creating new client and e.g. "   xxx     ", you are correctly removing ending and trailing whitespaces
2. If you are creating role (Clients -> someClient -> Roles ) keycloak is not trimminng role name so "xxx    " role name is accepted but it is always impossible to see it.
3. The same behaviour with names as in 2 is also in :
a) Creating resource (Clients -> someCli

[2022-09-29 12:55] ssilvert commented on #3293
@lhanusov I agree.  That's a bug.  Thanks.

We need to check other places in the app to make sure that Permissions tab is hidden when `admin-fine-grained-authz` flag is not passed at startup.

[2022-09-29 12:57] ombarek commented on #3386
Dear, I have the same problem with only a browser message: "Minified React error #306; visit https://reactjs.org/docs/error-decoder.html?invariant=306&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings."
No information in the log sever.
I installed keycloak 19.0.1 on Kubernetes with keycloak operator (olm) and I've

[2022-09-29 12:59] ssilvert commented on #3413
Thanks @ahweis.  We will take a closer look.

[2022-09-29 12:59] greglloyd-t3 opened #3450 "Custom Reset Actions for Credential Reset Missing In New Admin Theme"
### Describe the bug

We have recently upgraded to KeyCloak19 (19.0.2) and noticed that our custom actions are not in the list to select from when reseting a users credentials. In KeyCloak18 and prior we were able to select the custom action in both the required action section and reset actions with the latter sending an email to the user. In KeyCloak19 the custom actions are only displayed in the

[2022-09-29 13:05] Romain7495 commented on #3384
Hi @ssilvert, I am not saying that it's not working with `nightly` build, I'am just saying that it's not working with version `19.0.1` and `19.0.2`.
BTW, how is it possible to have inconsistency between `nightly` and `19.0.2` versions (except security patch)

Thanks for the workaround, I confirm that it works with `nightly` build, but it doesn't fit my usecase.

[2022-09-29 13:37] jonkoops commented on #3384
The nightly build will eventually become a release, at which point this will be fixed. Closing this issue.

[2022-09-29 13:37] #3384 closed

[2022-09-29 14:05] bboehm86 opened #3449 "Custom locale will not show up on login page with new admin theme active (e.g. "en-US")"
### Describe the bug

With the old _Admin Console Theme_, we configured an "en-US"-locale, including the translations. This worked fine. When using the new _Admin Console Theme_ (keycloak.v2) this stopped working, and we only got the "en"-locale. Both in the admin UI and (!) on the login page in the language selection.

### Version

19.0.1

### Expected behavior

We still can use a custom locale w

[2022-09-29 16:02] jonkoops commented on #3442
Adding a base tag should not be too much of a hassle. @ssilvert I think we should seriously consider setting up a [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) if we want to reduce attack vectors such as Cross-Site Scripting.

[2022-09-29 16:27] jonkoops commented on #3442
Created a PR (#3443) to address this. @foliengriller could you let me know if this appeases your security scanner?

[2022-09-29 20:11] jonkoops commented on #3444
Should we not be solving this at the API level? To keep things in-line with the 'dumb front-end' philosophy?

[2022-09-29 20:19] Daryes commented on #3386
That's the main problem : the error is only on the browser side, and the error stack is from the browser debug console.
It occurs immediately when trying to access a client details, from the "clients" panel. Even with a new client freshly created.

The only common element with the new client is the extra mapper that automatically propagate to all clients in a client scope :
* Under User Federation

[2022-09-29 21:30] Captain-P-Goldfish commented on #3342
what reason could there be to remove the scopes and mappers from the clients? This is actually a pretty powerful feature and removing it would be rather problematic for some of our usecases.

[2022-09-30 06:02] edewit commented on #3439
fixed by: #3366

[2022-09-30 06:10] foliengriller commented on #3442
Hi @jonkoops,
thank you for the quick patch. It is not that easy for me to put this change to a place, where the scanner can find it. But I will try my best and give feedback. But it will take some time...

[2022-09-30 06:27] edewit commented on #3417
or could you export the client that is is happening with?

[2022-09-30 07:23] ombarek commented on #3386
Hi,
I don't know if it can help you but I check firefox console to find more information.
I obtain these info
[code]
And in another way, (sorry some lines are in french)
[code]
Sorry, I lost some increment in my copy-paste.
Best.

[2022-09-30 08:09] tsaarni opened #3448 "Multi-valued user attributes are not split"
### Describe the bug

Previously in old admin console it was possible to add multi-valued custom attributes to user by setting (single) value that contains multiple values separated by `##`.

### Version

19.0.2

### Expected behavior

User attributes with `##` should be split into multiple values and sent to Keycloak via REST as an array.

### Actual behavior

The value is sent to Keycloak as str

[2022-09-30 08:21] jonkoops commented on #3439
Duplicate of #3296

[2022-09-30 08:21] #3439 closed

[2022-09-30 08:39] hmlnarik commented on #3253
The change is available upstream.

[2022-09-30 09:23] stianst commented on #3374
@edewit @jonkoops can we get this one backported to 19.0 branch please?

[2022-09-30 10:02] stianst commented on #3409
Guessing you're using Inkscape? I betja these SVGs only work properly in Illustrator :/

[2022-09-30 10:16] stianst commented on #3409
Looking through the SVGs at https://github.com/keycloak/keycloak-misc/tree/main/logo they are all a bit messed up :(

[2022-09-30 10:25] stianst commented on #3409
Created one by cropping the full logo (keycloak_logo_450px.svg) that looks better

[2022-09-30 10:42] stianst commented on #3408
That's nice, but a bit to "hidden" as it's under the realm settings right?

[2022-09-30 11:14] ssilvert commented on #3448
@tsaarni Thanks for reporting this.   Until we get a fix, you can use the old UI by setting your admin theme to `keycloak` in Realm settings --> Themes.

[2022-09-30 14:32] edewit opened #3453 "Improve table toolbars when nothing is selected"
### Describe the bug

It makes no sense to have a ... button with only one item move the delete into the toolbar and hide the actions that can't be preformed when nothing is selected

### Version

main

### Expected behavior

Hide the actions until there are actions that can be preformed, show the actions once one or more rows have been selected

### Actual behavior

_No response_

### How to Repr

[2022-09-30 16:42] Aboullos opened #3469 "Client roles not showing correctly when being added to a hardcoded mapper"
### Describe the bug

Role "view-profile" from account not showing correctly when being added to a mapper

### Version

7.5.3

### Expected behavior

The added role is shown as "[client name].[role name]"

### Actual behavior

The added role is shown as "undefined.[role name]"

### How to Reproduce?

- Start creating a Mapper with type "Hardcoded Role"
- Select role
- Select any client with roles

[2022-09-30 16:55] Aboullos opened #3468 "Search field in some Authorization tabs loading indefinitely"
### Describe the bug

When trying to search in some screens the search never ends and shows no results

### Version

7.5.3

### Expected behavior

Show results or that there are not results

### Actual behavior

Shows "Searching" indefinitely

### How to Reproduce?

- Go to "Policies" tab
- Create a Role policy
- Go to create an Aggregated policy
- Search the created policy in the "Apply policy" f

[2022-10-02 10:37] ahweis commented on #3413
Created this PR on the issue https://github.com/keycloak/keycloak-ui/pull/3454

[2022-10-02 22:02] #3442 closed

[2022-10-02 22:03] jonkoops commented on #3442
@foliengriller if you wait for the next nightly to be released you should be able to test this by downloading Keycloak from the [releases tab](https://github.com/keycloak/keycloak/releases/tag/nightly) of the main repo.

[2022-10-03 10:38] #3415 closed

[2022-10-03 10:46] #3408 closed

[2022-10-03 10:47] #3407 closed

[2022-10-03 10:48] #3416 closed

[2022-10-03 11:02] jonkoops commented on #3374
Yeah, no problem.

[2022-10-03 11:18] edewit commented on #3408
Yes, it is.

[2022-10-03 12:53] chuegel commented on #3417
Thanks for your reply. It turned out that a browser extension was causing this issue.

[2022-10-03 14:03] brsysadmin opened #3470 "Authentication > New flow > Step "Create User If Unique": can't convert undefined to object"
### Describe the bug

If I create an authentication flow from scratch + if I add a step "Create User If Unique", I'm not able to edit the settings of this step "Create User If Unique".
Each time I try to edit it, I receive this error:

[code]

The problem is present no matter the name of my authentication flow:
  - with only letters and digits / no special characters except "space" (example: "TEST

[2022-10-03 16:59] jonkoops commented on #3374
Closing this issue again as it has been fixed and is separate from the fix in #3471.

[2022-10-04 09:03] #3409 closed

[2022-10-04 09:17] jonkoops commented on #3161
Yeah, although the functionality does not match what was there before I'd argue this solution is actually better as it relies on standardized APIs. I vote to close this issue.

@ssilvert @edewit @agagancarczyk WDYT?

[2022-10-04 09:21] #3413 closed

[2022-10-04 12:26] ssilvert commented on #3468
This is for the old admin console.  @Aboullos will check to see if it is happening in the new one.

If not we can close.

[2022-10-04 12:26] jonkoops commented on #3470
Cannot reproduce this in the latest nightly so I assume it has been fixed.

[2022-10-04 12:26] #3470 closed

[2022-10-04 12:27] jonkoops commented on #3470
@brsysadmin feel free to reach out to us if you can still reproduce this.

[2022-10-04 12:27] ssilvert commented on #3470
If you check the nightly build and you still see a problem we can reopen.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-04 12:51] jonkoops opened #3473 "Implement complex attribute types"
### Description

Currently we have a basic implementation for attributes that supports string based values (as pictured below).

![A screenshot of the Attributes tab of a user](https://user-images.githubusercontent.com/695720/193823092-84c0c798-07c0-439e-b3b9-32beb892580f.png)

However, the value in this form can be any valid [JSON value](https://www.json.org/json-en.html) data type. The UI should

[2022-10-04 12:58] ssilvert commented on #3404
Changing this to medium impact because there is a workaround.

[2022-10-04 13:00] ssilvert commented on #3399
We can not reproduce this.  Can you try it in the nightly build?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-04 13:09] jonkoops opened #3474 "Include source maps in production build"
We're currently not shipping source maps in production builds. We should [enable this in Vite](https://vitejs.dev/config/build-options.html#build-sourcemap).

[2022-10-04 13:16] ssilvert commented on #3352
Closing due to lack of activity.  If this is causing a difficult problem for you, please let us know.

[2022-10-04 13:17] #3352 closed

[2022-10-04 13:23] ssilvert commented on #3427
This should be fixed in the latest nightly build.  Please try it out and let us know.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-04 13:24] semangard opened #3476 "KC19.0.3: Captcha: Error while getting access to its settings"
### Describe the bug

Hello,

I have the error below at the step 8 while editing the built-in 'registration' flow:
![image](https://user-images.githubusercontent.com/57065741/193829860-4c14ef6c-df88-4779-b887-37ca047786af.png)

![image](https://user-images.githubusercontent.com/57065741/193829920-5a7169bf-d126-46a2-b9bc-c06e078ffc06.png)

### Version

19.0.2

### Expected behavior

Be able to defi

[2022-10-04 13:37] ssilvert commented on #3434
We think these issues are fixed now.  Can you try in the latest nightly build?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-04 13:45] Aboullos commented on #3468
It doesn't happen on the new admin console

[2022-10-04 13:50] Aboullos commented on #3469
It doesn't happen in the new admin console

[2022-10-04 14:26] dominikkawka opened #3475 "Client details -> advanced revert buttons don't revert all changes"
### Describe the bug

In the Open ID Connect Compatibility Modes heading, only the first switch reverts.
In Advanced Settings, ACR to LoA Mapping + Default ACR Values fields don't revert
In Authentication flow overrides, the fields don't revert to the saved settings after saving

### Version

.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Client

[2022-10-04 14:55] jonkoops commented on #3469
Awesome, thanks for checking @Aboullos!

[2022-10-04 14:55] #3469 closed

[2022-10-04 14:55] jonkoops commented on #3468
Great, then I am closing this issue.

[2022-10-04 14:55] #3468 closed

[2022-10-04 15:37] semangard commented on #3476
Additional info : I have the same issue with any other gear icon into flows (for ex with user session count limiter).

[2022-10-04 23:10] kherock commented on #3377
There's an issue in Identity Providers / Mappers that I haven't gotten around to reporting yet but this sounds like it's the same one. I think I've seen this present in the admin2 theme since Keycloak 17 - currently on 19.0.2 I get a full screen error when viewing a mapper when it doesn't have `{ attributes: "[]", claims: "[]" }` in the mapper config.

[2022-10-05 00:11] drsmile1001 commented on #3161
I try pull latest docker image.
It show `中文（中国）` on Supported locales but "zh-TW" not  `中文（台灣）`
But Default locale show  `中文（台灣）`
And "zh-TW" option will not show if unselect it.

![圖片](https://user-images.githubusercontent.com/11384864/193952544-8bca11d8-f3f8-4307-87ea-107b59c4f21e.png)
![圖片](https://user-images.githubusercontent.com/11384864/193952573-18b8d2ce-b57c-49cd-9bae-c953fe664038.png)
![

[2022-10-05 06:10] edewit commented on #3448
The way to do this in the new console is by adding the key twice like this:
![image](https://user-images.githubusercontent.com/51133/193992678-4d703704-c069-4d33-9f8a-1fdbf3f4f7ee.png)

[2022-10-05 06:10] #3448 closed

[2022-10-05 06:17] tsaarni commented on #3448
Indeed it worked, thank you!

[2022-10-05 07:36] edewit commented on #3421
fixed: https://github.com/keycloak/keycloak-ui/pull/3481

[2022-10-05 08:12] jonkoops commented on #3421
Duplicate of #3424

[2022-10-05 08:12] #3421 closed

[2022-10-05 14:32] MarFranMar opened #3490 "Client Role Not Showing in User's Role Mapping Tab"
### Describe the bug

I created a role in client and was about to assign it to the user in the Role Mapping's Tab but was unable to find the created Client role. I even created a Realm role and added it to the user as a test and it works.

Is this a bud or am I missing a step.

The documentations I found says Client Roles are assigned to the user similar to  how realm roles are assigned to the use

[2022-10-05 16:12] Darkein opened #3489 "[admin console] can't upload provider certificate and key"
### Describe the bug

when I go to `admin console > realm settings > Keys > Providers > add provider > rsa` and select my key and certificate, I have an `unknow error`.

![image](https://user-images.githubusercontent.com/4948463/194108316-fd1f0529-c8ba-41d6-a322-a4e1df0f6c83.png)

### Version

19.0.2

### Expected behavior

well, it should works

### Actual behavior

here is the error I have in do

[2022-10-05 17:01] superspeed500 commented on #3386
Might not be related, but I encountered a simular issue with the same error message on my Keycloack 19.0.2 installation running on Fedora server 36 inside a docker (moby-engine-20.10.18-1.fc36.x86_64) container. My instance also have a LDAP-connection to an AD-domain (Samba domain controllers). The interesting thing in my scenario was that I had no issues when accessing from my Windows 10 computer

[2022-10-05 17:50] ssilvert commented on #3476
I could not reproduce this.  It may already be fixed. Can you try it out with the latest nightly build and let us know?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-05 17:56] ssilvert commented on #3475
Thanks for reporting these issues.

For that last one, I'm not sure I understand.  If I change the value and save, then it looks to be properly saved.

[2022-10-05 18:00] ssilvert commented on #3490
After you hit the `Assign role` button, you will get a pop-up.  Change the role filter to `Filter by clients`.  Then you choose a client role.

I see that this is a bit confusing and it should be made more obvious.  So I'm going to leave this issue open and we will come up with a fix.

[2022-10-05 18:04] ssilvert commented on #3489
I believe this is a duplicate of https://github.com/keycloak/keycloak-ui/issues/3424.  We should have a fix very soon.

After the PR for that issue is merged you can check in the latest nightly build at https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-05 18:04] #3489 closed

[2022-10-05 22:21] jonkoops commented on #3489
Duplicate of #3424

[2022-10-06 04:31] allentc commented on #3374
I've hit this today with 19.0.2.

KC_PROXY=edge and KC_HOSTNAME != KC_HOSTNAME_ADMIN.  After authentication various http requests from the admin console are trying reach KC_HOSTNAME URLs that my proxy will not serve as per "Exposed path recommendations" and so the console does not load.

Is KC_FEATURES_DISABLED=admin2 an appropriate workaround until 19.0.3 drops?  If so can I re-enable admin2 late

[2022-10-06 05:11] edewit commented on #3161
PR #3487 fixes this

[2022-10-06 07:58] m-mic opened #3515 "role mapping is not working for child-groups"
### Describe the bug

Using the console, I am not able to set either client or realm role mappings on child groups.
(It works well for top-level groups.)
REST API is also not working.

### Version

19.0.2

### Expected behavior

role mappings should be working properly for child-groups

### Actual behavior

please see the "Describe the bug" section.

### How to Reproduce?

 1) create a test client

[2022-10-06 08:13] cloudcogsio opened #3498 "Keycloak Admin Theme V2 - "Create resource" button is removed if no resources exist"
### Describe the bug

keycloak.v2 theme for Admin console does not have option to create Resources if the auto generated "Default Resource" is deleted.

### Version

19.0.2

### Expected behavior

"Create resource" button should be present whether or not resources exist.

### Actual behavior

"Create resource" button is missing/does not show when all resources are deleted.

### How to Reproduce?

[2022-10-06 08:44] #3374 closed

[2022-10-06 08:53] keerden opened #3496 "Only a few groups visible in admin console"
### Describe the bug

When viewing groups in table mode the keycloak.v2 interface, only a the first 10 groups are displayed and the pagination does not work. When adding subgroups to groups, even less groups are displayed. The groups show up correctly in the tree-view mode.

### Version

19.0.2-legacy

### Expected behavior

When opening the groups page, the groups table is filled with all groups

[2022-10-06 09:17] keerden opened #3495 "Client role mapping to group not visible as inherited role for a user"
### Describe the bug

In the keycloak.v2 admin interface, when mapping a client role to a group, the role does not show up as inherited role in the role mapping page of underlaying users.

In the old keycloak admin interface, this was visible in the effective roles view.

### Version

19.0.2-legacy

### Expected behavior

In the role mapping page of a user, when unchecking 'Hide inherited roles' t

[2022-10-06 13:14] wlo opened #3504 "unable to open realm settings after update"
### Describe the bug

I updated keycloak 17.0.0 to 19.0.2.
I run `bin/kc.sh build` and `bin/kc.sh start --spi-connections-jpa-default-migration-strategy=update`
Login to master, click on Configure/Realm Settings: `Danger alert:missing name after . operator`
This alert occurs on every realm - when trying to open realm settings

### Version

19.0.2

### Expected behavior

open realm settings for con

[2022-10-06 14:46] ssilvert commented on #3496
Hi @keerden.  We can not pre-load all the groups because in some installations there are thousands of them.

However, we are making big improvements to the groups page and there is already a PR if you want to build and review it.  See:
https://github.com/keycloak/keycloak-ui/issues/3164

The new version of Groups should be included in Keycloak 20.0.0.

I couldn't reproduce the bug you talk about s

[2022-10-06 14:46] #3496 closed

[2022-10-06 17:23] xgp opened #3505 "Running admin-ui requires husky and wireit to be installed manually"
### Describe the bug

I'm running node `v18.9.1`. When I run an`npm i`, it will not complete unless you manually install husky and wireit.

### Version

19.0.2

### Expected behavior

`npm i` when running node>18 should run without problems.

### Actual behavior

[code]

[code]

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-10-06 20:51] jorozcof opened #3506 "Cannot convert undefined or null to object - User Session Count Limiter"
When configuring a new authentication flow and adding User Session Limit, the following message is displayed - **_Cannot convert undefined or null to object_**

This error happens with new UI.

The Limit of User Sessions flow is added correctly but when pressing the configuration button the error message automatically pops up.
![Error User Limit Session](https://user-images.githubusercontent.com/1

[2022-10-06 23:14] ssilvert commented on #3498
Thanks for reporting.  This is a duplicate of https://github.com/keycloak/keycloak-ui/issues/3296 and it should be fixed in the latest nightly build.  I am going to close the issue but if you find it doesn't work for you we can reopen.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-06 23:14] #3498 closed

[2022-10-06 23:17] ssilvert commented on #3495
I believe this is a duplicate of #3404.  I'm going to close this issue but if you feel it should be reopened we can do that.

[2022-10-06 23:17] #3495 closed

[2022-10-06 23:22] ssilvert commented on #3504
@wlo I'm not sure how to go about reproducing this.  Are you able to use the old admin console OK?  I realize it might be hard to switch to the old console since you can't open realm settings.  Perhaps use the admin client to explicitly set the admin theme to "keycloak"?

[2022-10-06 23:24] ssilvert commented on #3505
@jonkoops Can you take a look at this when you get a chance?

[2022-10-06 23:25] ssilvert commented on #3506
@jorozcof I think this is already fixed.  Can you check the latest nightly build and let us know?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-07 07:36] neo-escieur commented on #3374
I encountered this problem today with version quarkus 19.0.3.

hostname != hostname-admin, proxy=edge and I am redirected to the hostname url when I connect to the admin console via the hostname-admin url.

the iframe login is on the hostname url, expected on hostname-amin url

Is there another option to set in the configuration?

[2022-10-07 08:10] wlo commented on #3504
@ssilvert thanks for your tip, I had to run this cmd for every realm to change from "base" to "keycloak": `kcadm.sh update realms/realmname -s adminTheme=keycloak --server ...`

[2022-10-07 09:13] semangard commented on #3476
@ssilvert : I recreated form scratch a docker with the nightly release and I do not have anymore the bug

[2022-10-07 10:10] systemtrap opened #3511 "Missing Setting for Client Session Idle"
### Describe the bug

In Keycloak v12.0.3 there was a per client setting to configure the "client session idle" timeout. This was stored as the client attribute `client.session.idle.timeout`.

The server code utilizing this setting seems to exist unchanged. The new admin user interface does not allow to configure this setting.

### Version

19.0.2

### Expected behavior

User should be able to con

[2022-10-07 10:36] edewit commented on #3425
So I've looked at this and actually this seems to be an issue in the old console, rather then an issue in the new. These screens are created based on the server info. Defined for this mapper there is this:

[code]
As you can see there are default values for these switches that the old console seems to ignore, but the new console takes the default value if it's set.

[2022-10-07 11:43] edewit commented on #3431
I you want to translate the admin console you'll need to fork the repo and add the json files in the public folder.

[2022-10-07 12:06] bovy89 opened #3513 "can't convert undefined to object (Default Identity Provider)"
### Describe the bug

Is impossible to configure an identity provider as "default identity provider" (https://www.keycloak.org/docs/latest/server_admin/#default_identity_provider)

### Version

19.0.3

### Expected behavior

Open configuration window

### Actual behavior

![image](https://user-images.githubusercontent.com/697408/194548798-425cdbea-b66d-4cd3-ab9d-0ab89221d9ac.png)

### How to Repro

[2022-10-07 12:37] mduchrow commented on #3417
I am having the same problem with Firefox (portable) and Keycloak 19.0.3. Even disabling all browser extensions does not help.
However, running it in **private** mode works without problems.
Using the new admin UI with Edge or Chrome shows no such problem.

[2022-10-07 12:55] chuegel commented on #3417
To be more precise, the extension which caused the issue for me was "I don't care about cookies"
Now generally speaking, I have the impression that the new UI behaves better in Chrome/Brave.

[2022-10-07 13:26] #3423 closed

[2022-10-07 13:36] ssilvert commented on #3511
`Client Session Idle` is set under `Realm settings --> Sessions`.  Is that what you are talking about?

[2022-10-07 13:42] ssilvert commented on #3511
Oh, you said per client.  Yes, it looks like there is a whole section missing on the `Advanced` tab.  We will fix that.

[2022-10-07 13:53] ssilvert commented on #3513
I could not reproduce this.  I think it is already fixed though.  Can you check the latest nightly build and let us know?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-07 14:38] bovy89 commented on #3513
19.0.3 ---> error
nightly --> seems ok (configuration window displayed) but after you set the default identity provider the same window display nothing

![image](https://user-images.githubusercontent.com/697408/194579231-9b8cab45-ac34-4506-ab5e-f49908541f9b.png)

I thought it was fixed in 19.0.3 reading this: https://github.com/keycloak/keycloak-ui/issues/3375

[2022-10-07 19:06] ssilvert commented on #3504
@wlo What was the result?  Did the old console work OK?  Do you have any more insight on how to recreate your problem?

[2022-10-08 02:15] yaoguoh opened #3517 "Group management paging bug"
### Describe the bug

1. Pagling button click is invalid
2. Pagling logic error
3. The user gourp configuration also has a problem with paging logic errors

### Version

19.0.3

### Expected behavior

Correct paging

### Actual behavior

![image](https://user-images.githubusercontent.com/18107429/194682962-623a1495-770b-4138-9b20-e69daa467dba.png)
![image](https://user-images.githubusercontent.com

[2022-10-08 09:08] xianli123 commented on #3408
Yes, I agree. The old UI is confusing.

[2022-10-08 09:09] xianli123 commented on #3408
Yes, I agree. The old UI is confusing.

[2022-10-08 16:22] jonkoops commented on #3417
The dev team is pretty much 50% Firefox users, so this is an interesting find.

[2022-10-08 16:22] jonkoops commented on #3417
@mduchrow not quite sure what you mean by 'portable', which version of Firefox are you running?

[2022-10-08 17:00] jonkoops commented on #3513
This has not been backported to 19.0.3. Most fixes will come with the Keycloak 20 release, which will be coming soon.

[2022-10-08 17:01] jonkoops commented on #3513
@bovy89 if you feel this is a bug, could you report it as a separate issue? Closing this one as the problem has been resolved on `main`.

[2022-10-08 17:01] #3513 closed

[2022-10-08 21:23] ssilvert commented on #3517
@yaoguoh You will need to be a little more specific.  I don't understand what your issue is.

Also, we are making some major changes to the groups page that should be ready for Keycloak 20.0.0.

[2022-10-08 21:25] ssilvert commented on #3476
@semangard Thanks for getting back to us about the nightly build.  For 19.0.3, we only cherry picked a few critical bug fixes.  The rest will be in 20.0.0.

I'm going to close this since it should be fixed now.

[2022-10-08 21:25] #3476 closed

[2022-10-09 01:41] yaoguoh commented on #3517
The content of the two display methods is different.
'admin-ui-groups' what is the query? I haven't found the relevant documentation.

[2022-10-09 02:59] xianli123 commented on #3253
@ssilvert Sure, I will do that.

[2022-10-09 04:31] souravs17031999 opened #3638 "Client registration policies not available in Keyclok 19.0.1 admin UI"
### Describe the bug

Prior to keycloak 19, there was a separate tab and process for creating client registration policies, we need those policies in Keycloak 19 as well for OIDC dynamic client registrations.
I am unable to find any tab for creating those.

Even as per Keycloak latest docs, it says there's a plan to remove these "client registration policies" and migrate to "client policies" but I

[2022-10-09 07:14] xianli123 commented on #3473
Hi @jonkoops I've checked these 2 issues. Does it mean that the UI should support multiple values for the same key and values in different formats that are listed in the [JSON value](https://www.json.org/json-en.html)?

[2022-10-09 07:32] xianli123 commented on #3342
Hi @Captain-P-Goldfish We plan to remove mappers and scope (inside client), and only allow assigning client scopes to a client. As for more details, I will convey your concerns to the developer team and get back to you as soon as possible.

[2022-10-09 18:02] ludydoo opened #3518 "missing = in const declaration in Events (Firefox)"
### Describe the bug

On a brand new fresh install, opening the `events` tab on Firefox generates an error `missing = in const declaration`. Issue does not appear on Chrome.

![image](https://user-images.githubusercontent.com/38968/194772308-f880f845-e738-4598-ad8e-e1571eff4b22.png)

### Version

quay.io/keycloak/keycloak:19.0.3

### Expected behavior

No error shown when opening the `Events` tab.

[2022-10-10 03:07] xianli123 commented on #3253
Hi @hmlnarik Is exact searching a common occurrence in Keycloak and not just in Groups? Thanks.

[2022-10-10 07:07] bovy89 opened #3531 "default identity provider not displayed"
### Describe the bug

If "default identity provider" (https://www.keycloak.org/docs/latest/server_admin/#default_identity_provider) is being configured you should be able to check it

### Version

nighty

### Expected behavior

configuration window display the configured default identity provider

### Actual behavior

after you set the default identity provider the same window display nothing

![i

[2022-10-10 08:11] rtheys opened #3545 "User federation mapper shows error about missing formal parameters after upgrade to 19.0.3"
### Describe the bug

After upgrading Keycloak from 19.0.1 to 19.03, I can no longer edit user federation mappers. It shows a "missing ) after formal parameters" error message.

My user federation is an LDAP user federation. I change change the settings and click on the "mappers" tab. When I click on an existing mapper (a user-attribute-ldap-mapper) that maps the email address (but also any other

[2022-10-10 12:38] ssilvert commented on #3533
@ghenadiibatalski This should be fixed in the latest nightly build via https://github.com/keycloak/keycloak-ui/issues/3448

I'm going to go ahead and close this issue.  You can try it out in the latest nightly build or wait until Keycloak 20.0.0.  If you still have trouble we can revisit this issue.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-10 12:38] #3533 closed

[2022-10-10 12:43] idc77 opened #3538 "Mass User Actions and Default List Size"
### Description

When administrating users the default list size is 10, and it's 10 every time you navigate back to the user list.
And you have to set the size manually every time to 100.

- I would like the ability to set the default user list size.

---

Due to a misconfiguration of my email credentials users could not verify their email addresses, now I have like 50 users where I would like to

[2022-10-10 12:47] #3449 closed

[2022-10-10 12:53] ssilvert commented on #3518
@ludydoo I was not able to reproduce this with the latest code.  Can you try out the nightly build and let us know if you still see a problem?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-10 13:00] ssilvert commented on #3538
@idc77 I consider your first problem to be a bug.  Can you open a new issue for that one?

I agree that your enhancement would be a very, very nice addition.  We will consider it.

[2022-10-10 13:17] ludydoo commented on #3518
Hi @ssilvert , thank you for your reply.
I can try it. Do you know if there's an "easy" way to deploy the nightly build using the keycloak operator (candidate channel)?

[2022-10-10 14:51] brsysadmin commented on #3470
I just updated to Keycloak 19.0.3 and the problem is still present for me

I made some screenshots available here: https://imgur.com/a/6ufuGVd

My Keycloak:
  - is a native instance (not a container)
  - behind Nginx
  - OS: Ubuntu 20.04

My Nginx configuration :

[code]

I don't know if it can help?

[2022-10-10 15:03] #3164 closed

[2022-10-10 16:04] #3424 closed

[2022-10-10 16:32] ssilvert commented on #3518
@ludydoo Not off hand, but I'm sure you can get some help with that.  See https://www.keycloak.org/community

[2022-10-10 18:06] ssilvert commented on #3470
@brsyadmin 19.0.3 only included a few targeted fixes.  What is in the nightly build is what will go into Keycloak 20.0.0.

Are you able to check the nightly build?
https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-10 19:13] Captain-P-Goldfish commented on #3342
thx. Would be great if the mappers would be kept. We are using them  the mappers for two purposes:
1. to add hardcoded details into the access-token to clients that authenticate with client_credentials grant. These hardcoded details are necessary for some additional operations within the authenticating application.
2. To map additional audiences into the access-token

[2022-10-10 19:47] #3438 closed

[2022-10-10 19:58] #1636 closed

[2022-10-10 19:59] #1397 closed

[2022-10-10 21:08] jonkoops commented on #3374
@neo-escieur this issue might be fixed in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly). If so, then it will be fixed and released by v20.0.0. If not, please file a new bug report.

[2022-10-10 21:46] #3419 closed

[2022-10-11 05:47] #3531 closed

[2022-10-11 07:55] jbman commented on #3342
Hi @xianli123 and @Captain-P-Goldfish,

I think it would be ok to remove dedicated client mapper and role scope configuration, so that a mappers and roles scope are always configured as an entity which can be used at multiple clients.

However the view for one client should still support to check the complete configuration of a client by keeping the "Mapper" and "Scope" tabs at the client. The map

[2022-10-11 07:58] edewit commented on #3515
this issue might be fixed in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly). If so, then it will be fixed and released by v20.0.0.

[2022-10-11 10:02] Captain-P-Goldfish commented on #3342
what about data that is not supposed to be added to multiple clients?
Using client scopes is possible but it would harm the clarity of the configuration if different scopes are created for different clients. In my opinion it would be better to keep the possibility to add explicit meta-datasets into the access tokens of specific clients that are only meant for this client only.

And what about audi

[2022-10-11 10:15] #3450 closed

[2022-10-11 11:08] #3433 closed

[2022-10-11 11:12] #3428 closed

[2022-10-11 11:12] ssilvert commented on #2773
This is fixed now.

[2022-10-11 11:12] #2773 closed

[2022-10-11 11:21] ssilvert commented on #2587
I'm closing this as out of date because we can't realistically fix it.

[2022-10-11 11:21] #2587 closed

[2022-10-11 11:23] ch-lepp opened #3554 "Unable to upload custom cert key pair"
### Describe the bug

The admin console provides the option to upload custom certs and private keys.
With the old admin console the user had the option to simply copy paste these values, which worked flawless.
With the new admin console however the user is forced to upload cert and key as pem file.
This upload does not work properly and produces an error.

### Version

19.0.0

### Expected behavio

[2022-10-11 11:25] jonkoops commented on #3505
This must be a problem with how Node.js/NPM is set up in this particular environment, as all the devs and CI run these commands every day.

[2022-10-11 11:26] xgp commented on #3505
@jonkoops Thanks for looking. I think my problem was, if you clone the repo, run `npm i` from the `apps/admin-ui/` first, you get these errors. You must run `npm i` from root first to avoid them.

[2022-10-11 11:26] #3505 closed

[2022-10-11 11:27] jonkoops commented on #3473
Yes, we'd at least need a way to provide multiple string values (an array). As for the other data-types, that would require some research to see if they are accepted, but it would be good to keep it into account in the design.

[2022-10-11 11:28] jonkoops commented on #3505
Yes, that makes sense. I think we could do a better job explaining this in our documentation.

[2022-10-11 11:29] jonkoops commented on #3545
@rtheys can you try a nightly version of Keycloak and see if the issue is still present there? See: https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-11 12:17] DAHAG-ArisNourbakhsh commented on #3425
I'd say that, that is an issue with the new console.
(I included the response from the network tab in the screenshots)

`id.token.claim` is not included in the reponse. Keycloak, in it's backend logic will treat the absence of `id.token.claim` as "false" but the new UI "ignores" that and applies a default value to the toggle control.

[2022-10-11 12:25] brsysadmin commented on #3470
Oups, my bad...
I thought nightly was merged in the 19.0.3 :-D

Ok I tested the nightly and the bug seems fixed :)
Sorry to have consumed your time and thank you for the support ;)

[2022-10-11 12:52] ssilvert commented on #3427
I'm going to close this now.  We can reopen if you are still having problems with the latest build.

[2022-10-11 12:52] #3427 closed

[2022-10-11 12:54] ssilvert commented on #3434
I'm going to close this now.  We can reopen if you are still having trouble with the latest build.

[2022-10-11 12:54] #3434 closed

[2022-10-11 13:03] ssilvert commented on #2648
The `Reset` in the old UI appears to do nothing more than clear the field.  Won't fix.

[2022-10-11 13:03] #2648 closed

[2022-10-11 13:06] ssilvert commented on #2516
I think this has already been addressed.  Closing.  We can reopen if there are more improvements to be had.

[2022-10-11 13:06] #2516 closed

[2022-10-11 13:08] ssilvert commented on #1775
@agagancarczyk Please address all password fields that don't have this functionality.

[2022-10-11 13:10] ssilvert commented on #1034
No longer relevant.

[2022-10-11 13:10] #1034 closed

[2022-10-11 13:11] ssilvert commented on #1033
No longer relevant.

[2022-10-11 13:11] #1033 closed

[2022-10-11 13:18] ssilvert commented on #118
Working.  Closing.

[2022-10-11 13:18] #118 closed

[2022-10-11 13:19] #121 closed

[2022-10-11 13:30] wlo commented on #3504
the old and the new console are working, just not with the base theme.
I checked on our productive service, this is running with 18.0.0 and the old console. This should be similar to the situation before the update:
`master-realm
no theme for loginTheme, accountTheme, adminTheme

REALM1
"loginTheme" : "custom",
"accountTheme" : "keycloak.v2",
"adminTheme" : "base",

REALM2 - productive
"loginTheme

[2022-10-11 15:21] lievenjacquot commented on #3517
I have same issue here,

the /admin/..../admin-ui-groups route not returning the same info that /admin/.../groups?briefRepresentation=false

In the first case I have only few of my groups displayed.
In the second case I have all my groups displayed.

I have not found any documentation about admin-ui-groups to know if there is a specific filter.

PS: in the /admin-groups-ui only the first in alphab

[2022-10-11 16:21] Flingoo opened #3557 "Adding session limiter to flow fails with error "Cannot convert undefined or null to object""
### Describe the bug

Attempting to configure a new session limit step in the browser flow fails with error "Cannot convert undefined or null to object". Preconfigured realms from Keycloak 18 can be reconfigured, but not new ones.

### Version

19.0.3

### Expected behavior

I would expect the "User session count limiter config" modal to be displayed as it is in Keycloak 18

### Actual behavior

N

[2022-10-11 16:27] filipeferraz opened #3559 "Failing to deserialize custom User Federation Properties of type ProviderConfigProperty.STRING_TYPE"
### Describe the bug

Adding a property of type ProviderConfigProperty.STRING_TYPE in a User Federation Provider returns error on save if no value is provided (sends empty string "" do rest but backend cannot process) or any value is provided.

This behaviour starts in keycloak 19.0.0 and is present on latest version 19.0.3 (not works in wildfly and quarkus version).
Works fine in 18.0.2 wildfly.

[2022-10-11 16:49] jbman commented on #3342
That's true, a client scope can be named myClient-client-scope but it doesn't prevent that the scope is used by other clients. But isn't a naming convention enough to signalize that the scope isn't intended to be shared?
Is anything special about the audience mapper?

I think it's good to have the client-scope configuration sharable by default, as you want to be able to hand out a second client wh

[2022-10-11 17:16] rtheys commented on #3545
Hi @jonkoops,

I've tested the nightly build of 2022-10-11 and the issue seems to be fixed in that version. Will these fixes automatically land in a 19.0.x version, or only in 20.0?

Regards,
Rik

[2022-10-11 18:14] ssilvert commented on #3554
@ch-lepp I believe this is fixed in the latest nightly build.  Can you try it out and let us know if it solves your issue?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-11 18:15] ssilvert commented on #3545
@rtheys The fix will most likely land in 20.0.0.  Thanks for reporting.

[2022-10-11 18:15] #3545 closed

[2022-10-11 19:52] ssilvert commented on #3504
@wlo Can we close this issue?

[2022-10-11 21:19] dbarentine opened #3558 "Paging not working for admin Groups UI"

[2022-10-12 07:12] #3504 closed

[2022-10-12 07:12] wlo commented on #3504
we can close this.

[2022-10-12 08:22] #1775 closed

[2022-10-12 08:22] #2583 closed

[2022-10-12 10:13] jsarem opened #3560 "All table checkboxes get selected when table page is changed"
### Describe the bug

Checking a checkbox on a table and changing the table page checks all the checkboxes. The issue persists even when changing page back to the previous or to the next one. According to my testing the bug is only visual and only the originally selected values are really selected.

### Version

19.0.3

### Environment

Chromium 105.0.5195.102 @ Ubuntu 22.04

### Expected behavior

[2022-10-12 10:30] Neeya123 commented on #3341
This issue is fixed but not yet been released in latest version 19.0.3? When this is planned to be released?

[2022-10-12 10:50] knoppt opened #3562 "add role to composite role does not show all availabe roles"
### Describe the bug

In admin console I want to add a realm role to a composite role, but only the first eleven roles (sort by name) are available in add role window.
Search by rolename and other pagination did not help.

Adding role by CLI Client works fine.

### Version

19.0.2 / 19.0.3

### Expected behavior

all available roles are shown in add rule window!

### Actual behavior

only the firs

[2022-10-12 10:57] jsarem opened #3561 "Unable to assign client role to the user when using fine grained permissions"
### Describe the bug

Following the [Restrict user role mapping](https://www.keycloak.org/docs/latest/server_admin/#restrict-user-role-mapping) instructions on the Server Administration Guide doesn't produce desired result with the new Admin Console UI.

The "Add viewleads" step is not completable because the UI doesn't show any roles. See the picture below.

![keycloak-user-role-mapping-bug-v19-1

[2022-10-12 11:58] xianli123 commented on #3342
@Captain-P-Goldfish @jbman Thanks for your ideas and suggestions. I have conveyed your comments to the developer. If you have any other comments, please feel free to leave them here.

[2022-10-12 13:01] edewit commented on #3558
We recently changed how groups work the tree view and table are now combined into one:
![image](https://user-images.githubusercontent.com/51133/195349046-f56da924-d339-4e1d-b82a-8ff16f1f0a75.png)
I think it will work better for you this way, you can check it out by using the [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-10-12 13:14] edewit commented on #3557
this issue might be fixed in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly). If so, then it will be fixed and released by v20.0.0.

[2022-10-12 13:23] Flingoo commented on #3557
Just checked and this is indeed working in the latest nightly

[2022-10-12 13:41] edewit commented on #3557
Great thanks for checking closing this

[2022-10-12 13:41] #3557 closed

[2022-10-12 13:42] edewit commented on #3341
this issue is fixed in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly) and will be in the released by v20.0.0.

[2022-10-12 14:00] ssilvert commented on #3517
@yaoguoh @lievenjacquot Can you guys look at the latest nightly build and then let me know specific steps to reproduce your problems, if any?  The groups section has had quite a bit of work since the 19.x releases.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-12 14:06] ssilvert commented on #3559
@filipeferraz Please let us know if the nightly build fixes your issue.

[2022-10-12 14:08] ssilvert commented on #3558
I believe this is a duplicate of https://github.com/keycloak/keycloak-ui/issues/3517

[2022-10-12 14:11] ssilvert commented on #3560
@jsarem I have recreated the issue.  Thanks for the detailed steps to reproduce!

[2022-10-12 14:21] ssilvert commented on #3562
@knoppt This seems to be working for me.  I just change the selector to `20 per page` on the `Assign roles` screen and I see all the roles.  Or, with it set to `1-10` I can just page through.

Perhaps this is already fixed in the nightly build?  Please let us know.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-12 14:29] USAF-cbentkowski commented on #3404
This is affecting us as well. When troubleshooting user permission issues, it is invaluable to view the user to see what roles they effectively have based on roles directly assigned to them, assigned to groups they belong to, or nested groups they belong to. We were testing an upgrade from 18.x to 19.0.2 and being unable to directly see effective roles at a user level is causing us to not move for

[2022-10-12 14:37] filipeferraz commented on #3559
Hi @ssilvert. Tested now the [nightly version](https://github.com/keycloak/keycloak/releases/download/nightly/keycloak-999-SNAPSHOT.tar.gz) and works fine to save STRING_TYPE property.

Found another minor issue editing the provider for type MULTIVALUED_STRING_TYPE: the change in input field not enable the Save button, for all other types that I tested worked fine now (STRING_TYPE, LIST_TYPE, MULT

[2022-10-12 15:10] knoppt commented on #3562
@ssilvert you are right!
I tested in release 19.0.3!
Its fixed in Keycloak-9999-SNAPSHOT and I walk away its included in next release!
thanks!

[2022-10-12 15:11] dbarentine commented on #3558
@ssilvert yes I missed that one in my search but it does look like a duplicate. Although I will add that I believe the search functionality is broken currently as well. That may be related to the paging problem though. I'm fine if you want close this one in favor of #3517

@edewit I'll take a look at the nightly when I get a chance. I'm assuming that is targeted for the 20.0.0 release.

[2022-10-12 17:03] tuxtux59 opened #3595 "Client key import fails resulting to quay.io/keycloak/keycloak"
### Describe the bug

Importing Key to SAML Client show success in view but Certificate value not updated.

We tested both JKS and PKCS file variant with alias and password resulting with success message but nothing change.

In Client settings here are activated fields

- sign documents
- sign assertions
- front channel logout

The purpose of adding certificate is to allow SLO process and secure c

[2022-10-12 17:47] ssilvert commented on #3559
Thanks for the feedback @filipeferraz.

I'm going to keep this open with `medium` impact level so we can your second issue fixed a bit later.

[2022-10-12 17:48] edewit commented on #3558
yes

[2022-10-12 17:50] ssilvert commented on #3562
Thanks for the feedback @knoppt.  Closing.

[2022-10-12 17:50] #3562 closed

[2022-10-12 20:03] ssilvert commented on #3341
@Neeya123 Version 20.0.0 should be out in 1 to 2 weeks.

[2022-10-12 20:04] ssilvert commented on #3253
I think this is only for groups.  I don't remember seeing it elsewhere.

[2022-10-12 20:37] ssilvert commented on #3404
OK.  Moving back to high impact.  We will take a closer look sooner.

[2022-10-13 02:14] yaoguoh commented on #3517
Docker image ’quay.io/keycloak/keycloak:19.0.3-legacy‘ deployed.
Nightly changes a little big,  It is not very convenient to use without ‘/auth’ routing.

[2022-10-13 02:14] yaoguoh commented on #3558
Docker image ’quay.io/keycloak/keycloak:19.0.3-legacy‘ deployed.
Nightly changes a little big, It is not very convenient to use without ‘/auth’ routing.

[2022-10-13 02:22] yaoguoh commented on #3517
![image](https://user-images.githubusercontent.com/18107429/195483928-990c1f96-8f5a-4047-9f98-8f9b121cc919.png)
Join groups page has the same problem.

[2022-10-13 07:28] sakitA opened #3597 "Realm configuration page does not show new added language in the supported language list"
### Describe the bug

Hello,  I want to support 'az' language on my custom login view. I followed these https://www.keycloak.org/docs/latest/server_development/#adding-a-language-to-a-realm guide and did all. But I could not see my new added language on admin page.

### Version

19.0.3

### Expected behavior

I should see the language in the supported language list on admin page

### Actual behavi

[2022-10-13 08:56] robert-franz commented on #3341
Is there a plan to deliver that in e.g. a 19.0.4?

[2022-10-13 09:31] jonkoops commented on #3341
No, it will be included in 20. We currently have no intention of shipping another patch release.

[2022-10-13 11:35] ssilvert commented on #3506
I'm going to go ahead and close this.  We can reopen if needed.

[2022-10-13 11:35] #3506 closed

[2022-10-13 12:11] USAF-cbentkowski opened #3565 "Group search is not functioning"
### Describe the bug

Searching for group names with wildcards (% or *) or with exact group name is not pulling up groups.

### Version

19.0.2

### Environment

Microsoft Edge Version 106.0.1370.42 (Official build) (64-bit)

### Expected behavior

When browsing groups, you should be able to use a wildcard, either % or *, to search for groups and groups that match should be listed. Also, when sear

[2022-10-13 12:19] USAF-cbentkowski opened #3566 "User Federation Sync All Users"
### Description

Now that LDAP groups are being synced with a user sync, a status to display groups synced/updated/removed in the return status window would be helpful.

Also, a status window popup acknowledging that a user sync is in progress would also be helpful for larger synchronizations.

### Discussion

_No response_

### Motivation

In Keycloak 18 and lower, group sync was a separate sync

[2022-10-13 13:31] hmlnarik commented on #3253
Yes, only in groups

[2022-10-13 15:55] xianli123 commented on #3253
@hmlnarik @ssilvert Thanks for your replies. I will update the search function in the Groups.

[2022-10-13 16:12] KenRoy-Octo opened #3568 "X509/Validate Username Form settings button error: Cannot convert undefined or null to object"
### Describe the bug

When I add the X509/Validate Username Form step to my authentication flow and then click the settings button (i.e. "cog" icon) I get the following error in my browser:

"Cannot convert undefined or null to object"

The browser console shows:

TypeError: Cannot convert undefined or null to object
    at Function.entries (<anonymous>)
    at convertToFormValues (index.0187f463.

[2022-10-13 16:26] kherock commented on #1993
I recently enabled the new Admin UI and am seeing this in Keycloak 19.0.3. Should I open a new issue?

[2022-10-13 18:56] xgp commented on #1219
This is not a proposal, but I wanted to add some notes here, in case it is useful.

Most Keycloak admin extensions need:

- Access to the left nav to add a menu item.
- Access to the token and userinfo of the logged in user.
- Access to run admin API queries. Although this can be achieved with just the token + the stock admin API lib, there may be some reusable components that would make this easi

[2022-10-13 20:16] ssilvert commented on #3566
OK.  We will see what we can do.

[2022-10-13 21:31] ajcollins commented on #3386
I experienced the same issue with a newly installed 19.0.3 (macOS 12.6, Safari 16.0). This was running in docker using the same default image with no external connections setup.

Opening the browser's developer console and disabling the cache solved the issue. Once resolved, the cache was re-enabled and it continues to work.

[2022-10-13 21:40] jonkoops commented on #1993
@kherock if this issue still persists in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly), then yes. If it's not reproducible it will be fixed in the next major version, which is a couple of weeks away.

[2022-10-14 03:09] xianli123 commented on #3253
Hi @hmlnarik We want to add a checkbox after the search bar, as shown in the screenshot below. When users search for groups, the checkbox is editable. What do you think of it?
<img width="579" alt="Screen Shot 2022-10-14 at 11 02 53" src="https://user-images.githubusercontent.com/53931519/195752693-203b10cf-2d8b-4180-bc82-6654859ade8e.png">

[2022-10-14 07:36] hmlnarik commented on #3253
@xianli123 I believe re UI / UX I am not the best person to check with since I am not aware of current UI rules, and I would defer to @ssilvert here.

My 2 cents - to me it looks fine.

[2022-10-14 08:47] stianst commented on #3342
@mposolda FIY

[2022-10-14 08:51] stianst commented on #3342
We are planning on deprecating/removing the ability to add mappers and scope directly to a client, and rather make it only possible to add these via a client scope. It just doesn't make much sense to have two separate implementations for adding mappers and scope to clients.

At the UI level how to represent it is a bit unclear. I could see that we could still want some form of a "dedicated" or sin

[2022-10-14 09:21] USAF-cbentkowski commented on #3565
In Keycloak versions 18 and previous, you could perform group searches using the % sign as a wildcard search. It may have been an oversight as typically the % sign is used for a wildcard in SQL queries.

[2022-10-14 16:13] chuegel commented on #3417
This was a little too optimistic, I still get the error. This is what FF console shows:

[code]

[2022-10-16 16:15] JonasSchubert opened #3569 "Client Details - missing } in compound statement"
### Describe the bug

I want to edit one of my clients.
When trying to open one, following error occurs:

`missing } in compound statement`

![image](https://user-images.githubusercontent.com/21952813/196046161-6921101d-9b22-432e-b0a0-64793adb1c4a.png)

console output:
[code]

### Version

19.0.3

### Environment

Firefox 105.0.3

### Expected behavior

Client details open and I can view and edit

[2022-10-17 06:49] xianli123 commented on #3253
Thanks @hmlnarik @ssilvert

[2022-10-17 07:01] ahus1 opened #3588 "Disabled field "Duplicate Emails" should show as "Disabled""
### Describe the bug

When enabling in a realm the feature "Login with email", the feature "Duplicate emails" becomes disabled, which is correct.

Unfortunately the disabled field is shown as "On", while the disabled state when "Login with email" is enabled should be "Off".

![image](https://user-images.githubusercontent.com/3957921/196109601-4f77a1e2-6cb0-424e-a10f-f9263b77ffdc.png)

### Version

[2022-10-17 07:07] ahus1 opened #3589 "After loading a list view, the controls "jump down" by some pixels"
### Describe the bug

When clicking on the menu in the new Admin UI for "Clients", there is a short moment when the UI loads the data from the backend.

While loading the controls like "Search for client" are already shown. Once loading is complete, those "jump down" by some pixels, probably because the pagination controls are loaded/shown.

This is IMHO a UI glitch. It would make the Keycloak UI

[2022-10-17 08:16] jruhe-adesso opened #3594 "Empty user attributes break UI"
### Describe the bug

Adding an empty user attribute breaks UI

![image](https://user-images.githubusercontent.com/15670023/196124317-07219bc6-b9a9-4cdb-8855-48152aa430f6.png)
![image](https://user-images.githubusercontent.com/15670023/196124336-1befe843-d2f5-4292-ba71-8c02390dca58.png)

### Version

19.0.2 Quarkus

### Expected behavior

1. Open user's page
2. Select attributes
3. Empty attribute

[2022-10-17 09:55] nine-testabe commented on #3355
I am trying to configure in v19.0.3, but the seems to be there too.
Can you confirm that #3336 is not included in 19.0.3

[2022-10-17 10:20] #3560 closed

[2022-10-17 10:21] #3561 closed

[2022-10-17 13:09] #2032 closed

[2022-10-17 13:38] lme-atolcd opened #3593 "Username and email address changed after testing SMTP settings for another realm with "Email as username" enabled"
### Describe the bug

When logged in with a user of the "Master" realm and testing SMTP settings for an other realm, both username and email of the logged in user are changed when "Email as username" is enabled for the other realm.

### Version

19.0.3

### Expected behavior

Username and email address of the logged in user are not changed.
The test email is sent.

### Actual behavior

Username an

[2022-10-17 14:32] ahus1 opened #3591 "Too many REST requests when selecting a user in the admin UI"
### Description

When clicking on a user in the list of users in the admin UI, the user and the realm are retrieved multiple times from the backend to show the single user.

The following was tested with Keycloak nightly with Chrome 106.

### Motivation

Save bandwith, improve response time, reduce processing time on the server.

### Details

To reproduce:

* create a new Keycloak setup
* login as

[2022-10-17 16:20] life-tushar1 opened #3592 "not able to set up Identity Provider Redirector"
### Describe the bug

for keycloak 19.0.2 i am not able to set Identity Provider Redirector for browser(authentication->browser).

On click of gear icon, I am getting " Cannot convert undefined or null to object"
<img width="1512" alt="Screenshot 2022-10-17 at 9 47 16 PM" src="https://user-images.githubusercontent.com/17873663/196229749-d6312001-f65a-4cde-9df0-1446ea6c40f9.png">

### Version

19.0

[2022-10-17 18:17] ssilvert commented on #3377
I'm closing this for now.  We can reopen if the issue persists.

[2022-10-17 18:17] #3377 closed

[2022-10-17 18:26] ssilvert commented on #3568
@KenRoy-Octo I believe this is likely the same bug as https://github.com/keycloak/keycloak-ui/issues/3470.

It should be fixed in the nightly build.  Can you check and let us know?
https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-17 19:41] ssilvert commented on #3518
@jonkoops There is some more info in [this discussion](https://github.com/keycloak/keycloak/discussions/14923).  Could this be the infamous FireFox cookie issue?

[2022-10-17 19:41] JonasSchubert commented on #3569
Sorry for the misleading instructions, @ssilvert ,i added some more information.
I will test tomorrow with other browsers. So far I've only tested Firefox.

[2022-10-17 20:25] pmorettiharris opened #3596 "OpenID Connect v1.0 Identity Provider 'Advanced Claim to Group' Mapper is not saving correctly"
### Describe the bug

Attempting to create a new Identity Provider Mapper (forOpenID Connect v1.0 providers)  of type 'Advanced Claim to Group' results in a non-functional mapper with anomalous data saved in the 'Claims' field (ie a large number of empty 'Key' and 'Value' fields.

This behaviour appears to occur regardless of the 'Sync mode override' value, as well as being independent of the 'Reg

[2022-10-18 00:15] ssilvert commented on #3592
@life-tushar1 This should be fixed in the latest nightly build.  I believe it's a duplicate of https://github.com/keycloak/keycloak-ui/issues/3531.

Can you give the nightly a try and let us know?
https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-18 00:18] ssilvert commented on #3595
@tuxtux59 Any luck?

[2022-10-18 00:24] ssilvert commented on #3594
@jruhe-adesso I was also unable to recreate your issue.  I tried both sets of instructions.

Can you try the latest nightly build and let us know if it works?
https://github.com/keycloak/keycloak/releases/tag/nightly