[2022-10-18 04:32] life-tushar1 commented on #3592
Hi Stan,

I am looking for a stable build as I am planning to take it to the
production instance.

Thanks and Regards.

On Tue, 18 Oct 2022 at 5:45 AM, Stan Silvert ***@***.***>
wrote:

[2022-10-18 07:51] jruhe-adesso commented on #3594
@ssilvert  we are going to perform some experiments. Let you know about results. This is a critical production issue for us.

[2022-10-18 09:10] aaron-kunde commented on #3594
We use the version 19.0.2. The problem occurs, if you use oracle as a DB-Vendor

[2022-10-18 09:21] jonkoops commented on #3518
@ssilvert it's the same issue you linked in the discussion, however it's not related to cookies. Firefox always shows that warning, but it's unrelated to this specific issue.

@ludydoo there should be no need to deploy this as an operator, instead you can run the nightly in [standalone mode](https://www.keycloak.org/docs/latest/server_installation/index.html#_standalone-mode).

[2022-10-18 09:24] jonkoops commented on #3597
I believe this might be fixed already. Could you try running this in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly) and see if the problem still persists?

[2022-10-18 09:53] jruhe-adesso commented on #3594
As an addition to Aaron's comment (a colleague of mine), we recently switched from 18.0.2-legacy to 19.0.2 Quarkus and that was the point, where the issue appeared. Might be an UI-Problem only, but as we create and read users programatically by using the keycloak client as well, there might be other side effects caused by this issues. We are further investigating this.

EDIT
I just found a running

[2022-10-18 11:24] ssilvert commented on #3554
@ch-lepp I'm going to close this now.  If you still have problems after testing the latest build, we can reopen.

[2022-10-18 11:24] #3554 closed

[2022-10-18 11:32] ssilvert commented on #3594
The old admin console does not allow you to submit empty attributes at all.

While the REST API should be the foremost enforcer of these rules, we should fix this in the new UI and then transfer this issue over to the server team for final resolution.

[2022-10-18 11:35] ssilvert commented on #3592
@life-tushar1 That's OK.  If you are unable to test the nightly build, we can wait until the next regular release which should be next week with 20.0.0.

I'm going to close this now, but we can reopen if you are still having problems.

[2022-10-18 11:46] stianst commented on #3597
Just tried the latest nightly and can't see any changes in behaviour there, so believe the issue still exists.

[2022-10-18 11:56] TafkaMax commented on #3375
Is this fixed in 19.0.3?

[2022-10-18 12:02] jonkoops commented on #3375
This will be released in Keycloak 20.

[2022-10-18 12:08] jruhe-adesso commented on #3594
Adding a non whitespace character and then deleting it enables the save button.

[2022-10-18 12:49] #1489 closed

[2022-10-18 14:12] mastepanoski opened #3832 "Add function to access to endpoints supplied by Keycloack to manage authorization scopes and roles"
### Description

There is no function to access these endpoints:
* _{config.serverUrl}_/auth/admin/realms/_{config.realmName}_/clients/_{config.clientUUID}_/authz/resource-server/policy/role/{id} [GET]
* _{config.serverUrl}_/auth/admin/realms/{config.realmName}/clients/_{config.clientUUID}_/authz/resource-server/scope [GET, POST]
*  _{config.serverUrl}_/auth/admin/realms/{config.realmName}/clients

[2022-10-18 14:15] npriebe opened #3599 "Client mapper: Client ID is not saved for a "User Client Role" mapper"
### Describe the bug

I have updated my Keycloak to version 19.0.2.
Now I am not able to create a "User Client Role" with a client ID for my client.
When I select a client ID in the mapper, it is gone again after saving, and thus the client mapper does not work either.

When creating:

![ForCreating](https://user-images.githubusercontent.com/54103655/196453884-e958f687-0a71-425d-adff-55db8c08ec63.

[2022-10-18 15:36] life-tushar1 commented on #3592
Thank you Stan for the information.

On Tue, 18 Oct 2022 at 5:06 PM, Stan Silvert ***@***.***>
wrote:

[2022-10-18 21:15] CyberDaedalus00 opened #3600 "Admin console issue "Cannot read properties of undefined (reading 'scopes')" when exploring Evaluation results"
### Describe the bug

Using the Admin console, been creating a set of authorization policies.  When I started to test them using Evaluate, I receive a set of results, but when I attempt to explore the Deny results, the UI clears the screen and presents the error:

Cannot read properties of undefined (reading 'scopes')

### Version

19.0.1

### Expected behavior

Be able to view why the policy eval

[2022-10-19 00:15] #3595 closed

[2022-10-19 00:20] #3592 closed

[2022-10-19 00:26] ssilvert commented on #3596
@pmorettiharris This seemed to work fine for me.  Can you try it out with the nightly build and let me know if it fixes your problem?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-19 08:05] npriebe commented on #3599
Update: In the new Admin Console this bug is not present. But there it is not possible to set the client ID back to null.

[2022-10-19 11:33] sirishkumar commented on #3517
I checked the nightly builds, I observed the same behaviour described by @lievenjacquot . As @lievenjacquot said there is no documentation which explains the difference between the groups displayed by the two tabs

- first  option with table icon invokes the endpoint  admin-ui-groups
-  econd icon with tree view invokes endpoint groups?briefRepresentation=false

[2022-10-19 12:33] mpalavrov opened #3602 "Keycloak Admin.v2 - Broken serach in realm-management --> Authorization --> Policies"
### Describe the bug

The Search in Client --> realm-management --> Authorization --> Policies, with value for Resources or Scope is not working

### Version

19.0.2

### Environment

Firefox, Chrome, etc.

### Expected behavior

The Search to show results

### Actual behavior

Error `Danger alert:j.map is not a function` is displayed

### How to Reproduce?

1. Go to Clients --> realm-management -

[2022-10-19 12:47] mpalavrov opened #3603 "Keycloak Admin.v2 - Error when copy in new page realm-management --> Authorization --> Policies"
### Describe the bug

When you open page **realm-management --> Authorization --> Policies** and then you copy and paste in new tab/window, there is an error displayed

### Version

19.0.2

### Environment

Firefox, Chrome, etc.

### Expected behavior

The page to be opened

### Actual behavior

Error `(intermediate value)().clientInstallations is undefined` is displayed

### How to Reproduce?

[2022-10-19 12:58] ssilvert commented on #3593
Note that to see the pop-up described in step 8, you need to make sure the `admin` user does not have an email address set.

@jonkoops I have traced the bug to this PR: https://github.com/keycloak/keycloak-ui/pull/1325.  So I'm assigning to you for a fix.

The problem here is that the registration flow is setting username and email for the admin user.  Plus, the `master` realm might not be using `

[2022-10-19 13:17] frederic-kneier opened #3604 "ProviderConfigProperty.MAP_TYPE error in new UI"
### Describe the bug

It seems that config properties of type ProviderConfigProperty.MAP_TYPE are only supported by the ui if the property name is "claims" or "attributes". Any other property name breaks functionality.

### Version

19.0.2

### Expected behavior

ProviderConfigProperty.MAP_TYPE is supported for any property name

### Actual behavior

ProviderConfigProperty.MAP_TYPE breaks for any

[2022-10-19 17:45] ssilvert commented on #3603
@mpalavrov I can't reproduce this one.  Can you try it on the nightly build and let us know if it works?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-19 18:25] ssilvert commented on #3593
BTW, the reason I set this as critical is because even though it's a weird corner case, it can result in an admin getting his user name changed without his knowledge.  Then he won't be able to log in.

[2022-10-19 19:28] jeremymcgee73 commented on #3568
Just had this as well!

[2022-10-19 19:54] ssilvert commented on #3554
@ch-lepp The fix should be in Keycloak 20 scheduled for next week.  Hopefully, it will fix your problem.

You can reference https://github.com/keycloak/keycloak-ui/issues/3424

[2022-10-20 03:31] xianli123 commented on #3599
Hi @jonkoops @npriebe I have checked the UI. I think "Clear" is not accurate.

If the Client ID is null, it means that the client roles of all clients will be added to the token. Therefore, null means all clients are selected instead of empty.

[2022-10-20 03:36] xianli123 commented on #3599
I think it may be better to add an alert on the top of the dropdown to tell users, "If this is unset, client roles of all clients will be added to the token." What do you think?

[2022-10-20 05:24] npriebe commented on #3599
But this information is already mentioned when hovering over the information icon of the "Client ID", or do I understand something wrong?

And I think that there should be the possibility to remove the client ID again, if one was selected.
Because if you want to have all roles of the clients in the token afterwards, you would have to delete the mapper first and create it again. Which is rather cum

[2022-10-20 05:46] xianli123 commented on #3599
Yes, the tooltip has mentioned that.

We can add a "X" icon in the dropdown to remove the selected client, as shown below.
<img width="674" alt="Screen Shot 2022-10-20 at 13 42 18" src="https://user-images.githubusercontent.com/53931519/196865490-67230b75-0c8d-4206-afb7-5b332e3cf5fa.png">
This is a PF4 component. Here is the link https://www.patternfly.org/v4/components/select#custom-filtering. Wh

[2022-10-20 05:58] mpalavrov commented on #3603
Hi @ssilvert,
Yes, it seems that it is not reproducible with the https://github.com/keycloak/keycloak/releases/tag/nightly. Something I noticed using it is that the `Clients --> realm-management --> Authorization` menu was not shown
![image](https://user-images.githubusercontent.com/33352511/196867677-45a4199a-3314-4dd9-ba5a-48cb08374c60.png)
but was shown only after I added "/authorization" in th

[2022-10-20 06:02] npriebe commented on #3599
This feature exists in the old admin console as well, so I would find it very helpful if this would be added as well.

[2022-10-20 06:15] xianli123 commented on #3599
Ok, we can do it. Thanks.

[2022-10-20 06:42] hendrik-schaffer opened #3605 "Admin Keycloak v.2 Missing import archive "certificate PEM" for SAML clients"
### Describe the bug

In the new Keycloak v.2 admin theme, the tab "keys" within a SAML clients config is missing the import for "certificate PEM" format.

![image](https://user-images.githubusercontent.com/67586769/196874624-8144ce45-5c35-4837-8ba1-acc7802c41c1.png)

### Version

19.0.3

### Environment

Chrome 106

### Expected behavior

The import dialog contains an option for importing a file

[2022-10-20 06:45] hendrik-schaffer opened #3606 "Admin Keycloak v.2 "Export button" for key file within SAML clients not working"
### Describe the bug

On the configuration page for SAML clients in tab "KEY", the export button is not working at all.

![image](https://user-images.githubusercontent.com/67586769/196875622-3cedb0e8-22f1-4bda-b7f7-12386bbb9183.png)

### Version

19.0.3

### Environment

Chrome 106

### Expected behavior

Export button is working

### Actual behavior

When clicking the button, nothing happens

###

[2022-10-20 06:58] xianli123 opened #3607 "[UX Review] Add 2 actions in the kebab menu of Groups table"
### Description

During the interview, novice users mentioned that there are 2 tabs that can be added in each row of the Groups table, namely "Rename" and "Create child group". Based on our discussion, we decided to add these 2 actions in the dropdown shown below.

<img width="720" alt="Screen Shot 2022-09-30 at 11 27 11" src="https://user-images.githubusercontent.com/53931519/196875156-59d018ce-4

[2022-10-20 07:23] xianli123 opened #3608 "[UX Review] The order of associated role is in mess"
### Description

In the "Realm roles -> Associated roles" page, the associated roles' order is in mess. We can optimize it based on the design convention. As for associated roles, the realm roles should be first listed alphabetically. The client roles will follow the realm roles. These client roles should be listed alphabetically based on the label(client). Roles under the same label (client) are

[2022-10-20 07:31] xianli123 opened #3609 "[UX Review] If possible, show the total number of items in the table."
### Description

In the current UI, the pagination is confusing. As for some functions, the total number can't show the total number of items in the table due to the limitation of the backend. But if it's possible, it's better to display the total number of items in the table as shown below. And PF4 offers a component of pagination. Here is the link: https://www.patternfly.org/v4/components/pagina

[2022-10-20 07:33] XuluniX opened #3613 "Missing "Delete" button for custom localization messages AdminV2"
### Describe the bug

When using the new admin console (keycloak.v2), the delete button for custom messages is missing and only the edit button is visible. Deleting custom messages is not possbible unless the console is set to use the old theme containing the delete button.
![grafik](https://user-images.githubusercontent.com/3049427/196883684-53711a29-ed55-420d-ac00-1e24f3c1a96e.png)

### Version

[2022-10-20 07:55] xianli123 opened #3610 "[UX Review] Show all the available roles first in the "Add role" modal of the "Realm roles - Associated roles""
### Description

In the "Realm roles -> Role's details -> Associate roles", users can add new associate roles by clicking the "Add role" button, and then there will be a modal popup.

It's better to show all available roles instead of only the realm roles at the beginning. As shown in the screenshot below, all available roles are displayed, regardless of realm roles or client roles.

<img width="7

[2022-10-20 08:47] xianli123 opened #3611 "[UX review] Optimize the filter in the "Add role" modal"
### Describe the bug

In the "Add role" modal of the "Associated roles" tab on the realm role's details page, there is a filter. The filter's option is confusing. In order to make users better understand it, the filter can be optimized as shown below.

There will be 2 options in the dropdown named "Filter by realm roles" and "Filter by client roles". The table shows all available roles by default.

[2022-10-20 10:22] sirishkumar commented on #3518
@ludydoo Can you try disabling all plugins in Firefox or in the Private window with plugins disabled? Its working for me in private window

[2022-10-20 11:33] pedroigor opened #3612 "Align user profile UI with the behavior from the old admin console"
### Describe the bug

The UI for `User Profile` is not behaving as expected. If compared with the old administration console, we have the following issues:

* When setting permissions to an attribute the checkboxes for `User` and `Admin` do not allow setting the edit and view permissions properly.  <-- [Stan says] This one should be already fixed.
* The `Required` settings should not be available

[2022-10-20 12:00] lostunicorn opened #3615 "smtp connection test fails on first attempt, succeeds on second - smtp configuration not up to date for test?"
### Describe the bug

When starting keycloak, we use the --import-realm flag to import a realm. After keycloak has been started, we update that realm's smtp configuration using the REST API.

When clicking the smtp connection test button for the realm, sending out the smtp message fails. It looks like the smtp configuration that is used for the test is not the updated one?

A second attempt to tes

[2022-10-20 12:29] lostunicorn opened #3614 "while testing smtp connection, user's username is changed when email address is changed even when that user belongs to a realm that has registrationEmailAsUsername set to false"
### Describe the bug

When logged into the admin console as the admin user (which belongs the master realm)
and testing the smtp connection for a different realm
after asking for the email address to send the test mail to
the admin user's username is changed if the realm we're testing the smtp connection of has the registrationEmailAsUsername flag set

This makes no sense. I understand that the em

[2022-10-20 15:39] JonasSchubert commented on #3569
Repulled the container image and recreated it. Works now and I am also unable to reproduce the error. Will close the issue. Thanks for all your hard work!

[2022-10-20 15:39] #3569 closed

[2022-10-20 16:01] mposolda opened #3616 "Make sure that when uploading or generating keystore, the supported keystore types are dynamically retrieved"
After https://github.com/keycloak/keycloak/issues/14964 change was applied in keycloak main branch, the Keycloak server is able to notify which keystore types it supports. This  is available via `ServerInfoEndpoint` and in the retrieved JSON response, it is  inside `cryptoInfo` attribute and it's `supportedKeystoreTypes` sub-attribute, which contains array of strings with supported keystore format

[2022-10-20 16:11] jbman opened #3617 "Show version and system info as server info, not as realm info"
### Description

Old admin console did provide version and feature flag info as well as system info (see https://github.com/keycloak/keycloak/discussions/14688).

The new admin console should provide the same information, independently of the realm which is selected.

### Discussion

https://github.com/keycloak/keycloak/discussions/14688

### Motivation

Admins at realm level need to know which ve

[2022-10-20 17:23] oleeander commented on #3515
We've discovered the same issue in https://github.com/keycloak/keycloak/discussions/14954.
@edewit I can confirm that it is fixed in the nightly build based on https://github.com/keycloak/keycloak/commit/fc7c57ee12c61730bad089b190b5e2e51c24d3e2. Thanks!

[2022-10-20 18:22] ssilvert commented on #3612
Don't allow deletion of `username` and `email`

[2022-10-20 20:11] ssilvert commented on #3603
For most clients, you will see the `Authorization` tab if authorization is enabled on the `Settings` tab.

For `realm-management` it should be enabled by default.  I can see it.  Since this would be a different issue, please open a new issue if you continue to have problems.  I'm going to close this one.

[2022-10-20 20:11] #3603 closed

[2022-10-20 20:18] #3614 closed

[2022-10-21 10:03] Korhm opened #3618 "Fail to configure "Identity Provrder Redirector""
### Describe the bug

Hello,

I'm not able to configure the "Identity Provrder Redirector" options in any authentication flow.

### Version

19.0.3 (docker image quay.io/keycloak/keycloak:19.0.3)

### Expected behavior

Open the page to configure the idp redirector

### Actual behavior

An error message is displayed : "`Cannot convert undefined or null to object, Press here to refresh and continue

[2022-10-21 12:04] ssilvert commented on #3618
@Korhm I believe this is already fixed.  It's probably a duplicate of https://github.com/keycloak/keycloak-ui/issues/3256.

Can you check the nightly build and let us know if it solves your problem?
https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-10-21 12:15] Korhm commented on #3618
Thank you @ssilvert , it works perfectly with the nightly build !

[2022-10-21 12:15] #3618 closed

[2022-10-21 16:18] andrew-landsverk-win opened #4054 "Azure AD Error: AADSTS90023: Unsupported 'prompt' value"
### Describe the bug

We had been using the Wildfly version 17.0.1 and just switched to using the new quarkus release 19.0.2. We have several AzureAD Identity Providers configured using OpenID Connect. We have left the prompt value unchanged between upgrades, so right now it's set to "unspecified". After the upgrade we started getting the error back from Azure AD: AADSTS90023: Unsupported 'prompt'

[2022-10-22 08:04] sbs101 commented on #3569
I still have this problem with 19.0.3. The stack trace is the same as given above and the error message occurs every time one clicks on one of the links to the client details in the list of clients. The issue only occurs in Firefox (latest version 106.0), but not in Chrome (Version 106.0.5249.119)

[2022-10-22 20:19] jcollie commented on #3264
I'm seeing the same problem on 19.0.3 except I'm trying to download the Docker Compose YAML. Did this fix not make it into 19.0.3? The workaround of switching to the old theme worked for me.

[2022-10-22 21:05] jonkoops commented on #3264
This fix will be released with 20.0.0.

[2022-10-22 21:06] jonkoops commented on #3569
@sbs101 do you still have this issue on nightly?

[2022-10-22 21:24] sbs101 commented on #3569
Using the nightly build keycloak doesn't start in our existing setup:
keycloak_1     | ERROR: Unexpected error when starting the server in (production) mode
keycloak_1     | ERROR: Failed to start quarkus
keycloak_1     | ERROR: org/keycloak/theme/FreeMarkerUtil
keycloak_1     | ERROR: org.keycloak.theme.FreeMarkerUtil
Might be a different issue ...

[2022-10-23 12:27] jonkoops commented on #3569
Yeah, that sounds like a different issue. Not really sure since the stack trace is very limited.

[2022-10-23 19:09] lostunicorn commented on #3615
I'd like to get a sense as to scope of this issue. Is this limited to testing the smtp connection, or will any first email being sent out by the keycloak server fail?

basically: is this a keycloak-wide issue with the email provider using stale settings, or just the keycloak admin console ui for testing the smtp connection?

[2022-10-23 19:45] NMBprogrammer commented on #3419
It works, Thanks alot!

[2022-10-23 19:46] NMBprogrammer commented on #3427
It works, Thanks alot!

[2022-10-24 07:36] #3515 closed

[2022-10-24 07:39] edewit commented on #3253
if you know the exact group name, it's not really searching anymore right?

[2022-10-24 07:44] hmlnarik commented on #3253
Could you please elaborate? The need for the REST API is there, but perhaps there is a point in not including it in the UI.

[2022-10-24 09:48] npriebe opened #3636 "Groups: Different groups between table view & diagram view"
### Area

admin/ui

### Describe the bug

Hi,

I have updated my Keycloak to the new admin console, with existing groups.

With the new admin console there are now different views for the groups:
The table view and the diagram view.

Now I have the problem that there are different groups displayed to me, why is that?
In the background, different requests are made for the two views.
For the diagram

[2022-10-24 11:40] edewit commented on #3253
I'm just wondering what this feature is trying to solve, seems to me that you have a group with a specific name and you want to change the details of that group, you use "exact search" to prevent other groups with similar names to show up, right so your not searching you know it's there. So I don't know, it's not really searching it's more like a shortcut to go to group properties, maybe I'm over

[2022-10-24 11:43] edewit commented on #3417
@chuegel can you add a more detailed way to reproduce this? I don't have any errors when using firefox

[2022-10-24 11:43] #3593 closed

[2022-10-24 11:49] xtreme-uz commented on #3341
I managed to bypass the error temporarily by setting keycloak instead of keyckoak.v2 in Admin console theme, After successfully installing user federation, I rolled back the process.

[2022-10-24 12:14] nikel123 opened #3635 "Can't set configuration for a custom legacy user storage provider in Admin 2 interface"
### Describe the bug

Before this bug https://github.com/keycloak/keycloak-ui/issues/3059 was fixed, there was no way to configure the custom user storage provider, because configuration fields were not there. Now I can see configuration fields, but when I try to save the configuration I get following backtrace in logs:

keycloak-kc-1  | 2022-10-21 15:12:54,798 ERROR [org.keycloak.services.error.K

[2022-10-24 17:38] ssilvert commented on #3568
I think this is fixed in the latest nightly build.  So I'm going to go ahead and close it.

If someone wants to check the nightly build and I'm wrong then we can reopen.

[2022-10-24 17:38] #3568 closed

[2022-10-24 17:42] ssilvert commented on #3636
@npriebe We have changed the groups view so that it always shows the tree on the left side.  If you click on a tree node it will change the list view.

This change will be in Keycloak 20.0.0, which should be out in a few days.  You can check the nightly build if you want to see it now.  We'd love to get some feedback.  You can just open a new issue if you still see problems.

https://github.com/ke

[2022-10-24 17:42] #3636 closed

[2022-10-25 05:09] npriebe commented on #3636
Okay thanks for the answer. Then I wait for the version 20.0.0 and hope that my problem will be solved with it.

[2022-10-25 05:59] edewit commented on #1219
@xgp we had something like this in the account console, not only did it let people add "pages" it also let people override existing pages. But there is a heavy downside to this, it meant that loading times increased and adding pages was still hard so we are wondering if it isn't easier to "just" clone and use your approach where you add something without changing the existing code to much

[2022-10-25 08:15] chuegel commented on #3417
I noticed, this happens on other realms than _master_ and mostly when selecting _Events_ or _Sessions_

![image](https://user-images.githubusercontent.com/6955465/197718439-3988f526-eb15-4cbb-a955-1ff9b3583d3b.png)

In this state the only link that works is _Press here to refresh and continue_ which takes you to the master realm

Unfortunately the keycloak pod doesn't log any anomaly but here are

[2022-10-25 08:45] xianli123 commented on #3473
Here is the updated design for your reference. https://www.sketch.com/s/197538a9-58a1-4da2-8c9b-77f20a155b81/v/R4mME8/prototype/a/37965EEF-674A-41A0-97B8-B2788FEF6AA8/

[2022-10-25 09:01] xgp commented on #1219
Hi @edewit, thanks for taking a look at this. Definitely agree that priorities should be to keep page load time the same and make new extension development fairly easy. I think that there is an approach that would lazy-load the code for each extension. Let me put together a quick prototype of what I'm talking about so it's not abstract.

[2022-10-25 09:49] #3406 closed

[2022-10-25 12:25] ssilvert commented on #2742
Closing as out of date.  We won't have time to do something about it.

[2022-10-25 12:25] #2742 closed

[2022-10-25 14:59] #3613 closed

[2022-10-25 17:52] #3532 closed

[2022-10-25 19:15] ssilvert commented on #3596
I'm going to close this because I can't recreate.  We can reopen if needed.

[2022-10-25 19:15] #3596 closed

[2022-10-25 19:34] mboisnard commented on #3089
Hi @ssilvert, I don't understand how can I use [this](src/identity-providers/component/ExtendedFieldsForm.tsx) code (ExtendedFieldsForm) to add custom fields for my identity provider.
I don't see any discovery feature to detect my provider's fields.

Am I missing something?

I'm trying to migrate the [Keycloak-FranceConnect]( https://github.com/InseeFr/Keycloak-FranceConnect) plugin to admin v2.

[2022-10-25 20:22] ssilvert commented on #3089
@mboisnard You need to ask your question to the community or open an issue if you find a bug.  This is a closed issue.

https://www.keycloak.org/community

[2022-10-25 22:14] jonkoops commented on #3518
It's been a while since there was activity on this issue so I am going to go ahead and assume the problem is unrelated to our code. Feel free to let me know if this is not the case and I will re-open it.

[2022-10-25 22:14] #3518 closed

[2022-10-26 04:50] ludydoo commented on #3518
Sorry I haven't had the time to check this up. I can confirm that somehow the problem is gone when running with
[code]

[2022-10-26 09:44] #3600 closed

[2022-10-26 09:45] #1959 closed

[2022-10-26 09:46] #3511 closed

[2022-10-26 13:31] #3606 closed

[2022-10-27 02:23] securemationCode commented on #3375
Hi @jonkoops , what is the expected date of new release(Keycloak version 20) ?

[2022-10-27 07:03] edewit commented on #3417
I'm sorry I'm not able to reproduce this

[2022-10-27 07:04] #2934 closed

[2022-10-27 07:05] edewit commented on #3517
The `admin-ui-groups` only adds fine grained authentication to the group representation

[2022-10-27 07:07] edewit commented on #3517
@sirishkumar From you screenshot I don't see the problem, it is showing page 1 with 2 items?

[2022-10-27 08:50] edewit commented on #3597
@stianst I'm wondering how this should work so there are multiple themes:
[code]
That all support their own set of locales and there is only one supported locale setting. The new UI merges all the theme locales and shows them into the dropdown, but that is incorrect? You say it should be based on what theme is selected, but that begs the question: for which category account, login or email?

[2022-10-27 09:30] stianst commented on #3597
The way the old admin console does it is by only showing locales that are supported by all end-user facing themes (account, login, and email).

[2022-10-27 09:52] edewit commented on #3597
So that means you can't set `az` when you only have it for login?

[2022-10-27 10:32] jonkoops commented on #3375
Somewhere around this week/next week hopefully.

[2022-10-27 10:34] jonkoops commented on #3518
Thanks for verifying this @ludydoo!

[2022-10-27 10:37] jonkoops commented on #3417
Perhaps we have already fixed this issue. @chuegel could you try testing this in a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly)?

[2022-10-27 11:40] #3605 closed

[2022-10-27 11:43] stianst commented on #3597
Yeah, so to add a custom locale you need to have a custom theme for account, login, and email. That's exactly what https://github.com/stianst/playground/tree/main/sunrise is doing.

The "custom theme" doesn't strictly have to provide any translations, it just needs to say it supports the locale. Nor does the theme have to do anything other than simply add the locale.

[2022-10-27 11:47] stianst commented on #3597
Not the most elegant, but this is what the old admin console does:

https://github.com/keycloak/keycloak/blob/43a3677cc727469a7c0d46c95436420e0ff3feb5/themes/src/main/resources/theme/base/admin/resources/js/controllers/realm.js#L543-L579

[2022-10-27 11:57] edewit commented on #3597
Yeah I saw that and figured that was wrong, I still do. So you are saying, that if I want to add a locale for the login theme I have to create 3 themes and select all of those and only then can I set the supported locale to the locale I want to add for login?

[2022-10-27 14:38] lannonbr commented on #3568
Hi, I just ran into this as well with the latest stable. I was curious when the next stable release is planned to be released so we can be able to use this with the new admin console without having to use the nightly build.

[2022-10-27 15:18] jonkoops commented on #3568
Next stable is expected in 1-2 weeks.

[2022-10-27 15:45] pmorettiharris commented on #3596
@ssilvert Just tried it out in the latest nightly (999) and it does appear to be fixed. I also tested in 19.0.3 and the bug is still present, so will just upgrade to the next stable point release when it's out. Thanks!

[2022-10-27 23:24] ssilvert opened #3653 "events_test.spec.ts failing in CI"
### Describe the bug

See [Cypress Dashboard](https://dashboard.cypress.io/projects/j4yhox/runs/3275/test-results?actions=%5B%5D&browsers=%5B%5D&groups=%5B%5D&isFlaky=%5B%5D&modificationDateRange=%7B%22startDate%22%3A%221970-01-01%22%2C%22endDate%22%3A%222038-01-19%22%7D&orderBy=EXECUTION_ORDER&oses=%5B%5D&specs=%5B%5D&statuses=%5B%7B%22value%22%3A%22FAILED%22%2C%22label%22%3A%22FAILED%22%7D%5D&te

[2022-10-28 08:35] chuegel commented on #3417
@jonkoops indeed, I've tested the nightly version and so far I couldn't replicate the issue anymore.

[2022-10-28 08:50] xianli123 opened #3654 "[UX Review] Add vertical line in the tree-view of Groups"
### Description

In the latest UI, the tree view has been added on the left side of the Groups page. If there are a lot of groups and levels, it looks a bit messy. So it's better to add vertical lines to indicate levels and hierarchies, as shown in the screenshot below.

<img width="214" alt="Screen Shot 2022-10-28 at 16 25 58" src="https://user-images.githubusercontent.com/53931519/198545244-9e9a

[2022-10-28 09:00] xianli123 opened #3655 "[UX Review] Truncate the group name in the group's tree-view"
### Description

The group name in the tree-view looks weird. So group name can be truncated if it is too long to display the entire name. It would look a little weird if the group names were displayed on a new line.

<img width="196" alt="Screen Shot 2022-10-28 at 16 58 06" src="https://user-images.githubusercontent.com/53931519/198548035-3f433de9-1f9e-4a94-8d53-f1e7beacfecd.png">

### Discussion

[2022-10-28 09:06] xianli123 commented on #3655
I wonder if the width of the panel can be adjusted automatically based on the width of the tree view.

[2022-10-28 09:16] xianli123 opened #3656 "[UX Review] Add the rename function in the Groups' tree view"
### Describe the bug

In the tree view, we can add the new option in the kebab menu's dropdown named "Rename". After clicking the "Rename" option, there will be a modal pop-up to allow users to change the group's name.

<img width="355" alt="Screen Shot 2022-10-28 at 17 09 43" src="https://user-images.githubusercontent.com/53931519/198550701-77d0c608-86f4-498f-b60e-ebdd01a76ffe.png">

<img width="

[2022-10-28 09:31] #3417 closed

[2022-10-28 09:40] jonkoops commented on #3417
Thanks for verifying @chuegel!

[2022-10-28 10:01] ssilvert commented on #3656
This is not actually a bug since the functionality exists on the Action menu.  But I agree that it's a very nice enhancement and should be very easy to implement.

[2022-10-28 10:18] ssilvert commented on #3654
I think @edewit tried this and it didn't turn out well.  Perhaps we need to open an issue with PatterFly?

[2022-10-28 11:33] xianli123 commented on #3656
Yes, renaming group is an existing function. Thanks for changing the label.

[2022-10-28 11:35] xianli123 commented on #3654
Ok, and I will contact PF4 team.

[2022-10-28 12:13] xianli123 commented on #3654
Hi @ssilvert I found a component here https://www.patternfly.org/v4/components/tree-view#guides. This tree has vertical lines.  I think we can use this component. What do you think?

[2022-10-31 09:16] edewit commented on #3635
I believe this has been fixed, could you try with the [nightly build](https://github.com/keycloak/keycloak/releases/tag/nightly)

[2022-10-31 09:19] edewit commented on #3597
So are we supposed to support the typing the local by hand like the old console also did? Or do we improve it by adding the local if one of the themes support it? I'm fine with all these options just want somebody to make a decision on this.

[2022-10-31 09:28] edewit commented on #3615
@lostunicorn to answer that question, you could try the old ui and see if you have the same issue

[2022-10-31 09:40] edewit commented on #3615
In you your stacktrace it seems the password of the mail server wasn't set, are you sure that it was in the UI?

[2022-10-31 10:12] edewit commented on #3610
That would make the list very slow though

[2022-10-31 10:14] edewit commented on #3609
Right it would be better, but atm the backend doesn't support it

[2022-10-31 11:29] #3602 closed

[2022-10-31 21:06] lostunicorn commented on #3615
I'm certain the password was set through a REST api call before I loaded the admin console. I'm also relativley sure I saw the password filled in (displayed in dots) in the password field on the UI before clicking the Test Connection button.

I'm not sure what you mean by "the old UI" ?

[2022-11-01 02:41] xianli123 commented on #3617
Hi @jbman @edewit, thanks. I've checked this issue and the issue https://github.com/keycloak/keycloak/discussions/14688.

During the design phase, we knew that the dashboard might have information about server management like free memory or something else, but they may be not necessary for Keycloak. Keycloak uses an external management tool to view that. We may need to confirm with others what inf

[2022-11-01 02:47] xianli123 commented on #3609
Ok, I got it. Shall we close this issue now and reopen it after the backend supports it?

[2022-11-01 02:53] xianli123 commented on #3610
If so, we can separate the realm roles and client roles. But the filter could be optimized as described in the issue https://github.com/keycloak/keycloak-ui/issues/3611. What do you think?

[2022-11-01 07:19] edewit commented on #3615
if you go to realm settings => themes => Admin console theme and set it to "keycloak". If you have it there as well we know it's a UI issue otherwise it might be a server side problem

[2022-11-01 09:21] edewit commented on #3656
done in #3676

[2022-11-01 09:24] edewit commented on #3655
if you don't have `-` in your group name this wouldn't happen

[2022-11-01 10:16] stmi11 opened #4353 "Add associated roles only displays 11 roles"
### Area

admin/ui

### Describe the bug

Only the first 11 realm roles are visible when adding associated roles to an existing realm role in the new Admin console:
![image](https://user-images.githubusercontent.com/10886480/199207964-a70604cd-f6a0-4162-8c5f-9f3ba80fb24c.png)

### Version

19.0.3

### Expected behavior

The "Add associated roles" modal window must be able to display all available

[2022-11-01 12:22] #3608 closed

[2022-11-01 12:23] #3654 closed

[2022-11-01 12:23] #3607 closed

[2022-11-01 12:24] #3656 closed

[2022-11-01 12:39] ssilvert commented on #3517
This should be fixed in Keycloak 20.  I'm going to close this now and if there is still a problem in Keycloak 20 we can reopen.

[2022-11-01 12:39] #3517 closed

[2022-11-01 13:28] USAF-cbentkowski commented on #3404
I noticed a 20.0.0 tag has been cut, but no changes to the UserRoleMapping.tsx. Are there any updates when client roles may be added back in?

[2022-11-01 14:41] #2050 closed

[2022-11-01 15:07] edewit commented on #3404
@USAF-cbentkowski this issue hasn't been solved and I must admit I'm not really sure what the issue is IMO you can see what the effective roles even more clear then in the old console, because the clients are listed directly and you don't have to select a specific client before.

in the old console I have to select "broker" to see the read-token role:

![image](https://user-images.githubuserconten

[2022-11-01 16:50] benzitohhh opened #3679 "Groups beyond first 10 not accessible"
### Area

admin/ui

### Describe the bug

In the Keycloak UI... groups page only shows first 10 groups, the rest are not accessible.

### Version

19.0.3

### Expected behavior

When there are more than 10 groups...

In the Groups page...

*  Clicking the "next page" button should go to the next page (groups 11-20)
*  Selecting a different page size (i.e. 20 or 100 per page) should update the page

[2022-11-01 16:53] benzitohhh commented on #3679
<img width="1263" alt="199042748-3161a9c0-5ebb-4ebd-b028-5d2f89e19aba" src="https://user-images.githubusercontent.com/861758/199290850-77793a9c-357c-4847-b227-6396bae00494.png">

[2022-11-01 16:53] benzitohhh commented on #3679
<img width="1267" alt="199042788-57e149fa-0799-41e2-b542-73727742abf4" src="https://user-images.githubusercontent.com/861758/199290887-6a7763bd-2f76-45a9-a617-0ea9441f4ba5.png">

[2022-11-01 16:56] benzitohhh commented on #3679
@lexcao Sorry couldn't figure out how to clone the issue from https://github.com/keycloak/keycloak/issues/15231

Anyways I put the same information here.

Thanks!

[2022-11-01 18:33] pedroigor commented on #3188
@edewit Created https://github.com/keycloak/keycloak/pull/15257. It should enable fetching the metadata associated with attributes defined in the user profile configuration.

[2022-11-01 20:16] synth3 opened #3680 "keycloak.version in pom is outdated"
### Describe the bug

The published version 20.0.0 of `org.keycloak:keycloak-admin-ui` references Keycloak version 19.0.3 in its pom.xml:
- [pom.xml#L32](https://github.com/keycloak/keycloak-ui/blob/df7347aa9b867dfd46e0355549bb2c948775f393/keycloak-theme/pom.xml#L32)
- [central.sonatype.dev](https://central.sonatype.dev/artifact/org.keycloak/keycloak-admin-ui/20.0.0)

### Version

20.0.0

### Envi

[2022-11-01 21:51] USAF-cbentkowski commented on #3404
Unfortunately, I can't post a screen shot of what I see, but on Keycloak 19.0.2-r6 we do not see any client roles on a user. Our users are granted client roles based on groups they are in or the groups that are members of other groups they are in. I will test assigning a client role directly to a user to see if that shows up, but it still doesn't change the fact that the only roles we see on a use

[2022-11-02 06:49] stianst commented on #3617
It's odd that it's calling it "Realm info" and placing what is basically server info under the master realm. It actually took me a while to figure out where this was when I needed it.

In terms of additional/missing information most (if not all) of the missing stuff was specifically for a single node. I can only see that being useful in a single-node cluster, which most production deployments of K

[2022-11-02 07:34] xianli123 commented on #3617
It's a bit confusing. Could we use the old name "Server info" and keep only a portion of the original information?

[2022-11-02 08:59] jbman commented on #3404
@edewit indeed it's an improvement that a client doesn't need to be selected upfront. However an admin needs a view which shows the effective roles of a user. The only inherited assignment which is shown are realm roles and their sub-roles. An admin also needs roles inherited by a group assignment or a client role assignment. Those aren't shown currently.

[2022-11-02 10:52] lscorcia opened #3696 "Custom Identity Provider settings not visible in admin UI"
### Describe the bug

Similar to https://github.com/keycloak/keycloak-ui/issues/3059, custom SAML-derived providers do not show the custom configuration options in the Identity Provider config screen when using the new `keycloak.v2` theme.

### Version

19.0.3

### Environment

_No response_

### Expected behavior

When using "Keycloak" theme for the Admin console all of the additional options sho

[2022-11-02 11:09] sbs101 commented on #3569
After fixing my additional issue (resulting from breaking changes in the APIs between 19.0.3 and 20.0.0) it looks like the issue with the "missing } in compound statement" message has been resolved.

[2022-11-02 12:37] USAF-cbentkowski commented on #3404
@edewit I did a test this morning in our test environment and directly assigned a client role to a user and it does show up on the user role mapping without having to select a client, which is nice. However, the other roles this user has that are assigned to groups and inherited by the user are not showing. This is the problem since security best practices are to assign privileges to groups and no

[2022-11-02 12:40] edewit commented on #3404
@USAF-cbentkowski right I see that now, I think I have a fix for it now

[2022-11-02 12:42] USAF-cbentkowski commented on #3404
@edewit That would be amazing. I really appreciate you looking at this. While I can follow what is happening in the UI code, I don't know enough about the codebase or Typescript to suggest changes on my own.

[2022-11-02 13:22] ssilvert commented on #3680
@jonkoops I think this needs to be set to `999-SNAPSHOT`, just like the POMs in keycloak/keycloak.  You might need to discuss with @stianst.

[2022-11-02 13:32] stianst commented on #3680
@ssilvert @jonkoops admin-ui depends on keycloak, keycloak depends on admin-ui; this is the chicken and egg problem, and can really only be solved by monorepo (or breaking the keycloak build into two, which will be a PITA).

[2022-11-02 13:47] dvallant commented on #3375
@jonkoops Are there any plans to fix this in v19?

[2022-11-02 14:23] benzitohhh commented on #3679
This is now fixed in Keycloak 20 - thanks!

[2022-11-02 14:23] #3679 closed

[2022-11-02 15:04] zak905 opened #3707 "Label for "Review Profile config" modal is not displayed properly"
### Area

admin/ui

### Describe the bug

In Keycloak admin, navigate to Authentication -> first broker login -> and click on "settings"  on the review profile step. You will see the folliowing:

![0 0 0 0_8080_admin_master_console_](https://user-images.githubusercontent.com/6265563/199524372-aca099d1-4bac-419a-a729-ed1bb3a25ccb.png)

It seems like AngularJs interpolation is not working (anymore)

[2022-11-02 16:06] douglaspalmer opened #3698 "Tooltip for post logout redirect uri needs updating for Keycloak issue 14884"
### Describe the bug

Tooltip needs to be updated to reflect changes made for Keycloak issue 14884. Need to describe the placeholder '-'.

### Version

_No response_

### Environment

_No response_

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-11-02 16:16] mrooding opened #3700 "Client-scoped roles are not assignable when using admin fine-grained permissions"
### Area

admin/fine-grained-permissions

### Describe the bug

We're experimenting with the preview feature admin fine-grained permissions. We've been following the official [documentation ](https://www.keycloak.org/docs/latest/server_admin/#_fine_grain_permissions). Overall, everything seems to work well.

We've been able to set up a user that's only allowed to manage a client, assign realm role

[2022-11-02 16:22] agagancarczyk commented on #2073
hi @jenny-s51 I have had a quick look to see if this issue has been resolved via patternfly fix. Unfortunately, it appears that it hasn't. We are using  "@patternfly/patternfly": "^4.217.1". Could you point this out to the person who tried to fix it in the patternfly team? Thanks!

[2022-11-02 18:54] jenny-s51 commented on #2073
Hi @agagancarczyk! We are still working on a fix for this issue in Patternfly.

I investigated this bug on the react side (see https://github.com/patternfly/patternfly-react/pull/8140), however following the discussion in that PR, we determined that the solution is not on the react side and will likely require breaking-change CSS updates ([see issue here](https://github.com/patternfly/patternfly/i

[2022-11-02 20:42] zak905 opened #3701 "[Urgent] weird charachters when saving Authenticators config"
### Area

admin/api

### Describe the bug

when I try to save any authenticator config I see glass emojis 🍺 instead of dots in the database record. Here is what I am seeing now when running: select * from authenticator_config_entry;

![keycloak_config](https://user-images.githubusercontent.com/6265563/199597493-d13ca6b1-12db-45f3-a2af-a189187244ca.png)

This can be seen also from the http request

[2022-11-02 23:44] ssilvert commented on #3700
@mrooding Could you do me a favor and try this out on the old admin console?

To switch to the old console:
1. Go to `Realm settings --> Themes`
2. For the admin console theme, select `keycloak` and save.
3. Refresh the browser page
4. Click `Go to the home page`

[2022-11-03 00:13] ssilvert commented on #3701
It looks like the old console saves the config correctly.

[2022-11-03 05:45] Floppy012 opened #3708 "Visual bug on the new authentication flow editor"
### Area

admin/ui

### Describe the bug

The Authentication flow editor of the Keycloak v2 UI does not display the hierarchy of steps properly.

Anything that comes after a nested flow is displayed as inside of the nested flow. Even if it is not.

### Version

20.0.0

### Expected behavior

The Steps of the flow should be displayed on the correct level and not get hidden if any sub-flow above is

[2022-11-03 07:56] mrooding commented on #3700
Hi @ssilvert

Thank you for the prompt feedback.

The change of themes seems to solve the issue. When we log in to the specific realm with the permitted user, we are able to assign/unassign client-scoped roles.

As a short-term solution, would staying on the old theme be the way to go? Are both themes offering exactly the same functionality, only in a different UX?

![image](https://user-images.gi

[2022-11-03 09:33] lscorcia commented on #3696
Just upgraded to Keycloak 20, unfortunately the issue is still present.

[2022-11-03 10:00] jonkoops commented on #3701
Yeah, this is because we have to work around quirks in the Admin API. This should have been changed back when saving, but apparently doesn't happen.

@ssilvert Perhaps this might even deserve the 'critical' label, we should do a patch release for this if possible.

[2022-11-03 11:24] #3701 closed

[2022-11-03 12:20] yaoguoh opened #3703 "KC_DB_URL run URL format error"
### Describe the bug

docker-compose KC_DB_URL run "URL format error; must be "jdbc:h2:{ {.|mem:}[name] | [file:]fileName | {tcp|ssl}:[//]server[:port][,server2[:port]]/name }[;key=value...]".

There is no problem with the same variable docker run。

### Version

20.0.0

### Environment

KC_DB_URL=jdbc:mysql://mysql:3306/keycloak

### Expected behavior

starts normally

### Actual behavior

_No res

[2022-11-03 12:24] #3703 closed

[2022-11-03 13:07] ssilvert commented on #3221
Besides new bugs I found, the only thing I found that is not working is the `Evaluate` button in Scenario 2.  You can tab to the button, but the `Enter` key does not press it.

[2022-11-03 14:13] edewit commented on #3188
@ssilvert as far as I can see there are no help texts that one can configure atm or is that something you can put in the `annotations`?

[2022-11-03 16:35] jonkoops commented on #3375
No

[2022-11-03 19:07] ssilvert commented on #3220
@agagancarczyk This all seems to be working fine now on FireFox and Edge.  So I'm closing it.

[2022-11-03 19:07] #3220 closed

[2022-11-03 19:21] ssilvert commented on #3219
This is working as far as I can tell.  I can tab to header items and use arrow keys to select menu items.  Menu items are read as expected.

As far as the expanded/collapsed hamburger icon, there should not be a tooltip.  Reader correctly says "expanded" and "collapsed".

[2022-11-03 19:21] #3219 closed

[2022-11-03 19:23] ssilvert commented on #3176
Yes, this is an issue on Windows.  The NVDA reader does not read the alerts.

[2022-11-03 19:39] ssilvert commented on #3176
@edewit Are you pointing to PatternFly code above?  Is this a PatternFly issue?

[2022-11-04 02:28] KenRoy-Octo opened #3714 "Unable to turn on "Bypass identity confirmation""
### Area

admin/ui

### Describe the bug

When editing a x509/Validate Username Form and changing "Bypass identity confirmation" to "On" and then clicking the save button results in a java error.

### Version

20.0.0

### Expected behavior

Saving form after turning on Bypass identity confirmation should contain no errors.

### Actual behavior

Saving form after turning on Bypass identity confirma

[2022-11-04 07:08] edewit commented on #3176
yes this is for sure a patternfly issue we can't change how these components are rendered. So @ssilvert is the window tooling somehow not taking all these aria properties into account

[2022-11-04 07:09] Laurenzi opened #3709 "Error in UI ( Clients Client details Dedicated scopes): Cannot read properties of undefined (reading 'helpText')"
### Describe the bug

When opening up a client from any realm and navigating to Client scopes tab in the Client details view, upon clicking a dedicated mapper (for example account-dedicated, see screenshot)
![image](https://user-images.githubusercontent.com/5363733/199910423-21c895ed-0c44-4760-8f25-86119c1f223d.png)

I get an error in the UI: "Cannot read properties of undefined (reading 'helpText

[2022-11-04 08:09] edewit commented on #3696
oh I see now we used to allow you to just add a html file and it would render as part of the ui, this is a bit different atm we only support the Properties config. The new UI doesn't use plain html any more so it would mean that this would need an upgrade for the Identity Provider, but atm we don't have a upgrade path for the time being you would need to use the old ui. You can change to it by goi

[2022-11-04 08:44] jonkoops commented on #3709
This bug might already have been fixed, please try a [nightly version](https://github.com/keycloak/keycloak/releases/tag/nightly) of Keycloak and let us know if the problem exists there.

[2022-11-04 10:26] edewit commented on #3188
@pedroigor @ssilvert shouldn't this attribute filtering ( removing the attributes that are defined in the user profile ) be something that should be done on the server?

[2022-11-04 11:22] jonkoops opened #3712 "Improve DX for translations"
### Description

We need to have a system in place to handle translations properly and make it easy to:

- Identify missing translations in other locales
- Identify unused translations that can be removed
- Identify translations that need to be updated in different locales (after changing the English locale)

Ideally we'd have some kind of system in place that allows folks to provide translations

[2022-11-04 11:25] jonkoops commented on #3712
Another tool that looks very interesting and integrates into Github is [Crowdin](https://crowdin.com/).

[2022-11-04 14:11] benzitohhh opened #3715 ""Assign role to user" - roles beyond first 10 not accessible"
### Area

admin/ui

### Describe the bug

In the "assign role to user" modal (accessed via user -> roles)...

* pagination buttons do nothing (so results stay on the first window of 10 results, and it is not possible to access the rest)

* search box does nothing also

### Version

20.0.0

### Expected behavior

* pagination buttons should move to the next/previous page of results

* search box sh

[2022-11-04 16:29] ssilvert commented on #3714
@KenRoy-Octo This looks like a duplicate of https://github.com/keycloak/keycloak-ui/issues/3701

It should be fixed in the latest nightly build.  Can you try it out and let us know?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-11-04 16:31] ssilvert commented on #3715
@benzitohhh This should be fixed in the latest nightly build.  Can you try it out and let us know?

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-11-04 16:39] KenRoy-Octo commented on #3714
I get this error when testing keycloak-999-SNAPSHOTS from nightly build

Could not save the execution config: Unrecognized field "x509-cert-auth.confirmation-page-disallowed" (class org.keycloak.representations.idm.AuthenticatorConfigRepresentation), not marked as ignorable (3 known properties: "alias", "config", "id"]) at [Source: (io.quarkus.vertx.http.runtime.VertxInputStream); line: 1, column:

[2022-11-04 16:41] ssilvert commented on #3709
@Laurenzi Thanks for the thorough investigation.  I can't reproduce this on my end.

However, given what you found regarding the java call to `Profile.isFeatureEnabled(Profile.Feature.STEP_UP_AUTHENTICATION)`, I'm thinking that this is a server side bug.  So I'm going to transfer this issue over to the keycloak/keyclaok repo.

[2022-11-04 17:17] shibacomputer commented on #3696
As part of your team's ongoing consideration of the keycloak-ui roadmap, you should know that this breaking change, combined with the large updates and changes across major Keycloak versions, means that many third party custom identity providers have conformed to your new requirements and do not have old html templates for new versions of Keycloak. Meaning, to my knowledge, the solution suggested

[2022-11-04 19:01] xgp opened #3716 "`kc.sh build` fails with added/modified keycloak-admin-ui jar"
### Describe the bug

If you modify the `admin-ui` project, build the jar using `keycloak-theme`, add that jar to the `providers` dir of your keycloak distribution, and run `kc.sh build`, it fails. This appears to be because of the new Resources.

### Version

20.0.0

### Environment

_No response_

### Expected behavior

It should build as before.

### Actual behavior

[code]

### How to Reproduc

[2022-11-04 20:19] ssilvert commented on #3176
@edewit Yes.  That's what I'm seeing and NOT hearing on Windows.  I'll open an issue with PatternFly and close this one.

[2022-11-04 20:28] #3176 closed

[2022-11-07 08:55] dobrik-ardas opened #3765 "Unable to turn on users permissions feature"
### Area

account/api

### Describe the bug

In the admin UI users section -> permissions tab "Permissions enabled" switch doesn't work. And I'm unable to turn on grand type "urn:ietf:params:oauth:grant-type:uma-ticket".
In the console I get this error:

`keycloak      | 2022-11-07 08:39:03,761 ERROR [org.keycloak.services.error.KeycloakErrorHandler] (executor-thread-1) Uncaught server error: java

[2022-11-07 09:36] horus opened #3723 "Authentication execution config set to wrong values"
### Describe the bug

With the latest Admin Web UI, all the keys in the authentication execution config object got converted to some weird values during submission. The same config ended up in the database, too.
It seemed to be OK, as one cannot really tell the differences by simply looking at the UI - the config got converted back to the original value for display.

### Version

20.0.0

### Envir

[2022-11-07 09:54] agagancarczyk commented on #1092
hi @ssilvert I think we can close this issue. To date patternfly team haven't released the relevant component. The event search is working as expected and I wouldn't change its implementation. Thanks!

[2022-11-07 09:55] agagancarczyk commented on #3185
This is working as expected and can be closed now!

[2022-11-07 09:55] #3185 closed

[2022-11-07 10:06] mmadoo commented on #3406
I have a similar issue with keycloak 20.0.0 when I go to the Events page and realm is not master

[2022-11-07 11:46] agagancarczyk commented on #2843
This is minor and seems to be caused by using `.pf-c-list.pf-m-inline {display: flex}` style required for the list display.

[2022-11-07 11:46] #2843 closed

[2022-11-07 14:16] ssilvert commented on #3715
https://www.keycloak.org/server/configuration#_starting_keycloak

[2022-11-07 14:18] ssilvert commented on #3723
@horus This is fixed in the latest nightly build.

https://github.com/keycloak/keycloak/releases/tag/nightly

[2022-11-07 14:18] #3723 closed

[2022-11-07 14:55] libertosurf opened #3724 "Identity provider mapping "attribute name" is [object Object]"
### Describe the bug

When trying to add mappers to the Identity provider, upon the save action the "Attribute name" value gets transformed/displayed into [object Object].
Same thing happens if the field is left empty

### Version

19.0.1

### Environment

Chrome 107.0.5304.88

### Expected behavior

Show the proper entered value (or blank if left blank)

### Actual behavior

The value gets replac

[2022-11-07 15:43] ssilvert opened #3725 "`view-identity-providers` permission does not allow to see IDP settings"
### Discussed in https://github.com/keycloak/keycloak/discussions/15378

<div type='discussions-op-text'>

<sup>Originally posted by **roxanemace** November  7, 2022</sup>
Hello,

I would like to know if it's normal that the `view-identity-providers` permission doesn't allow to read the configuration of an Identity Provider.

How to reproduce?

1. Create a role with the following permissions with

[2022-11-07 15:46] ssilvert commented on #3725
@roxanemace This looks like a bug.  I have created an issue based on your discussion and moved the issue to the keycloak/keycloak-ui repo.

[2022-11-07 15:59] benzitohhh commented on #3715
Sorry @ssilvert I'm still totally confused how to run the nightly build :(

The link you sent (https://github.com/keycloak/keycloak/releases/tag/nightly) has bunch of zip files - which of these contains the actual build?

When I looked, most of the zip files just contain jar files, so I'm not sure how to start the server from these.

Thanks!

[2022-11-07 16:30] ssilvert commented on #3715
If you want to use the zip file, just unzip [keycloak-999-SNAPSHOT.zip](https://github.com/keycloak/keycloak/releases/download/nightly/keycloak-999-SNAPSHOT.zip).

I run it like this:
`cd lib`
`java -jar quarkus-run.jar start-dev`

[2022-11-07 16:38] johgoe opened #3726 "Account Console v2 always shows resource page on index.ftl"
### Area

account/ui

### Describe the bug

When a user enters Account Console v2, there is always a navigation to Resources even if it's not available in this Realm

### Version

20.0.0

### Expected behavior

The navigation should only be visibile when the feature is enabled.

### Actual behavior

On Account console v2 the link to resource (/auth/realms/my-realm/account/?referrer=frontend#/resou

[2022-11-07 16:41] benzitohhh commented on #3715
Ah thanks @ssilvert - I think that `keycloak-999-SNAPSHOT.zip` file was not there before.

Ok when I run that as per your instuctions, I get:
[code]

[2022-11-07 16:54] ssilvert commented on #3724
I believe this is fixed in Keycloak 20.0.0.  Can you give that a try and let us know?

[2022-11-07 18:08] #3588 closed

[2022-11-07 18:50] upfluentpatrickpilch opened #3727 "Adding Form sub-flow broken on admin v2"
### Area

admin/ui

### Describe the bug

When providing a custom `org.keycloak.authentication.FormAuthenticator` and associated factory, adding it to an authentication flow results in corrupted state and a non-working authentication flow.

### Version

19.0.3

### Expected behavior

When creating a new flow and selecting "add sub-flow", a user should be able to select the newly provided `FormAuth

[2022-11-07 19:01] ssilvert commented on #3715
You might be running into this problem if you are on Windows.  You will need to wait until tomorrow to get the fix.
https://github.com/keycloak/keycloak/pull/15376

[2022-11-07 19:12] ssilvert commented on #3727
@upfluentpatrickpilch

Does this work with the old admin UI?
Have you tried it with Keycloak 20.0.0?

[2022-11-07 19:14] benzitohhh commented on #3715
ah ok, I'm actually on MacOS, but will check tomorrow - thanks

[2022-11-07 19:34] ssilvert commented on #3727
@upfluentpatrickpilch

We don't think this is fixed already.

Can you provide us with a jar to reproduce this with?

[2022-11-07 20:02] edewit commented on #3696
@shibacomputer using the html is no longer an option, because the new UI is not based on angular any more. There is a issue for making IDP configurable through `ConfiguredProvider`  [#15344](https://github.com/keycloak/keycloak/issues/15344)

[2022-11-07 20:37] upfluentpatrickpilch commented on #3727
@ssilvert Confirmed the issue still exists on 20. I tried setting all my themes to keycloak & base, but couldn't figure out how to get back to the old admin UI. I'll have to dig around and see if it's feature flagged perhaps...

I'll work on getting a jar for reproduction purposes ready. But it could probably be as simple as
[code]
`META-INF/services/org.keycloak.authentication.FormAuthenticatorFa

[2022-11-07 21:16] upfluentpatrickpilch commented on #3727
[reproduction.tar.gz](https://github.com/keycloak/keycloak-ui/files/9955538/reproduction.tar.gz)

That jar will let you reproduce the issue.

[2022-11-07 21:57] ssilvert commented on #3700
@mrooding There is very little difference in functionality between the two.  You should be fine using the old UI until this issue is fixed.

[2022-11-08 07:03] roxanemace commented on #3725
Thanks @ssilvert! 🙏

[2022-11-08 08:27] jotamartos opened #3731 "Can't import realm in Keycloak version 20.0.0"
### Describe the bug

When using Keycloak 20.0.0 and trying to import a realm, the UI doesn't allow you import it when you **paste** the content of the json file, the "Import" button is not enabled. The json I'm trying to import is the following one:

[code]

![image](https://user-images.githubusercontent.com/8791635/200513158-c931f8ba-eeac-4457-aa23-66c226c7e525.png)

You can get the same results

[2022-11-08 09:55] libertosurf commented on #3724
I tried upgrading my server from 19.0.1 to 20.0.1 but it seems like the DB cannot be upgraded because of compatibility issues. Is it really the case or did I do something wrong?

I extracted the Keycloak server in a new folder, copied/pasted the conf/, providers/, themes/ and data/ from the "old" keycloak; Then, I ran the following command: `kc.bat start-dev --spi-connections-jpa-legacy-migration-

[2022-11-08 12:20] PinPinIre opened #3733 "Allow JS client to pass Forwarded Query Parameters in login call"
### Description

In the configuration of an Identity Provider there is a option called "Forwarded Query Parameters" which allows non-standard OIDC/Oauth params to be forwarded to an external IDP. Currently the JS client provides the `idpHint` parameter to tell a project to skip the login page and redirect to an external IDP. The JS client however does not provide a way to pass the "Forwarded Query

[2022-11-08 12:30] antikalk opened #3734 "Admin-UI: Show realm display name in realm drop down instead of realm id if available"
### Description

At the moment in the realm selector the available realms are displayed by their realm id. It would be nice if instead of the realmId the displayName is shown if available.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-08 13:19] #3253 closed

[2022-11-08 14:02] ssilvert commented on #3727
Thanks @upfluentpatrickpilch.  That's very helpful.   We'll take a look.

[2022-11-08 14:05] jonkoops opened #3735 "Run tests for the Admin Client on CI"
### Description

Currently we're running not running the tests for the Admin Client on CI as it requires a Keycloak server to get started first.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-08 20:03] xgp commented on #3716
For anyone who's experiencing this, a temporary workaround is to just exclude the class files from the jar. They'll be available and loaded because of the presence of the default admin ui lib in the Keycloak distribution. Removing them here simply packages the theme without the classes.
[code]

Would it be a good permanent solution to have them packaged separately?

[2022-11-08 21:51] nikel123 commented on #3635
I can't test easily nightly if it's not a docker container, unfortunately, but it's not fixed in 20.0.1, and the old admin interface seems to be removed, which makes the new release unusable for me for now.

[2022-11-08 21:51] nikel123 commented on #3635
@edewit do you know what commit is supposed to solve the issue?

[2022-11-08 22:33] nikel123 commented on #3635
The issue is now resolved in the new release 20.0.1

[2022-11-08 22:33] #3635 closed

[2022-11-09 09:31] mbikl opened #3736 "Assign roles to account - filter doesn't work"
### Describe the bug

I use Assign roles to accont, and I want to filter a list of roles. The filter doesn't work. I get all roles.

Thank you

Martin Bíkl

![image](https://user-images.githubusercontent.com/15977094/200793052-a20c8bcc-356a-49df-8a60-f97dd22c591f.png)

### Version

20.0.0

### Environment

Edge - last version

### Expected behavior

Filter will work

### Actual behavior

_No respo

[2022-11-09 10:51] hmlnarik opened #3737 "LDAP federation detail fails with `Cannot read properties of undefined (reading '0')`"
### Describe the bug

New admin console fails to display properties of LDAP user federation server when running `org.keycloak.testsuite.federation.ldap.LDAPHardcodedGroupMapperTest`.

### Version

main

### Environment

_No response_

### Expected behavior

LDAP federation details are displayed

### Actual behavior

![image](https://user-images.githubusercontent.com/5391360/200811047-b31ad54a-3e67

[2022-11-09 13:22] vplemyannik opened #3738 "Custom User Provider SPI: There are no settings to configure the periodically synchronization of users"
### Describe the bug

Hi,
I've implemented `ImportSynchronization` interface to sync users from legacy to keycloak
and [documentation](https://www.keycloak.org/docs/latest/server_development/#import-implementation-strategy)  says
_Once this interface is implemented by the provider factory, the administration console management page for the provider shows additional options. You can manually force

[2022-11-09 14:49] mbikl opened #3740 "Assign roles to account - paging doesn't work"
### Describe the bug

Hello,

Paging on Assign roles to account doesn't work. If I use the Paginator ( < > ), list of values doesn't change values.

Thank you

Martin

![image](https://user-images.githubusercontent.com/15977094/200861060-1e13d76c-f831-4825-8778-ef39512d7d5c.png)

### Version

20.0.0

### Environment

Edge - last version

### Expected behavior

_No response_

### Actual behavior

_

[2022-11-09 16:17] amoscatelli opened #3831 "Can't update user groups"
### Describe the bug

Can't update the user groups :

[code]

No error is thrown but groups are unchanged and shop is not assigned.

### Version

19.0.2

### Expected behavior

The shop group should be added.
Also I am trying to assign a group as a workaround for :
https://github.com/keycloak/keycloak-nodejs-admin-client/issues/253

### Actual behavior

Groups are unchanged after calling the api.

[2022-11-09 16:24] jonkoops commented on #3635
Thanks for verifying this for us @nikel123!

[2022-11-09 20:04] Floppy012 commented on #3708
@ssilvert sorry for disturbing. I'm currently finding some more visual bugs but I'm not sure whether I should report them or not as they seem pretty obvious. I'm actively using the v2 theme as it was enabled per default after I've setup keycloak.

I'm currently facing issues which are very annoying. For example: I'm debugging for about an hour now why `roles` are not added to the `id_token` even i

[2022-11-10 11:50] mabi opened #3741 "Enabling permissions in Administration console causes NullPointerException if "Fine Grain Admin Permissions" feature is not enabled"
### Area

admin/ui

### Describe the bug

If the "Fine Grain Admin Permissions" feature is not enabled, enabling permissions in Administration console causes a NullPointerException
[code]

### Version

20.0.1

### Expected behavior

If the feature is not enabled the `Permissions enabled` switch should be disabled.
The server should check for null.

### Actual behavior

If the feature is not enable

[2022-11-10 15:38] #3404 closed

[2022-11-10 16:17] #3604 closed

[2022-11-10 18:47] ssilvert opened #3742 "Realm selector requires two clicks to select something"
### Describe the bug

Realm selector requires two clicks to select something.

I just noticed that this started happening recently.

This technically should not be high impact because there is an obvious workaround.  But it's so ugly, I think we need to fix it soon to avoid complaints.

### Version

main

### Environment

_No response_

### Expected behavior

_No response_

### Actual behavior

_N

[2022-11-11 08:01] Guite opened #3764 "logged in users name encoded twice in account panel header"
### Area

account/ui

### Describe the bug

When a logged in user opens the account panel his first and last name are printed at the upper right corner. As soon as any action is done this string is output-encoded again so HTML entities are shown.

### Version

19.0.2

### Expected behavior

The name is shown in a human-friendly way.

### Actual behavior

The name is shown with HTML entities.

###

[2022-11-11 09:10] mkopeyka opened #3763 "Admin console doesn't work in case realm name changed to name with space"
### Area

admin/ui

### Describe the bug

I created realm with name `test` and admin console works fine, I use this url
[code]
However I see this message in case I changed name of realm to `test wcdc`, I use this url
[code]

[code]

[code]

### Version

20.0.1

### Expected behavior

I have to see admin console

### Actual behavior

I see this screen
[code]

### How to Reproduce?

1. Create realm

[2022-11-11 11:23] Daryes commented on #3386
As a head-up, I've finally updated to Firefox 102.3 ESR, and tested the admin.v2 UI.
It worked immediately, until a change was made to a client.
As per [ajcollins](https://github.com/ajcollins) report, disabling the browser cache took care of the issue. So while it is a working fix, it is meant to be temporary.

This said, if the cache is active, it seems to me the admin.v2 UI :
* expects in the c

[2022-11-11 11:43] omllobet opened #3743 "Custom User Provider SPI: MULTIVALUED_STRING_TYPE setting not being shown on ui (but saved and retrieved)"
### Describe the bug

I have a custom user provider that has a custom config property "my_list_config" that uses the type: ProviderConfigProperty.MULTIVALUED_STRING_TYPE.

In the interface I can see the setting and a "plus" button to add more strings to the list.

Then I have to change a default setting to enable the save button.

Once I've done that, the settings are saved but on reload, they are

[2022-11-11 12:54] aipirvu commented on #2511
@ShanaSkydancer In @edewit's screenshot you will notice that there is a client scope displayed as a link. That client scope is automatically generated for this client. In that screenshot the client is called `test` and the generated client scope is called `test-dedicated`. You can click on it and it will redirect you to a section where you can configure mappers for this client scope.

Here is in m

[2022-11-11 19:41] carlin-q-scott opened #3967 "Session "Never Expires" should be named "Inherited""
### Area

admin/ui

### Describe the bug

The drop downs for session timeouts say "Never Expires" throughout the UI, but if I hover over the ? it tells me that if they aren't set, then the SSO timeout is used. I think the drop-down should say "Inherited". And the help descriptions should state that they are inherited from the corresponding realm session settings. If that's the intended behavior.

[2022-11-14 12:30] jonkoops commented on #3569
Good to hear, thanks for following up @sbs101!

[2022-11-14 13:42] ssilvert commented on #3715
@benzitohhh Did you ever get a chance to check this out?

[2022-11-14 13:45] ssilvert commented on #3724
@libertosurf Were you able to get past your problem and try this out?

There should not be any problem upgrading.  I don't know much about that, so I suggest asking in the community.
https://www.keycloak.org/community

[2022-11-14 13:58] benzitohhh commented on #3715
Hey @ssilvert I just tried the latest nightly build (https://github.com/keycloak/keycloak/releases/download/nightly/keycloak-999-SNAPSHOT.zip)

But the issue is still there. See screenshot below.

It is really easy to reproduce (see the instructions at the beginning of this issue).

<img width="1443" alt="Screenshot 2022-11-14 at 13 55 15" src="https://user-images.githubusercontent.com/861758/2016

[2022-11-14 16:04] jonkoops commented on #3680
Dependabot will automatically keep this up-to-date for us, and I see we have merged the latest version in. Closing this issue.

[2022-11-14 16:04] #3680 closed

[2022-11-14 18:37] #3653 closed

[2022-11-15 08:27] mposolda opened #3769 "Update message for 'Valid Post Logout Redirect URIs' client option"
### Description

The message was updated in the old admin console based on the changes described in this issue https://github.com/keycloak/keycloak/issues/14884 . Related keycloak PR is here https://github.com/keycloak/keycloak/pull/15298 .

The same update to the message should be done also in the new admin console

### Discussion

_No response_

### Motivation

_No response_

### Details

_No re

[2022-11-15 13:58] ssilvert commented on #2835
Already fixed.

[2022-11-15 13:58] #2835 closed

[2022-11-15 14:05] #3310 closed

[2022-11-15 14:05] ssilvert commented on #3254
Need more time.

[2022-11-15 14:24] jonkoops opened #3774 "Remove session revocation by 'not before' date"
### Description

The Admin UI has a functionality to revoke all tokens before a specific date (see below). This is now replaced by token rotation and is therefore no longer useful, and should thus be removed.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-15 14:57] #3738 closed

[2022-11-15 16:20] #3740 closed

[2022-11-15 20:38] ssilvert commented on #3715
Thanks @benzitohhh.  Looks like you are not the only one reporting this.  It was just fixed today.  I'm closing as a duplicate of https://github.com/keycloak/keycloak-ui/issues/3740

[2022-11-15 20:38] #3715 closed

[2022-11-15 21:52] ssilvert commented on #3725
Note that user is required to have at least `view-identity-providers` and `query-clients` roles to view identity providers.

[2022-11-16 00:32] douglaspalmer opened #3780 "ServerInfoRepresentation does not support CryptoInfoRepresentation"
### Describe the bug

serverInfoRepersentation.js has no support for CryptoInfoRepresentation

### Version

_No response_

### Environment

_No response_

### Expected behavior

ServerInfoRepresentation should have a cryptoInfo property that returns a CryptoInfoRepresentation.

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-11-16 09:37] edewit commented on #3736
fixed by https://github.com/keycloak/keycloak-ui/pull/3775

[2022-11-16 09:37] #3736 closed

[2022-11-16 09:43] benzitohhh commented on #3715
@ssilvert Ah ok thanks much appreciated

[2022-11-16 10:35] #3780 closed

[2022-11-16 11:13] #2883 closed

[2022-11-16 13:35] valerii15298 opened #3830 "Documentation for handling errors"
### Description

Now it is very difficult to handle errors properly. As I understood when error occurs, axios object is thrown or something like that.
Would be nice to have some error handling functionality or at least docs.

### Discussion

_No response_

### Motivation

In production apps we need to have reliable way to handle errors and respond correctly.

### Details

_No response_

[2022-11-16 14:19] #3612 closed

[2022-11-16 16:08] #3698 closed

[2022-11-16 16:44] AzagraMac opened #4423 "Error! Failed to send email, and Error 400 API"
### Area

account/ui

### Describe the bug

Configured the mail in **admin/master/console/#/master/realm-settings/email**, a Gmail account, save the credentials and then click Test Connection, sometimes it gives ok, and other times failed, you save again and it gives ok, until you refresh the page and it gives error again.

By API also gives a 400 error when making a POST request.

![image](https:

[2022-11-16 20:03] ssilvert opened #3784 "Create a better way to query which Keycloak features are enabled/disabled."
### Description

Perhaps useServerInfo could return an object that has methods for asking what Keycloak features are enabled.  Currently, we have to do something like this:

[code]

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-16 23:03] #3725 closed

[2022-11-17 07:44] #2814 closed

[2022-11-17 08:32] edewit commented on #2109
this has been fixed already

[2022-11-17 08:32] #2109 closed

[2022-11-17 09:28] npriebe opened #3903 "User management -> User in 2 subgroups with the same group name assignment does not work"
### Area

admin/ui

### Describe the bug

Hi,
I noticed a bug when assigning groups to a user.

If I have 2 groups, and these groups have a subgroup the same name.
As in this example:

![group-tree](https://user-images.githubusercontent.com/54103655/202406948-845f6193-23e4-40da-a844-f5418a9d0faa.jpg)

If I now in the user management, add the user to the subgroup: Distribution/Employee. It is then

[2022-11-17 10:18] #3741 closed

[2022-11-17 11:38] #3727 closed

[2022-11-17 12:16] jonkoops commented on #3376
Resolved by #3648

[2022-11-17 12:16] #3376 closed

[2022-11-17 16:13] jonkoops commented on #3431
I'm going to close this as we currently do not have Turkish translations included in the project. If you'd like to help out with this feel free to open a PR to add this locale.

[2022-11-17 16:13] #3431 closed

[2022-11-17 16:14] #3714 closed

[2022-11-17 16:14] #3188 closed

[2022-11-17 18:55] pendula95 opened #3790 "Extended KeycloakOIDCIdentityProvider will not have same GUI when adding identityProvider"
### Describe the bug

I have extended KeycloakOIDCIdentityProvider and deployed it as custom provider on Keycloak.
When I go to admin console don't have the same GUI as when adding Default Keycloak Provider. Discovery is not present and page is same as when adding OIDC provider.
Also when saving configuration for this provider half of the settings is not saved, Advanced settings for example.

As a

[2022-11-18 12:05] edewit commented on #3765
This doesn't seem to be a ui issue @ssilvert

[2022-11-18 12:13] foliengriller opened #3904 "New Admin UI allows multiple user-attributes with the same key"
### Area

admin/ui

### Describe the bug

![image](https://user-images.githubusercontent.com/24498435/202702611-090b4052-c15f-4710-a362-3a2c6eaaae0e.png)

### Version

20.0.1

### Expected behavior

The key should be unique.

### Actual behavior

Key is used twice.

### How to Reproduce?

1. Create a User
2. add a first user-attribute with key "key" and some value
3. add a second user-attribute wi

[2022-11-18 15:02] libertosurf commented on #3724
I couldn't get the update to work, but after testing on a fresh install I can confirm that the issue has been fixed in KC 20.0.1

[2022-11-18 15:54] #3737 closed

[2022-11-18 16:28] creleros opened #3905 "New Admin UI does not list correctly available roles in a opened modal"
### Area

admin/ui

### Describe the bug

When trying to assign a role to a user, in the pop-up opened by the UI, it's not possible to filter by role name and the next pages show exactly the same content.
According to the two following screenshots, the content of the page is the same

![image](https://user-images.githubusercontent.com/60340059/202753050-05343804-ccb4-4287-8f29-a3cb2d95eb50.png)

!

[2022-11-18 16:46] #3731 closed

[2022-11-21 00:11] matumot commented on #3264
I checked keyloak 20.0.1 and this problem was fixed as expeced. Thank you.

[2022-11-21 12:29] jonkoops commented on #3264
Thanks for verifying @matumot

[2022-11-21 14:26] edewit commented on #3708
@Floppy012 strange thing is that keycloak has 2 values for not being set in the advanced settings. either the value is not there or the value is -1, so setting it back to "Never expires" changes the value to -1 which should be the same.

[2022-11-21 14:42] edewit commented on #3708
As for the client scope mapping bug that is super obvious, could you tell me how to get it? Because I can't seem to.

[2022-11-22 08:55] michbudz opened #3817 "Message customization - plurals not working for other than English"
### Describe the bug

Hi,
I have a problem with message customization in Polish.
I created my own theme with below files:

[code]

theme.properties contains:
[code]

Everything works perfect for keycloak theme, but when I change
[code]
to
[code]

I can’t see my custom Polish messages, instead I see the default English ones.

Do you know why cannot customize administration console messages in keycl

[2022-11-22 15:16] JBWatenbergScality opened #3829 "[typing] user.listGroups typing seems incorrect"
### Describe the bug

According to this documentation https://www.keycloak.org/docs-api/20.0.1/rest-api/index.html#_users_resource

GET /{realm}/users/{id}/groups

Accepts 3 additional non typed properties (first, max and search)

### Version

20.0.1

### Expected behavior

first, max and search should be typed here: https://github.com/keycloak/keycloak-nodejs-admin-client/blob/main/src/resources/

[2022-11-22 16:28] KenRoy-Octo commented on #3714
This is still an issue for KC 20.0.1.

[2022-11-22 16:51] Floppy012 commented on #3708
Alright. That's what confused me. Just to clarify. Having a `-1` in the client specific expiry settings means that the value will be taken from the realm settings instead?

I would suggest to add another option along the lines of `Use realm defaults` to clarify that the realm defaults are used.

---

I cannot reproduce it as well in an instance where the value has been changed once. But on a clean

[2022-11-22 17:48] #3708 closed

[2022-11-23 01:56] Floppy012 opened #3819 "Scope mapping settings shown as "on" even if they're disabled in v2 theme"
### Describe the bug

When setting up a new instance of Keycloak some settings of the `client roles` mapper of the `roles` client scope show as enabled in the v2 UI even if they're not enabled by default. Switching to the v1 theme reveals that they're actually not enabled.

![](https://user-images.githubusercontent.com/7030787/200929003-c5efc312-7641-4393-9e70-0f19a9c947c0.png)

![](https://user-i

[2022-11-23 13:17] ahus1 opened #3824 "Partial import result doesn't show "Group" for the type of the resource"
### Describe the bug

When doing a partial import, the "Type" remains empty for groups. It seems to be the only type where this happens.

![image](https://user-images.githubusercontent.com/3957921/203555161-9d969f8c-0988-4d9f-85b6-922bad2a03ac.png)

### Version

nightly

### Environment

Chome 107

### Expected behavior

The Type should be filled with "Groups"

### Actual behavior

The type is emp

[2022-11-23 17:43] sguilhen opened #3910 "New admin console missing action that allows synchronizing LDAP groups to Keycloak"
### Area

admin/ui

### Describe the bug

While triaging LDAP related issues, I came across a feature that seems to be missing in the new console: synchronization of LDAP groups to Keycloak, that was available in the `group-ldap-mapper` configuration screen in the old console. For a reference, here's a screenshot of this mapper in the old console, showing the buttons at the bottom that allow sychr

[2022-11-24 10:10] psytester opened #3828 "Modify Authentication "X509/Validate Username (Form)" config: HTTP 400 due to Unrecognized field "x509-cert-auth.mapper-selection""
### Describe the bug

This error does not exist, if the step configuration is done completly in first modification!

1. In Browser flow a new step `X509/Validate Username Form` was added.
2. In first modification some settings are done and saved.
3. In a second round, the step was modified to add `A regular expression to extract user identity` = `SERIALNUMBER=(.*?)(?:,|$)` only

That failes with e

[2022-11-24 10:31] jonkoops commented on #3714
If you look at the milestone assigned to this issue you will see that this was released in 20.0.2.

[2022-11-24 11:31] psytester opened #3866 "Modify Authentication "X509/Validate Username (Form)" config: HTTP 405 due to RESTEASY003650: No resource method found for PUT, return 405 with Allow header"
### Describe the bug

1. In Browser flow a new step X509/Validate Username was added and configured.
2. Enter the step settings to modify the config again.
3. Modify a field and revert that change!
4. click save, although nothing was changed

admin ui is using
`PUT http://10.2.56.12:8080/auth/admin/realms/my-realm/authentication/config/`
with payload:
[code]

HTTP 405 Response:
[code]

Notice! it

[2022-11-24 15:45] rtheys opened #3911 "Invalid language tag error when changing realm localization settings"
### Area

admin/ui

### Describe the bug

Hi,

When I select a realm from the drop down list that is not the master realm, and then go to Realm Settings and click on the Localization tab, the following error message appears:

[code]
This doesn't happen for the master realm, only for other realms.

Regards,
Rik

### Version

20.0.1

### Expected behavior

The realm tab opens similar to when the tab

[2022-11-24 16:36] antikalk commented on #3790
This might be related to #3696

[2022-11-24 16:59] #3616 closed

[2022-11-24 23:33] #3829 closed

[2022-11-25 11:56] jonkoops commented on #3819
@ssilvert what impact should this be assigned?

[2022-11-25 12:24] dcojo opened #3912 "[Keycloak 20.0.1 ] JWKS url can't be configured"
### Area

admin/ui

### Describe the bug

Keycloak 20.0.1

JWKS url can't be configured

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/53214916/203984588-d42161bf-f82e-4859-8ac9-57f0d93eced4.png">

Even when I try to import a client.json the field is ignored.
"jwks.url": "http://kong:8001/my-oidc/testoidc2/jwks"

Token signature fails.

### Version

20.0.1

### Expec

[2022-11-25 15:36] fezi opened #3896 "Fingerprint of 5.0.1 release did change after release"
### Describe the bug

2 Weeks ago, you had this integrity sha-512 hash (snippet from package-lock.json of a project depending on you):

    "node_modules/keycloak-js": {
      "version": "20.0.1",
      "resolved": "https://registry.npmjs.org/keycloak-js/-/keycloak-js-20.0.1.tgz",
      "integrity": "sha512-nd84PGuZZaU32iTvNYkHyw8UvmO6b6k9hCu/7kftwSaYTmOytQG9eK3DyL6idHmZQFHwz8QhJnqzEJYUtgmDIQ==",

[2022-11-27 09:34] psytester commented on #3763
Take a look at this discussion
https://github.com/keycloak/keycloak/discussions/11978

[2022-11-28 06:36] #3856 closed

[2022-11-28 19:45] #3724 closed

[2022-11-28 20:07] ssilvert commented on #3817
For `keycloak.v2` you will override different files.  It uses JSON files, which will be located in `keycloak.v2/admin/resources/resources/pl`.

Source is [here](https://github.com/keycloak/keycloak-ui/tree/main/apps/admin-ui/public/resources/pl).  As you can see, all the files for Polish are empty.  We would be happy to accept contributions.

Also, please let me know if this is working so I can cl

[2022-11-28 20:57] #2586 closed

[2022-11-28 20:58] #2584 closed

[2022-11-28 21:07] #1909 closed

[2022-11-28 21:22] ssilvert commented on #1712
I think this is OK as-is.  I don't want to spend developer time on it so I'm going to close as out of date.

[2022-11-28 21:22] #1712 closed

[2022-11-28 21:28] #1697 closed

[2022-11-28 21:31] ssilvert commented on #1687
I don't see us ever having time to justify working on this.  Closing as out of date.

[2022-11-28 21:31] #1687 closed

[2022-11-29 00:14] ssilvert commented on #1679
Defer.  We aren't ready to implement this yet.

[2022-11-29 00:22] ssilvert commented on #1677
I couldn't reproduce.  Looks like it was fixed.

[2022-11-29 00:22] #1677 closed

[2022-11-29 00:23] ssilvert commented on #1674
This is fixed.  Closing.

[2022-11-29 00:35] ssilvert commented on #1525
@edewit I think this is fixed.  Can you confirm and close?

[2022-11-29 06:31] edewit commented on #1525
yep done and not only that we only fetch the realm list when the dropdown is used

[2022-11-29 06:31] #1525 closed

[2022-11-29 06:51] edewit commented on #3790
@pendula95 what does it look like on the old console? I can't seem to reproduce a screen there as I get this error:
![image](https://user-images.githubusercontent.com/51133/204459198-768c2db7-fc95-4b0d-a0cf-78d5e5246cc9.png)

[2022-11-29 07:52] edewit commented on #3866
fixed: #3827

[2022-11-29 07:53] edewit commented on #3828
fixed: #3827

[2022-11-29 08:33] pendula95 commented on #3790
How can I can force old console to try and test?

[2022-11-29 09:37] DAHAG-ArisNourbakhsh commented on #3819
(exact same issue as #3425 just as an fyi )

[2022-11-29 09:51] Ekouyoja commented on #3716
Thanks for the workaround
I was able to RUN /opt/keycloak/bin/kc.sh --verbose build but it seems that it does not overwrite the existing admin-ui or have miss something.

[2022-11-29 11:11] edewit commented on #3790
you can go to realm settings -> themes and then select keycloak for the admin theme press save and then refresh the page

[2022-11-29 11:16] #3743 closed

[2022-11-29 11:53] xgp commented on #3716
@Ekouyoja I also named my theme differently. I don't know if that made the difference. That involved:
1. changing the name in `keycloak-theme/src/main/resources/META-INF/keycloak-themes.json`
2. changing the directory name in `keycloak-theme/src/main/resources/theme/`
3. changing the theme name in `keycloak-theme/pom.xml`

[2022-11-29 11:55] #3866 closed

[2022-11-29 11:55] #3828 closed

[2022-11-29 13:31] edewit commented on #3790
@pendula95 that is something we can no longer support in the new console as the new console is based on react and these html files are specifically for angular. There is a issue open that will add configuration to identity providers so that we can add fields dynamically

[2022-11-29 13:32] edewit commented on #3790
see this issue for more info https://github.com/keycloak/keycloak-ui/issues/3696

[2022-11-29 19:55] ssilvert commented on #1347
The [W3C](https://www.w3.org/WAI/ARIA/apg/patterns/dialogmodal/#:~:text=If%20a%20dialog%20contains%20the,action%20is%20difficult%20or%20impossible.) says we are doing it right:

`If a dialog contains the final step in a process that is not easily reversible, such as deleting data or completing a financial transaction, it may be advisable to set focus on the least destructive action, especially if

[2022-11-29 19:55] #1347 closed

[2022-11-29 20:00] ssilvert commented on #1281
We are using placeholders.  Closing as out of date.

[2022-11-29 20:00] #1281 closed

[2022-11-29 20:15] ssilvert commented on #1224
This is out of date as the test has been rewritten.  Also, I have confirmed that it now is possible to move a group to the root.

[2022-11-29 20:15] #1224 closed

[2022-11-29 20:20] ssilvert commented on #1197
Fixed already.  Also, this is a duplicate of https://github.com/keycloak/keycloak-ui/issues/1525

[2022-11-29 20:28] ssilvert commented on #1154
@agagancarczyk As I understand it, this was implemented, right?  Please confirm and close.

[2022-11-29 20:29] #1153 closed

[2022-11-29 20:34] ssilvert commented on #1115
Given that this behavior has been there many years and nobody has complained, I'm going to close this since we will never be able to justify spending time on it.

[2022-11-29 20:34] #1115 closed

[2022-11-29 20:36] ssilvert commented on #1101
I think we have thought about this quite a lot and made our decision.  Closing as out of date.

[2022-11-29 20:36] #1101 closed

[2022-11-29 20:39] ssilvert commented on #1019
Closing as a duplicate of https://github.com/keycloak/keycloak-ui/issues/1267

[2022-11-29 20:39] #1019 closed

[2022-11-29 20:41] ssilvert commented on #1018
This has been addressed.  Closing as out of date.

[2022-11-29 20:41] #1018 closed

[2022-11-29 20:55] ssilvert commented on #966
We don't have time to work on this right now.  Defer.

[2022-11-29 20:57] ssilvert commented on #961
This has been done.  Any discrepancies should be addressed with a separate issue.  Closing as out of date.

[2022-11-29 20:57] #961 closed

[2022-11-30 06:50] edewit commented on #3790
Do you have some example code so that I can reproduce this?

[2022-11-30 08:58] michbudz commented on #3817
Thanks @ssilvert, it works.
I noticed one issue, if I overwrite plural messages it doesn't work, the EN value is always taken.
For example `"deleteConfirmDialog_other": "Polish plural message"` in file `users.json` doesn't work, but
`"deleteConfirmDialog_one": "Polish singular message"` works great.

I will try to contribute translations.

[2022-11-30 11:37] Ekouyoja opened #3898 "User profile - firstName not showing"
### Describe the bug

So, i have compiled the admin-ui theme yesterday to give me an idea on user profile improvement.
Basicly, i have created a realm, activated user profile and created a user with random username, mail, first name and last name.
The user is created properly, but the first name is not showing up, i didn't saw a single error in keycloak log.

### Version

20.0.1

### Environment

[2022-11-30 16:46] thomasdarimont opened #3900 "Federation Link no longer visible for Users"
### Describe the bug

If users were imported from an LDAP federation, the old admin-console showed a federation link when looking at the user details. This was helpful to determine of a user was a local user or a federated user and from which federation the user came.

It would be helpful to have this feature again in the new admin console.

### Version

20.0.1

### Environment

chrome, firefox

#

[2022-11-30 18:32] mortenjoenby commented on #3375
Hi.
I don't quite get why a bug is not fix on the major version where it's found? It means that we have to upgrade major version to get this fix. That doesn't seem right.
We have just been through rigorous testing on v19 so we could upgrade from v14 and 17.
So please release a fix on v19.
Thanks.

[2022-11-30 20:09] ssilvert commented on #3817
OK.  I'll leave this open and we will look into the plural issue.  Thanks for the feedback.

[2022-11-30 20:25] ssilvert commented on #3903
Thanks for the bug report.  Transferring to keycloak-ui repo.

[2022-11-30 20:27] ssilvert commented on #3904
Thanks for the bug report.  Transferring to keycloak-ui repo.

[2022-11-30 20:29] ssilvert commented on #3905
Moved.